@using EJ2CoreSampleBrowser.Helpers;
@using Microsoft.AspNetCore;
@using CoreDemos;
@using System.IO;
@using System.Text.Encodings.Web
@using System.Text.Json
@{
    #if RELEASE && STAGING
        var isRelease = true;
    #else
        var isRelease = false;
    #endif
    var nodeTemplate = "<div><span class=\"tree-text\">${name}</span>" +
            "${if(type === \"update\")}<span class=\"e-badge sb-badge e-samplestatus ${type} tree tree-badge\">Updated</span>" +
            "${else}${if(type)}<span class=\"e-badge sb-badge e-samplestatus ${type} tree tree-badge\">${type}</span>${/if}${/if}</div>";
    var template = "<div role=\"list\" class=\"e-text-content e-icon-wrapper\"> <span class=\"e-list-text\" role=\"listitem\">${name}" +
                    "</span>${if(type === \"update\")}<span class=\"e-badge sb-badge e-samplestatus ${type}\">Updated</span>" +
                    "${else}${if(type)}<span class=\"e-badge sb-badge e-samplestatus ${type}\">${type}</span>${/if}${/if}</div>";

    var searchGroupTemplate = "${if(items[0][\"component\"])}<div class=\"e-text-content\"><span class=\"e-search-group\">${items[0].component}</span>" +
                    "</div>${/if}";

    var searchResultTemplate = "<div role=\"list\" class=\"e-text-content e-icon-wrapper\" data=\"${dir}/${url}\" uid=\"${uid}\" pid=\"${parentId}\">" +
                    "<span class=\"e-list-text\" role=\"listitem\">" +
                    "${name}</span></div>";
    var groupTemplate = "${if(items[0][\"category\"])}<div class=\"e-text-content\">" + "<span class=\"e-list-text\">${items[0].category}</span>" + "</div>${/if}";
    var cultureData = new string[] { "English", "German - Germany*", "French - Switzerland*", "Arabic*", "Chinese - China*" };
    var currencyData = new string[] { "USD","EUR","AED","CHF","CNY" };
    ThemeList tLists = new ThemeList();
    var themeMode = new[]
    {
        new { ThemeId = "light", Mode = "Light Mode", ThemeIndex=0 },
        new { ThemeId = "dark", Mode = "Dark Mode",ThemeIndex=1 }
    };

    String licenseKey = "null";
    var path = Directory.GetCurrentDirectory() + "/SyncfusionLicense.txt";
    if (File.Exists(path) && File.ReadAllText(path).Trim().Length > 0)
    {
        licenseKey = File.ReadAllText(path).Trim();
        var options = new JsonSerializerOptions
        {
            Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping
        };
        licenseKey = JsonSerializer.Serialize(licenseKey, options);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @if (IsSectionDefined("Title"))
    {
@RenderSection("Title", required: false)
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=yes , maximum-scale=2.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Syncfusion" />
    @if (IsSectionDefined("Meta"))
    {
@RenderSection("Meta", required: false)
    }
    <link rel="shortcut icon" href="~/favicon.ico" />
    <script type="text/javascript">
        function getAbsoluteURL() {
            return "@Url.Content("~/")";
        };
            var baseurl = window.baseurl = getAbsoluteURL();

        var themeName = location.hash.split('#/')[1];
        themeName = themeName ? themeName : 'tailwind3';
        if (@isRelease.ToString().ToLower() !== 'true') {
            themeName = themeName === "bootstrap5" ? 'bootstrap5.3' : themeName === "bootstrap5-dark" ? "bootstrap5.3-dark" : themeName;
        }
        if (window.location.href.includes('#/')) {
            window.addEventListener("hashchange", function () {
                 location.reload();
            });
        }
        document.write('<link href="' + baseurl + 'styles/' + themeName + '.css" rel="stylesheet" />');
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
            document.write('<script src="' + baseurl + 'scripts/bluebird.min.js"><\/script>');
            document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/shim.min.js"><\/script>');
        }

        if (window.location.href.includes("richtexteditor/onlinehtmleditor") || window.location.href.includes("richtexteditor/overview") || window.location.href.includes("richtexteditor/enterkeyconfiguration")) {
            const script = document.createElement("script");
            script.src = "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.js";
            script.type = "text/javascript";
            script.crossOrigin = "anonymous";
            script.integrity = "sha384-ZOA6P71JniaZeggiTrdBtXcCAtNzdrhPx0sMqGmHGSA6xauAjsbdu8+Rv1eWP60u";
            document.head.appendChild(script);
        }
    </script>
    <script>
        const link = document.createElement('link');
        link.rel = 'alternate';
        link.hreflang = 'en';
        link.href = window.location.href;
        document.head.appendChild(link);
    </script>
    <link href="~/scripts/bootstrap.min.css" rel="stylesheet" />
    <style rel="stylesheet" id="themelink"></style>
    <link href="~/styles/index.css" rel="stylesheet" />
    <script id='sample-datasource' type='text/javascript'></script>
    <script src="~/scripts/highlight.min.js"></script>
</head>
<body class="e-view" data-is-staging="@isRelease.ToString().ToLower()">
    @RenderBody()
    <!-- Google Tag Manager (noscript) -->
    <!--Page Load-->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3WXFWCW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!--Interaction-->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8WD8WN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div hidden id="sync-analytics" data-queue="EJ2 - ASP.NET Core - Demos"></div>
    <div class="sample-browser e-view">
        <div class="sb-mobile-overlay sb-hide"></div>
        <div class="sb-mobile-left-pane sb-hide">
        </div>
        <div class="sb-mobile-right-pane sb-hide">
            <div class="sb-mobile-preference sb-hide" role="complementary"></div>
            <div class="sb-mobile-prop-pane sb-hide"></div>
            <div class="sb-mobile-right-pane-close sb-icons"></div>
        </div>
        <div id='sample-header' class="sb-header e-view" role="banner">
            <div class='sb-header-left sb-left sb-table'>
                <div class='sb-header-item sb-table-cell'>
                    <div id="sb-toggle-left" role="button" tabindex="0" class="sb-slide-nav sb-icons toggle-active sb-icon-Hamburger" aria-label="toggle all controls navigation"
                         title='toggle leftpane'></div>
                </div>
                <div class='sb-header-item sb-table-cell'>
                    <div id='sb-header-text' class='e-sb-header-text'>
                        <span class='sb-header-text-left'>Essential Studio<sup>&reg;</sup> for</span>
                        <span class='sb-header-text-right' role="button" tabindex="0">ASP.NET Core</span>
                    </div>
                </div>
                <div class='sb-header-item sb-table-cell sb-lang-toggler-wrapper'>
                    <span id='sb-switcher' role="button" tabindex="0" class='sb-lang-toggler sb-icons sb-icon-Dropdown' aria-label="change the samplebrowser"></span>
                </div>
            </div>
            <div class='sb-header-right sb-right sb-table'>
                <div class="sb-header-item sb-table-cell">
                    <div id="header-theme-switcher" role="button" tabindex="0" class="theme-wrapper" title='Change theme of sample browser'>
                        <div id="sb-theme-text" class="sb-theme-text">
                            <span class="sb-header-text-left">CHOOSE THEME</span>
                        </div>
                        <div class="sb-theme-switcher-wrapper">
                            <span id="sb-theme-switcher" class="sb-theme-switch sb-icons sb-icon-Dropdown" role="presentation"></span>
                        </div>
                    </div>
                </div>
                <div class="sb-header-item sb-table-cell sb-settings-wrapper" id="themeSwitchDiv">
                    <div role="button"  data-theme="dark" id="buttoncolor" style="display: flex; align-items: center; padding: 5px;" tabindex="0">
                        <svg style="display: none;" id="darkThemeIcon" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 20 20" fill="none">
                            <g clip-path="url(#clip0_4_795)">
                                <path d="M16.9297 11.9219C15.7026 12.266 14.406 12.2772 13.1731 11.9545C11.9402 11.6318 10.8155 10.9868 9.91432 10.0856C9.01317 9.1845 8.36813 8.05973 8.04543 6.82684C7.72273 5.59396 7.734 4.2974 8.0781 3.07031C6.8683 3.40704 5.76785 4.05486 4.88633 4.94924C4.00482 5.84363 3.37303 6.95336 3.05387 8.16791C2.73472 9.38246 2.73934 10.6594 3.06729 11.8716C3.39524 13.0838 4.03507 14.189 4.92304 15.0769C5.81101 15.9649 6.91614 16.6047 8.12834 16.9327C9.34054 17.2606 10.6175 17.2653 11.8321 16.9461C13.0466 16.6269 14.1563 15.9951 15.0507 15.1136C15.9451 14.2321 16.5929 13.1317 16.9297 11.9219Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_4_795">
                                    <rect width="20" height="20" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <svg style="display: none;" fill="#cfc9c9" height="15px" width="15px" version="1.1" id="lightThemeIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64.00 64.00" enable-background="new 0 0 64 64" xml:space="preserve" stroke="#cfc9c9" transform="rotate(0)" stroke-width="2.816">
                            <g id="SVGRepo_bgCarrier" stroke-width="0" />
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="3.2"> <g id="Sum"> <path d="M17,31.9727993c0,8.295599,6.7157001,15.0206013,15,15.0206013s15-6.7250023,15-15.0206013 c0-8.2957001-6.7157021-15.0206985-15-15.0206985S17,23.6770992,17,31.9727993z M45,31.9727993 c0,7.1779995-5.8317986,13.0178013-13,13.0178013c-7.1681843,0-13-5.8398018-13-13.0178013 c0-7.1780987,5.8318157-13.0178986,13-13.0178986C39.1682014,18.9549007,45,24.7947006,45,31.9727993z" /> <path d="M32.7421989,11.7700996c0.5527,0,1-0.4478998,1-1.0014V1.0014c0-0.5535-0.4473-1.0014-1-1.0014 c-0.5527992,0-0.9999981,0.4479-0.9999981,1.0014v9.7672997C31.7422009,11.3221998,32.1893997,11.7700996,32.7421989,11.7700996z" /> <path d="M48.6445007,4.6588001C48.1640015,4.3790998,47.5527,4.5443001,47.2783012,5.0235l-4.8838005,8.4578991 c-0.2773018,0.4792004-0.1133003,1.0914001,0.364315,1.3681002c0.1581841,0.0918999,0.3300858,0.1350002,0.5,0.1350002 c0.3456841,0,0.6815834-0.1789999,0.8661842-0.4996996l4.8838158-8.4580002 C49.2860985,5.5476999,49.1221008,4.9355001,48.6445007,4.6588001z" /> <path d="M50.7616997,23.0286999c0.1689987,0,0.3408012-0.0429993,0.4990005-0.1340008l8.4580002-4.8835983 c0.4776001-0.2758007,0.6425972-0.8889008,0.3661995-1.3681011c-0.2763023-0.4771996-0.8837013-0.6434994-1.3661995-0.3666992 l-8.4580002,4.8836002c-0.4775009,0.2757988-0.6425018,0.8889999-0.3661995,1.3680992 C50.0790977,22.8488007,50.4160004,23.0286999,50.7616997,23.0286999z" /> <path d="M11.7676001,32.7421989c0-0.5533981-0.4473-1.0012989-0.999999-1.0012989H1.0000008c-0.5527,0-1,0.4479008-1,1.0012989 c0,0.5535011,0.4473,1.0014,1,1.0014h9.7676001C11.3203001,33.7435989,11.7676001,33.2957001,11.7676001,32.7421989z" /> <path d="M4.2822008,18.0111008L12.7402,22.8946991c0.1582003,0.0910015,0.3291006,0.1340008,0.4990005,0.1340008 c0.3457003,0,0.6827002-0.1798992,0.8671999-0.5007c0.2764149-0.4790993,0.1114149-1.0923004-0.3662004-1.3680992 l-8.4579992-4.8836002c-0.4813852-0.2768002-1.0918002-0.1125011-1.3662002,0.3666992 C3.6396008,17.1222,3.8047006,17.7353001,4.2822008,18.0111008z" /> <path d="M20.7411995,14.9844999c0.1699009,0,0.3418007-0.0431004,0.4990005-0.1339998 c0.4785004-0.2777004,0.6426163-0.8899002,0.3661995-1.3681002l-4.8827991-8.4579 c-0.2772999-0.4801998-0.8895998-0.6444001-1.3661995-0.3666997c-0.4785004,0.2776999-0.6425858,0.8898997-0.3662004,1.3680997 l4.8828001,8.4579C20.0596008,14.8055,20.3955002,14.9844999,20.7411995,14.9844999z" /> <path d="M32.7421989,52.2318993c-0.5527992,0-0.9999981,0.4478989-0.9999981,1.0014V62.9986 c0,0.5535011,0.4471989,1.0014,0.9999981,1.0014c0.5527,0,1-0.4478989,1-1.0014v-9.7653008 C33.7421989,52.6797981,33.294899,52.2318993,32.7421989,52.2318993z" /> <path d="M22.5272999,49.8936996c-0.4813995-0.2795982-1.0907993-0.114399-1.3661995,0.3647995l-4.8838005,8.457901 C16,59.1955986,16.1639996,59.8077011,16.6415997,60.0844994c0.1582165,0.0918999,0.330101,0.1348991,0.5,0.1348991 c0.3457012,0,0.6816006-0.1788979,0.8662167-0.4996986l4.8837833-8.457901 C23.1688995,50.7826004,23.0049,50.1705017,22.5272999,49.8936996z" /> <path d="M13.4824009,42.3922005l-8.4580002,4.8837013c-0.4775,0.2756996-0.6425853,0.8888969-0.3662,1.3680992 c0.1846147,0.3206978,0.5215001,0.5006981,0.8671999,0.5006981c0.1689,0,0.3407998-0.0430984,0.4990001-0.1339989 l8.4580002-4.8837013c0.4775-0.2756996,0.6425991-0.8889008,0.3661995-1.3680992 C14.5732002,42.2807007,13.9639006,42.1144981,13.4824009,42.3922005z" /> <path d="M63,31.7409h-9.7656021c-0.5527992,0-1,0.4479008-1,1.0012989c0,0.5535011,0.4472008,1.0014,1,1.0014H63 c0.5527,0,1-0.4478989,1-1.0014C64,32.1888008,63.5527,31.7409,63,31.7409z" /> <path d="M58.9756012,47.2759018l-8.4580002-4.8837013c-0.4805031-0.2766991-1.0917854-0.1114998-1.3662033,0.3666992 c-0.2763977,0.4791985-0.1113968,1.0923996,0.3662033,1.3680992l8.4580002,4.8837013 c0.1582146,0.0909004,0.3290977,0.1339989,0.4989967,0.1339989c0.3457031,0,0.6826019-0.1800003,0.867218-0.5006981 C59.6181984,48.1647987,59.4530983,47.5516014,58.9756012,47.2759018z" /> <path d="M42.8378983,50.2584991c-0.2753983-0.4791985-0.8866997-0.6443977-1.3661995-0.3647995 c-0.4776001,0.2768021-0.6415977,0.8889008-0.3642998,1.3680992l4.8838005,8.457901 c0.1846161,0.3208008,0.5205002,0.4996986,0.8661995,0.4996986c0.169899,0,0.3418007-0.0429993,0.5-0.1348991 c0.4775009-0.2767982,0.6416016-0.8889008,0.3642998-1.3680992L42.8378983,50.2584991z" /> </g> </g>
                            <g id="SVGRepo_iconCarrier"> <g id="Sum"> <path d="M17,31.9727993c0,8.295599,6.7157001,15.0206013,15,15.0206013s15-6.7250023,15-15.0206013 c0-8.2957001-6.7157021-15.0206985-15-15.0206985S17,23.6770992,17,31.9727993z M45,31.9727993 c0,7.1779995-5.8317986,13.0178013-13,13.0178013c-7.1681843,0-13-5.8398018-13-13.0178013 c0-7.1780987,5.8318157-13.0178986,13-13.0178986C39.1682014,18.9549007,45,24.7947006,45,31.9727993z" /> <path d="M32.7421989,11.7700996c0.5527,0,1-0.4478998,1-1.0014V1.0014c0-0.5535-0.4473-1.0014-1-1.0014 c-0.5527992,0-0.9999981,0.4479-0.9999981,1.0014v9.7672997C31.7422009,11.3221998,32.1893997,11.7700996,32.7421989,11.7700996z" /> <path d="M48.6445007,4.6588001C48.1640015,4.3790998,47.5527,4.5443001,47.2783012,5.0235l-4.8838005,8.4578991 c-0.2773018,0.4792004-0.1133003,1.0914001,0.364315,1.3681002c0.1581841,0.0918999,0.3300858,0.1350002,0.5,0.1350002 c0.3456841,0,0.6815834-0.1789999,0.8661842-0.4996996l4.8838158-8.4580002 C49.2860985,5.5476999,49.1221008,4.9355001,48.6445007,4.6588001z" /> <path d="M50.7616997,23.0286999c0.1689987,0,0.3408012-0.0429993,0.4990005-0.1340008l8.4580002-4.8835983 c0.4776001-0.2758007,0.6425972-0.8889008,0.3661995-1.3681011c-0.2763023-0.4771996-0.8837013-0.6434994-1.3661995-0.3666992 l-8.4580002,4.8836002c-0.4775009,0.2757988-0.6425018,0.8889999-0.3661995,1.3680992 C50.0790977,22.8488007,50.4160004,23.0286999,50.7616997,23.0286999z" /> <path d="M11.7676001,32.7421989c0-0.5533981-0.4473-1.0012989-0.999999-1.0012989H1.0000008c-0.5527,0-1,0.4479008-1,1.0012989 c0,0.5535011,0.4473,1.0014,1,1.0014h9.7676001C11.3203001,33.7435989,11.7676001,33.2957001,11.7676001,32.7421989z" /> <path d="M4.2822008,18.0111008L12.7402,22.8946991c0.1582003,0.0910015,0.3291006,0.1340008,0.4990005,0.1340008 c0.3457003,0,0.6827002-0.1798992,0.8671999-0.5007c0.2764149-0.4790993,0.1114149-1.0923004-0.3662004-1.3680992 l-8.4579992-4.8836002c-0.4813852-0.2768002-1.0918002-0.1125011-1.3662002,0.3666992 C3.6396008,17.1222,3.8047006,17.7353001,4.2822008,18.0111008z" /> <path d="M20.7411995,14.9844999c0.1699009,0,0.3418007-0.0431004,0.4990005-0.1339998 c0.4785004-0.2777004,0.6426163-0.8899002,0.3661995-1.3681002l-4.8827991-8.4579 c-0.2772999-0.4801998-0.8895998-0.6444001-1.3661995-0.3666997c-0.4785004,0.2776999-0.6425858,0.8898997-0.3662004,1.3680997 l4.8828001,8.4579C20.0596008,14.8055,20.3955002,14.9844999,20.7411995,14.9844999z" /> <path d="M32.7421989,52.2318993c-0.5527992,0-0.9999981,0.4478989-0.9999981,1.0014V62.9986 c0,0.5535011,0.4471989,1.0014,0.9999981,1.0014c0.5527,0,1-0.4478989,1-1.0014v-9.7653008 C33.7421989,52.6797981,33.294899,52.2318993,32.7421989,52.2318993z" /> <path d="M22.5272999,49.8936996c-0.4813995-0.2795982-1.0907993-0.114399-1.3661995,0.3647995l-4.8838005,8.457901 C16,59.1955986,16.1639996,59.8077011,16.6415997,60.0844994c0.1582165,0.0918999,0.330101,0.1348991,0.5,0.1348991 c0.3457012,0,0.6816006-0.1788979,0.8662167-0.4996986l4.8837833-8.457901 C23.1688995,50.7826004,23.0049,50.1705017,22.5272999,49.8936996z" /> <path d="M13.4824009,42.3922005l-8.4580002,4.8837013c-0.4775,0.2756996-0.6425853,0.8888969-0.3662,1.3680992 c0.1846147,0.3206978,0.5215001,0.5006981,0.8671999,0.5006981c0.1689,0,0.3407998-0.0430984,0.4990001-0.1339989 l8.4580002-4.8837013c0.4775-0.2756996,0.6425991-0.8889008,0.3661995-1.3680992 C14.5732002,42.2807007,13.9639006,42.1144981,13.4824009,42.3922005z" /> <path d="M63,31.7409h-9.7656021c-0.5527992,0-1,0.4479008-1,1.0012989c0,0.5535011,0.4472008,1.0014,1,1.0014H63 c0.5527,0,1-0.4478989,1-1.0014C64,32.1888008,63.5527,31.7409,63,31.7409z" /> <path d="M58.9756012,47.2759018l-8.4580002-4.8837013c-0.4805031-0.2766991-1.0917854-0.1114998-1.3662033,0.3666992 c-0.2763977,0.4791985-0.1113968,1.0923996,0.3662033,1.3680992l8.4580002,4.8837013 c0.1582146,0.0909004,0.3290977,0.1339989,0.4989967,0.1339989c0.3457031,0,0.6826019-0.1800003,0.867218-0.5006981 C59.6181984,48.1647987,59.4530983,47.5516014,58.9756012,47.2759018z" /> <path d="M42.8378983,50.2584991c-0.2753983-0.4791985-0.8866997-0.6443977-1.3661995-0.3647995 c-0.4776001,0.2768021-0.6415977,0.8889008-0.3642998,1.3680992l4.8838005,8.457901 c0.1846161,0.3208008,0.5205002,0.4996986,0.8661995,0.4996986c0.169899,0,0.3418007-0.0429993,0.5-0.1348991 c0.4775009-0.2767982,0.6416016-0.8889008,0.3642998-1.3680992L42.8378983,50.2584991z" /> </g> </g>
                        </svg>
                        <span id="themeSwitch" tabindex="0">Dark</span>
                    </div>
                </div>
                <div class="sb-header-splitter sb-download-splitter" id="sb-splitter-search"></div>
                <div class='sb-header-item sb-table-cell sb-search-wrapper' id="sb-search">
                    <div class='sb-search-btn' id='sb-trigger-search' role="button" tabindex="0" aria-label="toggle sample search" title="Toggle sample search">
                        <span class='sb-settings sb-icons sb-icon-Search'></span>
                    </div>
                </div>
                <div class='sb-header-item sb-table-cell sb-settings-wrapper'>
                    <div class='sb-setting-btn' role="button" tabindex="0" aria-label="toggle settings menu" tabindex="" title='Preferences'>
                        <span class='sb-settings sb-icons sb-icon-Settings-Preferences'></span>
                    </div>
                </div>
                <div class="sb-header-item sb-table-cell  sb-header-settings sb-icons"></div>
                @if (!(Context.Request.Host.Host == "localhost")) {
                    <div class="sb-header-splitter sb-download-splitter"></div>
                    <div class='sb-header-item sb-table-cell sb-download-wrapper'>
                        <a href='https://www.syncfusion.com/downloads/aspnetcore-js2' target="_blank" aria-label="FREE TRIAL">
                            <button id='download-now' class='sb-download-btn'>
                                <span class='sb-download-text'>FREE TRIAL</span>
                            </button>
                            <span class="sr-only">opens in a new tab</span>
                        </a>                    
                    </div>
                }
            </div>
        </div>
        <div id='sb-popup-section' class='sb-popups'>
            <ejs-dialog id="sb-switcher-popup" cssClass="sb-switch-popup" created="getSBSwitcher" visible=false aria-label="Please switch to the preferred platform">
                    <e-content-template>
                        <ul id='switch-sb' role="list">
                            <li class='sb-current' role="listitem">ASP.NET Core</li>
                            <li>
                                <a id='angular'>Angular</a>
                            </li>
                            <li role="listitem">
                                <a id='react'>React</a>
                            </li>
                            <li role="listitem">
                                <a id='javascript'>JavaScript (ES5)</a>
                            </li>
                            <li role="listitem">
                                <a id='typescript'>JavaScript</a>
                            </li>
                            <li role="listitem">
                                <a id='aspnetmvc'>ASP.NET MVC</a>
                            </li>
                            <li role="listitem">
                                <a id='vue'>Vue</a>
                            </li>
                            <li role="listitem">
                                <a id='blazor'>Blazor</a>
                            </li>
                        </ul>
                    </e-content-template>
                </ejs-dialog>
            <ejs-dialog id="theme-switcher-popup" cssClass="sb-theme-popup" created="getThemeSwitcher" visible=false aria-label="Please switch to the preferred theme">
                <e-dialog-position X="left" Y="bottom"></e-dialog-position>
                <e-content-template>
                    <ul id="themelist" class="options" role="list">
                    @if (isRelease)
                    {
                        <li class='e-list' id="material" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Material</span>
                        </li>
                    }
		                <li class='active' id="material3" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Material 3</span>
                        </li>
                     @if (isRelease)
                     {
                        <li class='e-list' id="fabric" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Fabric</span>
                        </li>
                    }
                        <li class='e-list' id="fluent" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Fluent</span>
                        </li>
                        <li class='e-list' id="fluent2" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Fluent 2</span>
                        </li>
                     @if (isRelease)
                     {
                        <li class='e-list' id="bootstrap" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Bootstrap</span>
                        </li>
                        <li class='e-list' id="bootstrap4" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Bootstrap v4</span>
                        </li>
                        <li class='e-list' id="bootstrap5" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Bootstrap v5</span>
                        </li>
                        <li class='e-list' id="bootstrap5.3" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Bootstrap 5.3</span>
                        </li>
                         <li class="e-list" id="tailwind">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Tailwind CSS</span>
                        </li>
                         <li class="e-list" id="tailwind3">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Tailwind3 CSS</span>
                        </li>
                    }
                    else 
                    {
                        <li class='e-list' id="bootstrap5.3" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Bootstrap 5</span>
                        </li>
                        <li class="e-list" id="tailwind3">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Tailwind CSS</span>
                        </li>
                    }
                        <li class="e-list" id="highcontrast">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">High Contrast</span>
                        </li>
                        <li class="e-list" id="fluent2-highcontrast">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Fluent 2 High Contrast</span>
                        </li>
                    </ul>
                </e-content-template>
            </ejs-dialog>
            <ejs-dialog id="settings-popup" cssClass="sb-setting-popup" created="getPreferences" visible=false aria-label="Please prefer touch or mouse mode, localization, and currency">
                <e-dialog-position X="right" Y="bottom"></e-dialog-position>
                <e-content-template>
                    <div class="sb-setting-container">
                        <div class='sb-setting-header'>
                            <span>
                                Preferences
                            </span>
                        </div>
                        <div class='sb-setting-content'>
                            <div class='sb-setting-item sb-responsive-section'>
                                <div class='setting-label'>
                                    <div class='sb-icons sb-setting-icons sb-icon-Responsive'></div>
                                    <div class='sb-setting-text'>Mode Selection</div>
                                </div>
                                <div class='setting-content btn-group setting-responsive'>
                                    <div id='touch' role="button" tabindex="0" class="sb-responsive-items set-border-radious-touch" title="Increased padding for actionable items to accommodate user touches">Touch</div>
                                    <div id='mouse' role="button" tabindex="0" class="sb-responsive-items set-border-radious-mouse" title="Default control sizes, optimized for use with mouse">Mouse</div>
                                </div>
                            </div>
                            <div class='sb-setting-item sb-setting-theme-section' id="themeMobile">
                                <div class='setting-label'>
                                    <div class='sb-icons sb-setting-icons sb-icon-Palette'></div>
                                    <div class='sb-setting-text'>Theme Selection</div>
                                </div>
                                <div class='setting-content  setting-theme-change'>
                                    <ejs-dropdownlist id="sb-setting-theme" cssClass="sb-setting-theme-select" dataSource="tLists.ThemeLists()" change="switchTheme" index=0 created="setIndex">
                                        <e-dropdownlist-fields text="Theme" value="Id"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
							</div>
                            <div class='sb-setting-item sb-setting-theme-section' id="themeSwitchMobile">
                                <div class='setting-label'>
                                    <div class='sb-icons sb-setting-icons'>
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 8.90909C7.5303 8.90909 7.98106 8.72348 8.35227 8.35227C8.72348 7.98106 8.90909 7.5303 8.90909 7C8.90909 6.4697 8.72348 6.01894 8.35227 5.64773C7.98106 5.27652 7.5303 5.09091 7 5.09091C6.4697 5.09091 6.01894 5.27652 5.64773 5.64773C5.27652 6.01894 5.09091 6.4697 5.09091 7C5.09091 7.5303 5.27652 7.98106 5.64773 8.35227C6.01894 8.72348 6.4697 8.90909 7 8.90909ZM7 10.1818C6.1197 10.1818 5.36932 9.87159 4.74886 9.25114C4.12841 8.63068 3.81818 7.8803 3.81818 7C3.81818 6.1197 4.12841 5.36932 4.74886 4.74886C5.36932 4.12841 6.1197 3.81818 7 3.81818C7.8803 3.81818 8.63068 4.12841 9.25114 4.74886C9.87159 5.36932 10.1818 6.1197 10.1818 7C10.1818 7.8803 9.87159 8.63068 9.25114 9.25114C8.63068 9.87159 7.8803 10.1818 7 10.1818ZM2.54545 7.63636H0V6.36364H2.54545V7.63636ZM14 7.63636H11.4545V6.36364H14V7.63636ZM6.36364 2.54545V0H7.63636V2.54545H6.36364ZM6.36364 14V11.4545H7.63636V14H6.36364ZM3.43636 4.29545L1.82955 2.75227L2.73636 1.81364L4.26364 3.40455L3.43636 4.29545ZM11.2636 12.1864L9.72045 10.5795L10.5636 9.70455L12.1705 11.2477L11.2636 12.1864ZM9.70455 3.43636L11.2477 1.82955L12.1864 2.73636L10.5955 4.26364L9.70455 3.43636ZM1.81364 11.2636L3.42045 9.72045L4.29545 10.5636L2.75227 12.1705L1.81364 11.2636Z" fill="#737373" fill-opacity="0.6" />
                                        </svg>
                                    </div>
                                    <div class='sb-setting-text'>Theme Mode</div>
                                </div>
                                <div class='setting-content setting-theme-change'>
                                    <ejs-dropdownlist id="sb-setting-mode" cssClass="sb-setting-theme-select" dataSource="themeMode" change="onModeChanges" index=0 enablePersistence=true>
                                        <e-dropdownlist-fields text="Mode" value="ThemeId"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
                            </div>
                            <div class='sb-setting-item sb-setting-culture'>
                                <div class='setting-label'>
                                    <div class='sb-icons sb-setting-icons sb-icon-Localization'></div>
                                    <div class='sb-setting-text'>Localization</div>
                                </div>
                                <div class='setting-content'>
                                    <ejs-dropdownlist id="sb-setting-culture" cssClass="sb-setting-culture-select" dataSource="cultureData" change="sbCulture" enablePersistence=true></ejs-dropdownlist>
                                </div>
                                <div class="sb-setting-translate">
                                    <span>*Translated by Google Translator.</span>
                                </div>
                            </div>
                            <div class='sb-setting-item sb-setting-currency'>
                                <div class='setting-label'>
                                    <div class='sb-icons sb-setting-icons sb-icon-Currency'></div>
                                    <div class='sb-setting-text'>Currency</div>
                                </div>
                                <div class='setting-content'>
                                    <ejs-dropdownlist id="sb-setting-currency" cssClass="sb-setting-currency-content" dataSource="currencyData" change="sbCurrency" enablePersistence=true></ejs-dropdownlist>
                                </div>
                            </div>
                        </div>
                    </div>
                </e-content-template>
            </ejs-dialog>
        </div>
        <div class="sb-content e-view">
            <div class="sb-body-overlay">
                <div class="sb-loading">
                    <svg class="circular" height="40" width="40" role="presentation">
                        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
            <div class="e-search-overlay sb-hide">
                <div class='sb-search-input' id='search-input-wrapper' data-value='' role="search">
                    <input type='text' aria-required="true" class="e-icons" id='search-input' onkeyup='this.parentElement.setAttribute("data-value",this.value)' class='e-icons' placeholder="Search here..." aria-label="search samples" />
                    <span class='e-icons sb-reset-icon'></span>
                    <span class='e-icons  sb-search-icon'></span>
                </div>
                <ejs-dialog id="search-popup" cssClass="sb-search-result" created="getSBSearch" visible=false aria-label="Please find the search result for the demo">
                    <e-dialog-position X="left"></e-dialog-position>
                    <e-content-template>
                        <ejs-listview style="display: none;" enable="true" id="search-result-list" select="searchNavigation" template=@searchResultTemplate groupTemplate=@searchGroupTemplate actionComplete="getSearchValue" ActionBegin="initSearchData">
                            <e-listview-fieldsettings id="uid" text="name" groupBy="sortId">
                            </e-listview-fieldsettings>
                        </ejs-listview>
                        <div class="search-no-record" id="search-no-records" style="display: none;">We are sorry. We cannot find any matches for your search term.</div>
                    </e-content-template>
                </ejs-dialog>
                
            </div>
            <div class='sb-left-pane e-view' role="navigation">
                <div class="sb-left-pane-header">
                    <div class="sb-header-top">
                        <div class="sb-ej2">
                            <div class="sb-mobile-logo"></div>
                            <div class="sb-name">Essential Studio<sup>&reg;</sup></div>
                        </div>
                    </div>
                </div>
                <div class="sb-home" onclick="document.getElementById('sb-home').click()">
                    <div class="sb-home-link sb-icons sb-icon-Home"></div>
                    <div class="sb-home-text">
                        <span>HOME</span>
                    </div>
                    <a id="sb-home" role="link" aria-label="ASP.NET Core Home Page" href="https://ej2.syncfusion.com/home/aspnetcore.html"></a>
                    <div id="toast-control">
                        <ejs-toast id="toast-element" created="getToastObj">
                            <e-toast-position X="Right"></e-toast-position>
                        </ejs-toast>
                    </div>
                </div>
                <div class='sb-control-navigation'>
                    <ejs-treeview cssClass="e-view" id="controlTree" nodeClicked="controlSelect" nodeTemplate="@Html.Raw(nodeTemplate)" created="setTreeData">
                        <e-treeview-fields id="id" parentId="pid" text="name" hasChildren="hasChild" expanded="expanded" htmlAttributes="url"></e-treeview-fields>
                    </ejs-treeview>
                    <div id="controlSamples">
                        <div id="sb-left-back" class="back" role="button" tabindex="0">
                            <div class="sb-icons sb-icon-Back"></div>
                            <div class='control-name'>All Controls</div>
                        </div>
                        <ejs-listview cssClass='e-view sb-control-list-top' enable="true" id="controlList" select="controlSelect" actionComplete="setSelectList" actionBegin="setSamplelist" template=@template groupTemplate=@groupTemplate>
                            <e-listview-fieldsettings id="uid" text="name" groupBy="order" htmlAttributes="data"></e-listview-fieldsettings>
                        </ejs-listview>
                    </div>
                </div>
                <div class='sb-left-footer'>
                    <div class="sb-mobile-header-buttons">
                        <a href='https://www.syncfusion.com/aspnet-core-ui-controls' target="_blank" aria-label="About">
                            <div class="sb-mobile-header-about">
                                About
                            </div>
                        </a>
                        <a href='https://www.syncfusion.com/downloads/aspnetcore-js2' target="_blank" aria-label="Pricing">
                            <div class="sb-mobile-header-price">Pricing</div>
                        </a>
                    </div>
                    <div class='sb-left-footer-links'>
                    </div>
                </div>
            </div>
            <div class='sb-right-pane e-view' id='right-pane' role="main">
                <div class="sb-content-overlay">
                    <div class="sb-loading">
                        <svg class="circular" height="40" width="40" role="presentation">
                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
                        </svg>
                    </div>
                </div>
                <div class='sb-desktop-wrapper' aria-label="contentinfo" role='main' >
                    <div id='component-name' role='heading' aria-label="contentinfo" aria-level="1" class='sb-component-name sb-rightpane-padding'>
                        @if (IsSectionDefined("Header"))
                        {
                            @RenderSection("Header", required: false)
                        }
                    </div>
                    <div id='sample-bread-crumb' class='sb-bread-crumb sb-rightpane-padding'>
                        <div class='sb-bread-crumb-text'>
                            <div class='category-text bread-ctext'> </div>
                            <div class='category-seperator sb-icons sb-icon-Next seperator'> </div>
                            <div class='component  bread-ctext'></div>
                            <div class="component-seperator sb-icons  sb-icon-Next seperator"> </div>
                            <div class='crumb-sample '></div>
                        </div>
                    </div>
                    <div class='sb-action-description sb-rightpane-padding'>
                        @if (IsSectionDefined("ActionDescription"))
                        {
                            @RenderSection("ActionDescription", required: false)
                        }
                    </div>
                    <div class='sb-content-tab' id='content-tab'>
                        <ejs-tab id="sb-content" cssClass="sb-content-section" selected="tabSelection" selecting="preventTabSwipe">
                            <e-tab-tabitems>
                                <e-tab-tabitem>
                                    <e-content-template>
                                        <div id='sb-content-header' class="e-tab-header sb-content-tab-header">
                                            <div>
                                                <span class="sb-icons sb-icon-Demo"></span><span class="sb-tab-title"> DEMO </span>
                                            </div>
                                            <div class="source-code-visible">
                                                <span class="sb-icons sb-icon-Code"></span><span class="sb-tab-title">  SOURCE </span>
                                            </div>
                                        </div>
                                        <div class="sb-content-toolbar">
                                            <div class="sb-desktop-setting">
                                               <div class="sb-toolbar-splitter sb-custom-item"></div>
                                            </div>
                                            <div class="sb-custom-item sample-navigation">
                                                <div class="pre-nav">
                                                    <ejs-tooltip id="pre-tooltip" content="Previous Sample" position=TopCenter showTipPointer="true">
                                                        <e-content-template>
                                                            <button type="button" id="prev-sample" class="sb-navigation-prev e-control e-tooltip e-lib e-disabled" aria-label="previous sample" disabled="">
                                                                <span class="sb-icons sb-icon-Previous"></span>
                                                            </button>
                                                        </e-content-template>
                                                    </ejs-tooltip>
                                                </div>
                                                <div class="next-nav">
                                                    <ejs-tooltip id="next-tooltip" content="Next Sample" position=TopCenter showTipPointer="true">
                                                        <e-content-template>
                                                            <button type="button" id="next-sample" class="sb-navigation-next e-control e-tooltip e-lib" aria-label="next sample">
                                                                <span class="sb-icons sb-icon-Next"></span>
                                                            </button>
                                                        </e-content-template>
                                                    </ejs-tooltip>
                                                </div>
                                            </div>
                                            <div class="sb-icons sb-mobile-setting"></div>
                                        </div>
                                        <div class="e-content sb-sample-content-area">
                                            <div>
                                                <div class='sb-demo-section'>
                                                    <div class="control-fluid">
                                                        <div class="container-fluid">
                                                            <div id="control-content">
                                                                <script src="~/scripts/ej2.min.js"></script>
                                                                <script>
                                                                    if (@Html.Raw(licenseKey) != "null" && ej.base.registerLicense != undefined) {
                                                                        ej.base.registerLicense(@Html.Raw(licenseKey));
                                                                    }
                                                                    function updateButtonTheme() {
                                                                        var currentURL = window.location.href;
                                                                        if (currentURL.includes("-dark")) {
                                                                            document.getElementById("buttoncolor").style.color = "#FFFFFF";
                                                                            document.getElementById("darkThemeIcon").style.display = "none";
                                                                            document.getElementById("lightThemeIcon").style.display = "inline-block";
                                                                            document.getElementById("themeSwitch").textContent = "Light";
                                                                            document.getElementById("themeSwitch").style.marginLeft = "4px";
                                                                        } else {
                                                                            document.getElementById("buttoncolor").style.color = "#000";
                                                                            document.getElementById("lightThemeIcon").style.display = "none";
                                                                            document.getElementById("darkThemeIcon").style.display = "inline-block";
                                                                            document.getElementById("themeSwitch").textContent = "Dark";
                                                                            document.getElementById("themeSwitch").style.marginLeft = "2px";
                                                                        }
                                                                        highContrast();
                                                                    }
                                                                    window.addEventListener('DOMContentLoaded', updateButtonTheme);

                                                                    function highContrast() {
                                                                        // Check if the URL ends with "highcontrast"
                                                                        if (window.location.href.endsWith("highcontrast") || window.location.href.endsWith("bootstrap4")) {
                                                                            // Get the div element by its id
                                                                            var themeSwitchDiv = document.getElementById("themeSwitchDiv");
                                                                            // Hide the div by setting its display property to "none"
                                                                            themeSwitchDiv.style.display = "none";
                                                                            var themeSwitchMobile = document.getElementById("themeSwitchMobile");
                                                                            // Hide the div by setting its display property to "none"
                                                                            themeSwitchMobile.style.display = "none";
                                                                        }
                                                                    }
                                                                </script>
                                                                @if (IsSectionDefined("ControlsSection"))
                                                                {
                                                                    @RenderSection("ControlsSection", required: false)
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class='sb-source-section'>
                                                    <ejs-tab id="sb-source-tab" cssClass="sb-source-code-section" headerPlacement=Bottom created="dynamicTabCreation" selecting="preventTabSwipe" selected="sourceTabSelected" selectedItem=0>
                                                    </ejs-tab>
                                                    <ejs-tooltip id="copy-tootip-element" position=BottomCenter content="Copied to clipboard" opensOn="Click" closeDelay=50 created="setCopyCode" target=".copy-tooltip">
                                                    </ejs-tooltip>
                                                </div>
                                            </div>
                                        </div>
                                    </e-content-template>
                                </e-tab-tabitem>
                            </e-tab-tabitems>
                        </ejs-tab>
                    </div>
                    <div class='description-section sb-rightpane-padding'>
                        @if (IsSectionDefined("Description"))
                        {
                            @RenderSection("Description", required: false)
                        }
                    </div>
                    <div class="sb-ad-container">
                        <div class="sb-ad-content-area">
                            <div class="sb-ad-header">Transform your ASP.NET Core web apps today with Syncfusion<sup>&reg;</sup> ASP.NET Core components</div>
                            <div class="sb-ad-points-div">
                                <div class="sb-ad-point-div">
                                    <div class="sb-ad-img-div sb-icons sb-ad-tick"></div>
                                    <div class="sb-ad-point-text">100+ high-performance and responsive UI components</div>
                                </div>
                                <div class="sb-ad-point-div">
                                    <div class="sb-ad-img-div sb-icons sb-ad-tick"></div>
                                    <div class="sb-ad-point-text">Dedicated support</div>
                                </div>
                                <div class="sb-ad-point-div">
                                    <div class="sb-ad-img-div sb-icons sb-ad-tick"></div>
                                    <div class="sb-ad-point-text">Hassle-free licensing</div>
                                </div>
                            </div>
                        </div>
                        <a class="sb-ad-link" href="https://www.syncfusion.com/downloads/aspnetcore-js2" target="_blank" rel="noopener" aria-label="try it for free">
                            <div class="sb-ad-try-area">
                                TRY IT FOR FREE
                            </div>
                            <span class="sr-only">opens in a new tab</span>
                        </a>
                    </div>
                    <div class="sb-footer" aria-label="contentinfo" role="main">
                        <div class="sb-footer-left">
                            <div class="sb-footer-links">
                                <a href="https://ej2.syncfusion.com/aspnetcore/documentation/introduction" target="_blank" aria-label="Documentation" >
                                    <div class="sb-footer-link">Documentation</div>
                                    <span class="sr-only">opens in a new tab</span>
                                </a>
                                <a href="https://www.syncfusion.com/forums/aspnetcore-js2" target="_blank" aria-label="Forum">
                                    <div class="sb-footer-link">Forum</div>
                                    <span class="sr-only">opens in a new tab</span>
                                </a>
                                <a href="https://www.syncfusion.com/blogs/" target="_blank" aria-label="Blog">
                                    <div class="sb-footer-link">Blog</div>
                                    <span class="sr-only">opens in a new tab</span>
                                </a>
                                <a href="https://support.syncfusion.com/kb" target="_blank" aria-label="Knowledge Base">
                                    <div class="sb-footer-link" ></div>
                                </a>
                            </div>
                            <div class="sb-footer-copyright">Copyright © 2001-2019 Syncfusion Inc.</div>
                        </div>
                        <div class="sb-footer-logo">
                            <a href="https://www.syncfusion.com/" target="_blank" role="link" aria-label="Syncfusion Home Page">
                                <div class="sb-footer-logo-icon"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='sb-mobilefooter e-view sample-navigation' id='mobile-footer'>
                 <ejs-button id="mobile-prev-sample" iconCss="sb-icons sb-icon-Previous" cssClass="sb-navigation-prev sb-left e-flat" aria-label="previous sample" content="PREVIOUS"></ejs-button>
                 <ejs-button id="mobile-next-sample" iconCss="sb-icons sb-icon-Next" cssClass="sb-navigation-next sb-right e-flat" iconPosition="Right" aria-label="next sample" content="NEXT"></ejs-button>
            </div>
        </div>
    </div>
     @if (IsSectionDefined("PreScripts"))
    {
        @RenderSection("PreScripts", required: false)
    }
    <script src="~/scripts/elasticlunr.min.js"></script>
    <script src="~/scripts/samplelist.js"></script>
    <script src="~/scripts/js-signals.min.js"></script>
    <script src="~/scripts/crossroads.js"></script>
    <script src="~/scripts/hasher.min.js"></script>
    <script src="~/scripts/index.js"></script>
    <ejs-scripts></ejs-scripts>
    @RenderSection("Scripts", required: false)
</body>
</html>
