@page

@using Syncfusion.EJ2
@{
    var minDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 05, 10, 00, 00);
    var maxDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27, 22, 30, 00);
    var minTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 05, 10, 00, 00);
    var maxTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27, 20, 30, 00);
    var value = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 09, 11, 00, 00);
}
@section ControlsSection {
    <div class="control-section">
    <div class="row ">
        <div class="col-lg-6 datetimepicker-section">
            <div id="wrapper">
                <label class="example-label">DateTime Restriction</label>
                <ejs-datetimepicker id="datetimepicker1" value="@value" min="@minDate" max="@maxDate"></ejs-datetimepicker>
            </div>
        </div>
        <div class="col-lg-6 datetimepicker-section">
            <div id="wrapper">
                <label class="example-label">Time Restriction</label>
                <ejs-datetimepicker id="datetimepicker2" value="@value" minTime="@minTime" maxTime="@maxTime"></ejs-datetimepicker>
            </div>
        </div>
    </div>
    </div>
}

@*custom code start*@
<style>
    #wrapper {
        max-width: 250px;
        padding: 30px 0px 0px;
        margin: 0 auto;
    }
</style>
@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>This example demonstrates date and time selection within specific ranges defined by the <code>Min</code>, <code>Max</code>, <code>MinTime</code>, and <code>MaxTime</code> properties. Dates and times outside these ranges are <code>restricted</code> and cannot be set or selected.</p>
    </div>

}

@section Description{
    <div id="description">
        <p>Date Range example explains the date and time selection within the specific range in a calendar and time popup list by using <code>Min</code>, <code>Max</code>, <code>MinTime</code> and <code>MaxTime</code> properties. Here, the 1st datetimepicker date selection range was restricted within a range from 7th 10:00 AM to 27th 10:30 PM days in a month.</p>
        <p>The 2nd datetimepicker time selection range is restricted from 10:00 AM to 8:30 PM of each day.</p>
        <p>More information on the datetime range configuration can be found in the <a href="https://ej2.syncfusion.com/aspnetcore/documentation/datetimepicker/date-time-range"                                                                                   target="_blank" aria-label="Navigate to the documentation for DateTime Range in ASP.NET Core DateTimePicker control">documentation section</a>.</p>
    </div>

}

@section Meta{
    <meta name="description" content="This example demonstrates the DateTime Range in ASP.NET Core DateTimePicker control. Explore here for more details." />
}
@section Title{
    <title>ASP.NET Core DateTimePicker DateTime Range Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of DateTime Range in ASP.NET Core DateTimePicker Control</h1>
}