@using EJ2CoreSampleBrowser.Helpers;
@using Microsoft.AspNetCore;
@using CoreDemos;
@{
    var nodeTemplate = "<div><span class=\"tree-text\">${name}</span>" +
            "${if(type === \"update\")}<span class=\"e-badge sb-badge e-samplestatus ${type} tree tree-badge\">Updated</span>" +
            "${else}${if(type)}<span class=\"e-badge sb-badge e-samplestatus ${type} tree tree-badge\">${type}</span>${/if}${/if}</div>";
    var template = "<div class=\"e-text-content e-icon-wrapper\"> <span class=\"e-list-text\" role=\"listitem\">${name}" +
                    "</span>${if(type === \"update\")}<span class=\"e-badge sb-badge e-samplestatus ${type}\">Updated</span>" +
                    "${else}${if(type)}<span class=\"e-badge sb-badge e-samplestatus ${type}\">${type}</span>${/if}${/if}</div>";

    var searchGroupTemplate = "${if(items[0][\"component\"])}<div class=\"e-text-content\"><span class=\"e-search-group\">${items[0].component}</span>" +
                    "</div>${/if}";

    var searchResultTemplate = "<div class=\"e-text-content e-icon-wrapper\" data=\"${dir}/${url}\" uid=\"${uid}\" pid=\"${parentId}\">" +
                    "<span class=\"e-list-text\" role=\"list-item\">" +
                    "${name}</span></div>";
    var groupTemplate = "${if(items[0][\"category\"])}<div class=\"e-text-content\">" + "<span class=\"e-list-text\">${items[0].category}</span>" + "</div>${/if}";
    var cultureData = new string[] { "English", "German - Germany*", "French - Switzerland*", "Arabic*", "Chinese - China*" };
    var currencyData = new string[] { "USD","EUR","AED","CHF","CNY" };
    ThemeList tLists = new ThemeList();
}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W8WD8WN');
    </script>
 <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    @if (IsSectionDefined("Title"))
    {
@RenderSection("Title", required: false)
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Syncfusion" />
    @if (IsSectionDefined("Meta"))
    {
@RenderSection("Meta", required: false)
    }
    <link rel="shortcut icon" href="~/favicon.ico" />
    <script type="text/javascript">
        function getAbsoluteURL() {
            return "@Url.Content("~/")";
        };
            var baseurl = window.baseurl = getAbsoluteURL();

        var themeName = location.hash.split('#/')[1];
        themeName = themeName ? themeName : 'material3';
            document.write('<link href="' + baseurl + 'styles/' + themeName + '.css" rel="stylesheet" />');

        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
            document.write('<script src="' + baseurl + 'scripts/bluebird.min.js"><\/script>');
            document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/shim.min.js"><\/script>');
        }
    </script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/roboto.css" rel="stylesheet">
    <link href="~/scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/highlight.css" rel="stylesheet" />
    <style rel="stylesheet" id="themelink"></style>
    <link href="~/styles/index.css" rel="stylesheet" />
    <link href="~/css/richtexteditor/codemirror.css" rel="stylesheet" />

    <script id='sample-datasource' type='text/javascript'></script>
    <script src="~/scripts/js-signals.min.js"></script>
    <script src="~/scripts/elasticlunr.min.js"></script>
    <script src="~/scripts/highlight.min.js"></script>
    <script src="~/scripts/crossroads.js"></script>
    <script src="~/scripts/hasher.min.js"></script>
    <script src="~/scripts/samplelist.js"></script>
    <script src="~/scripts/search-index.js"></script>
    <script src="~/scripts/ej2.min.js"></script>
    <script src="~/scripts/documenteditor/import-helper.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ZOA6P71JniaZeggiTrdBtXcCAtNzdrhPx0sMqGmHGSA6xauAjsbdu8+Rv1eWP60u" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.js" type="text/javascript"></script>
    <script crossorigin="anonymous" integrity="sha384-bx2UEHmkahlrzAHJQxatI4mjOrSrRKEmueT3DZSS3OY392BXvcqXcgUqWnse30VV" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/css/css.js" type="text/javascript"></script>
    <script crossorigin="anonymous" integrity="sha384-83KFdJ/lJGxIW+p+cbX3MI8vwU/s+pQbv42uek9/nt283oRLzP8YJ2J7uSBgoRuw" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.js" type="text/javascript"></script>
    <script crossorigin="anonymous" integrity="sha384-yUJOFmuHndKeGdERelLizdhzB2ghbvBSFWMcE7z3t5kOERXoOwvNQhYTAvjiZV80" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/htmlmixed/htmlmixed.js" type="text/javascript"></script>
</head>
<body class="e-view">
    @RenderBody()
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8WD8WN"height="0"width="0"style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div hidden id="sync-analytics" data-queue="EJ2 - ASP.NET Core - Demos"></div>
    <div class="sample-browser e-view">
        <div class="sb-mobile-overlay sb-hide"></div>
        <div class="sb-mobile-left-pane sb-hide">
        </div>
        <div class="sb-mobile-right-pane sb-hide">
            <div class="sb-mobile-preference sb-hide"></div>
            <div class="sb-mobile-prop-pane sb-hide"></div>
            <div class="sb-mobile-right-pane-close sb-icons"></div>
        </div>
        <div id='sample-header' class="sb-header e-view" role="banner">
            <div class='sb-header-left sb-left sb-table'>
                <div class='sb-header-item sb-table-cell'>
                    <div id="sb-toggle-left" role="button" tabindex="0" class="sb-slide-nav sb-icons toggle-active sb-icon-Hamburger" aria-label="toggle all controls navigation"
                         title='toggle leftpane'></div>
                </div>
                <div class='sb-header-item sb-table-cell'>
                    <div id='sb-header-text' class='e-sb-header-text'>
                        <span class='sb-header-text-left'>Essential Studio for</span>
                        <span class='sb-header-text-right'>ASP.NET Core</span>
                    </div>
                </div>
                <div class='sb-header-item sb-table-cell sb-lang-toggler-wrapper'>
                    <span id='sb-switcher' role="button" tabindex="0" class='sb-lang-toggler sb-icons sb-icon-Dropdown' aria-label="change the samplebrowser"></span>
                </div>
            </div>
            <div class='sb-header-right sb-right sb-table'>
                <div class="sb-header-item sb-table-cell">
                    <div id="header-theme-switcher" role="button" tabindex="0" class="theme-wrapper" title='Change theme of sample browser'>
                        <div id="sb-theme-text" class="sb-theme-text">
                            <span class="sb-header-text-left">CHOOSE THEME</span>
                        </div>
                        <div class="sb-theme-switcher-wrapper">
                            <span id="sb-theme-switcher" class="sb-theme-switch sb-icons sb-icon-Dropdown"></span>
                        </div>
                    </div>
                </div>
                <div class='sb-header-item sb-table-cell sb-search-wrapper'>
                    <div class='sb-search-btn' id='sb-trigger-search' role="button" tabindex="0" aria-label="toggle sample search" title="Toggle sample search">
                        <span class='sb-settings sb-icons sb-icon-Search'></span>
                    </div>
                </div>
                <div class='sb-header-item sb-table-cell sb-settings-wrapper'>
                    <div class='sb-setting-btn' role="button" tabindex="0" aria-label="toggle settings menu" tabindex="">
                        <span class='sb-settings sb-icons sb-icon-Settings-Preferences'></span>
                    </div>
                </div>
                <div class="sb-header-item sb-table-cell  sb-header-settings sb-icons"></div>
                <div class="sb-header-splitter sb-download-splitter"></div>
                <div class='sb-header-item sb-table-cell sb-download-wrapper'>
                    <a href='https://www.syncfusion.com/downloads/aspnetcore-js2' target="_blankss">                    
                        <button id='download-now' class='sb-download-btn'>
                            <span class='sb-download-text'>FREE TRIAL</span>
                        </button>
                    </a>                    
                </div>
            </div>
        </div>
        <div id='sb-popup-section' class='sb-popups'>
                <ejs-dialog id="sb-switcher-popup" cssClass="sb-switch-popup" created="getSBSwitcher" visible=false>
                    <e-content-template>
                        <ul id='switch-sb' role="list">
                            <li class='sb-current' role="listitem">ASP.NET Core</li>
                            <li>
                                <a id='angular'>Angular</a>
                            </li>
                            <li role="listitem">
                                <a id='react'>React</a>
                            </li>
                            <li role="listitem">
                                <a id='javascript'>JavaScript (ES5)</a>
                            </li>
                            <li role="listitem">
                                <a id='typescript'>JavaScript</a>
                            </li>
                            <li role="listitem">
                                <a id='aspnetmvc'>ASP.NET MVC</a>
                            </li>
                            <li role="listitem">
                                <a id='vue'>Vue</a>
                            </li>
                            <li role="listitem">
                                <a id='blazor'>Blazor</a>
                            </li>
                        </ul>
                    </e-content-template>
                </ejs-dialog>
            <ejs-dialog id="theme-switcher-popup" cssClass="sb-theme-popup" created="getThemeSwitcher" visible=false>
                <e-dialog-position X="left" Y="bottom"></e-dialog-position>
                <e-content-template>
                    <ul id="themelist" class="options" role="list">
		       <li class='active' id="material3" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Material 3</span>
                        </li>
                        <li class="e-list" id="material3-dark">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Material 3 Dark</span>
                        </li>
                        <li class='e-list' id="fluent" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Fluent</span>
                        </li>
                        <li class="e-list" id="fluent-dark">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Fluent Dark</span>
                        </li>
                        <li class='e-list' id="bootstrap5" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Bootstrap v5</span>
                        </li>
                        <li class="e-list" id="bootstrap5-dark">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Bootstrap v5 Dark</span>
                        </li>
                        <li class="e-list" id="tailwind">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Tailwind CSS</span>
                        </li>
                        <li class="e-list" id="tailwind-dark">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Tailwind CSS Dark</span>
                        </li>
                        <li class="e-list" id="material">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Material</span>
                        </li>
                        <li class="e-list" id="bootstrap4" role="listitem">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">Bootstrap v4</span>
                        </li>
                        <environment include="Development">
                            <li class="e-list" id="bootstrap" role="listitem">
                                <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                                <span class="switch-text">Bootstrap</span>
                            </li>
                            <li class="e-list" id="bootstrap-dark">
                                <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                                <span class="switch-text">Bootstrap Dark</span>
                            </li>
                        </environment>
                        <li class="e-list" id="highcontrast">
                            <span class='sb-icons sb-theme-select sb-icon-icon-selection'></span>
                            <span class="switch-text">High Contrast</span>
                        </li>
                    </ul>
                </e-content-template>
            </ejs-dialog>
            <ejs-dialog id="settings-popup" cssClass="sb-setting-popup" created="getPreferences" visible=false>
                <e-dialog-position X="right" Y="bottom"></e-dialog-position>
                <e-content-template>
                    <div class="sb-setting-container">
                        <div class='sb-setting-header'>
                            <span>
                                Preferences
                            </span>
                        </div>
                        <div class='sb-setting-content'>
                            <div class='sb-setting-item sb-responsive-section'>
                                <div class='setting-label'>
                                    <div class='sb-icons sb-setting-icons sb-icon-Responsive'></div>
                                    <div class='sb-setting-text'>Mode Selection</div>
                                </div>
                                <div class='setting-content btn-group setting-responsive'>
                                    <div id='touch' role="button" tabindex="0" class="sb-responsive-items set-border-radious-touch" title="Increased padding for actionable items to accommodate user touches">Touch</div>
                                    <div id='mouse' role="button" tabindex="0" class="sb-responsive-items set-border-radious-mouse" title="Default control sizes, optimized for use with mouse">Mouse</div>
                                </div>
                            </div>
                            <div class='sb-setting-item sb-setting-theme-section'>
                                <div class='setting-label'>
                                    <div class='sb-icons sb-setting-icons sb-icon-Palette'></div>
                                    <div class='sb-setting-text'>Theme Selection</div>
                                </div>
                                <div class='setting-content  setting-theme-change'>
                                    <ejs-dropdownlist id="sb-setting-theme" cssClass="sb-setting-theme-select" dataSource="tLists.ThemeLists()" change="switchTheme" index=0 created="setIndex">
                                        <e-dropdownlist-fields text="Theme" value="Id"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
							</div>
                            <div class='sb-setting-item sb-setting-culture'>
                                <div class='setting-label'>
                                    <div class='sb-icons sb-setting-icons sb-icon-Localization'></div>
                                    <div class='sb-setting-text'>Localization</div>
                                </div>
                                <div class='setting-content'>
                                    <ejs-dropdownlist id="sb-setting-culture" cssClass="sb-setting-culture-select" dataSource="cultureData" change="sbCulture" enablePersistence=true></ejs-dropdownlist>
                                </div>
                                <div class="sb-setting-translate">
                                    <span>*Translated by Google Translator.</span>
                                </div>
                            </div>
                            <div class='sb-setting-item sb-setting-currency'>
                                <div class='setting-label'>
                                    <div class='sb-icons sb-setting-icons sb-icon-Currency'></div>
                                    <div class='sb-setting-text'>Currency</div>
                                </div>
                                <div class='setting-content'>
                                    <ejs-dropdownlist id="sb-setting-currency" cssClass="sb-setting-currency-content" dataSource="currencyData" change="sbCurrency"></ejs-dropdownlist>
                                </div>
                            </div>
                        </div>
                    </div>
                </e-content-template>
            </ejs-dialog>
        </div>
        <div class="sb-content e-view">
            <div class="sb-body-overlay">
                <div class="sb-loading">
                    <svg class="circular" height="40" width="40">
                        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
            <div class="e-search-overlay sb-hide">
                <div class='sb-search-input' id='search-input-wrapper' data-value=''>
                    <input type='text' aria-required="true" class="e-icons" id='search-input' onkeyup='this.parentElement.setAttribute("data-value",this.value)' class='e-icons' placeholder="Search here..." aria-label="search samples" />
                    <span class='e-icons sb-reset-icon'></span>
                    <span class='e-icons  sb-search-icon'></span>
                </div>
                <ejs-dialog id="search-popup" cssClass="sb-search-result" created="getSBSearch" visible=false>
                    <e-dialog-position X="left"></e-dialog-position>
                    <e-content-template>
                        <ejs-listview enable="true" id="search-result-list" select="searchNavigation" template=@searchResultTemplate groupTemplate=@searchGroupTemplate actionComplete="getSearchValue" ActionBegin="initSearchData">
                            <e-listview-fieldsettings id="uid" text="name" groupBy="sortId">
                            </e-listview-fieldsettings>
                        </ejs-listview>
                    </e-content-template>
                </ejs-dialog>
            </div>
            <div class='sb-left-pane e-view'>
                <div class="sb-left-pane-header">
                    <div class="sb-header-top">
                        <div class="sb-ej2">
                            <div class="sb-mobile-logo"></div>
                            <div class="sb-name">Essential Studio</div>
                        </div>
                    </div>
                </div>
                <div class="sb-home" onclick="document.getElementById('sb-home').click()">
                    <div class="sb-home-link sb-icons sb-icon-Home"></div>
                    <div class="sb-home-text">
                        <span>HOME</span>
                    </div>
                    <a id="sb-home" role="link" aria-label="ASP.NET Core Home Page" href="https://ej2.syncfusion.com/home/aspnetcore.html"></a>
                    <div id="toast-control">
                        <ejs-toast id="toast-element" created="getToastObj">
                            <e-toast-position X="Right"></e-toast-position>
                        </ejs-toast>
                    </div>
                </div>
                <div class='sb-control-navigation'>
                    <ejs-treeview cssClass="e-view" id="controlTree" nodeClicked="controlSelect" nodeTemplate="@Html.Raw(nodeTemplate)" created="setTreeData">
                        <e-treeview-fields id="id" parentId="pid" text="name" hasChildren="hasChild" expanded="expanded" htmlAttributes="url"></e-treeview-fields>
                    </ejs-treeview>
                    <div id="controlSamples">
                        <div id="sb-left-back" class="back" role="button" tabindex="0">
                            <div class="sb-icons sb-icon-Back"></div>
                            <div class='control-name'>All Controls</div>
                        </div>
                        <ejs-listview cssClass='e-view sb-control-list-top' enable="true" id="controlList" select="controlSelect" actionComplete="setSelectList" actionBegin="setSamplelist" template=@template groupTemplate=@groupTemplate>
                            <e-listview-fieldsettings id="uid" text="name" groupBy="order" htmlAttributes="data"></e-listview-fieldsettings>
                        </ejs-listview>
                    </div>
                </div>
                <div class='sb-left-footer'>
                    <div class="sb-mobile-header-buttons">
                        <a href='https://www.syncfusion.com/aspnet-core-ui-controls' target="_blank">
                            <div class="sb-mobile-header-about">
                                About
                            </div>
                        </a>
                        <a href='https://www.syncfusion.com/downloads/aspnetcore-js2' target="_blank">
                            <div class="sb-mobile-header-price">Pricing</div>
                        </a>
                    </div>
                    <div class='sb-left-footer-links'>
                    </div>
                </div>
            </div>
            <div class='sb-right-pane e-view' id='right-pane'>
                <div class="sb-content-overlay">
                    <div class="sb-loading">
                        <svg class="circular" height="40" width="40">
                            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
                        </svg>
                    </div>
                </div>
                <div class='sb-desktop-wrapper'>
                    <div id='component-name' role='heading' aria-level="1" class='sb-component-name sb-rightpane-padding'>
                        @if (IsSectionDefined("Header"))
                        {
                            @RenderSection("Header", required: false)
                        }
                    </div>
                    <div id='sample-bread-crumb' class='sb-bread-crumb sb-rightpane-padding'>
                        <div class='sb-bread-crumb-text'>
                            <div class='category-text bread-ctext'> </div>
                            <div class='category-seperator sb-icons sb-icon-Next seperator'> </div>
                            <div class='component  bread-ctext'></div>
                            <div class="component-seperator sb-icons  sb-icon-Next seperator"> </div>
                            <div class='crumb-sample '></div>
                        </div>
                    </div>
                    <div class='sb-action-description sb-rightpane-padding'>
                        @if (IsSectionDefined("ActionDescription"))
                        {
                            @RenderSection("ActionDescription", required: false)
                        }
                    </div>
                    <div class='sb-content-tab' id='content-tab'>
                        <ejs-tab id="sb-content" cssClass="sb-content-section" selected="tabSelection" selecting="preventTabSwipe">
                            <e-tab-tabitems>
                                <e-tab-tabitem>
                                    <e-content-template>
                                        <div id='sb-content-header' class="e-tab-header sb-content-tab-header">
                                            <div>
                                                <span class="sb-icons sb-icon-Demo"></span><span class="sb-tab-title"> DEMO </span>
                                            </div>
                                            <div class="source-code-visible">
                                                <span class="sb-icons sb-icon-Code"></span><span class="sb-tab-title">  SOURCE </span>
                                            </div>
                                        </div>
                                        <div class="sb-content-toolbar">
                                            <div class="sb-desktop-setting">
                                                <button id="open-plnkr" class="sb-custom-item sb-plnr-section" disabled=""></button>
                                                <div class="sb-toolbar-splitter sb-custom-item"></div>
                                            </div>
                                            <div class="sb-custom-item sample-navigation">
                                                <div class="pre-nav">
                                                    <ejs-tooltip id="pre-tooltip" content="Previous Sample" position=TopCenter showTipPointer="true">
                                                        <e-content-template>
                                                            <button type="button" id="prev-sample" class="sb-navigation-prev e-control e-tooltip e-lib e-disabled" aria-label="previous sample" disabled="">
                                                                <span class="sb-icons sb-icon-Previous"></span>
                                                            </button>
                                                        </e-content-template>
                                                    </ejs-tooltip>
                                                </div>
                                                <div class="next-nav">
                                                    <ejs-tooltip id="next-tooltip" content="Next Sample" position=TopCenter showTipPointer="true">
                                                        <e-content-template>
                                                            <button type="button" id="next-sample" class="sb-navigation-next e-control e-tooltip e-lib" aria-label="next sample">
                                                                <span class="sb-icons sb-icon-Next"></span>
                                                            </button>
                                                        </e-content-template>
                                                    </ejs-tooltip>
                                                </div>
                                            </div>
                                            <div class="sb-icons sb-mobile-setting"></div>
                                        </div>
                                        <div class="e-content sb-sample-content-area">
                                            <div>
                                                <div class='sb-demo-section'>
                                                    <div class="control-fluid">
                                                        <div class="container-fluid">
                                                            <div id="control-content">
                                                                @if (IsSectionDefined("ControlsSection"))
                                                                {
                                                                    @RenderSection("ControlsSection", required: false)
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class='sb-source-section'>
                                                    <ejs-tab id="sb-source-tab" cssClass="sb-source-code-section" headerPlacement=Bottom created="dynamicTabCreation" selecting="preventTabSwipe" selected="sourceTabSelected" selectedItem=0>
                                                    </ejs-tab>
                                                    <ejs-tooltip id="copy-tootip-element" position=BottomCenter content="Copied to clipboard" opensOn="Click" closeDelay=50 created="setCopyCode" target=".copy-tooltip">
                                                    </ejs-tooltip>
                                                </div>
                                            </div>
                                        </div>
                                    </e-content-template>
                                </e-tab-tabitem>
                            </e-tab-tabitems>
                        </ejs-tab>
                    </div>
                    <div class='description-section sb-rightpane-padding'>
                        @if (IsSectionDefined("Description"))
                        {
                            @RenderSection("Description", required: false)
                        }
                    </div>
                    <div class="sb-ad-container">
                        <div class="sb-ad-content-area">
                            <div class="sb-ad-header">Transform your ASP.NET Core web apps today with Syncfusion ASP.NET Core components</div>
                            <div class="sb-ad-points-div">
                                <div class="sb-ad-point-div">
                                    <div class="sb-ad-img-div sb-icons sb-ad-tick"></div>
                                    <div class="sb-ad-point-text">85+ high-performance and responsive UI components</div>
                                </div>
                                <div class="sb-ad-point-div">
                                    <div class="sb-ad-img-div sb-icons sb-ad-tick"></div>
                                    <div class="sb-ad-point-text">Dedicated support</div>
                                </div>
                                <div class="sb-ad-point-div">
                                    <div class="sb-ad-img-div sb-icons sb-ad-tick"></div>
                                    <div class="sb-ad-point-text">Hassle-free licensing</div>
                                </div>
                            </div>
                        </div>
                        <a class="sb-ad-link" href="https://www.syncfusion.com/downloads/aspnetcore-js2" target="_blank" rel="noopener">
                            <div class="sb-ad-try-area">
                                TRY IT FOR FREE
                            </div>
                        </a>
                    </div>
                    <div class="sb-footer">
                        <div class="sb-footer-left">
                            <div class="sb-footer-links">
                                <a href="https://ej2.syncfusion.com/aspnetcore/documentation/" target="_blank">
                                    <div class="sb-footer-link">Documentation</div>
                                </a>
                                <a href="https://www.syncfusion.com/forums/aspnetcore-js2" target="_blank">
                                    <div class="sb-footer-link">Forum</div>
                                </a>
                                <a href="https://blog.syncfusion.com/" target="_blank">
                                    <div class="sb-footer-link">Blog</div>
                                </a>
                                <a href="https://www.syncfusion.com/kb" target="_blank">
                                    <div class="sb-footer-link">Knowledge Base</div>
                                </a>
                            </div>
                            <div class="sb-footer-copyright">Copyright © 2001-2019 Syncfusion Inc.</div>
                        </div>
                        <div class="sb-footer-logo">
                            <a href="https://www.syncfusion.com/" target="_blank" role="link" aria-label="Syncfusion Home Page">
                                <div class="sb-footer-logo-icon"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='sb-mobilefooter e-view sample-navigation' id='mobile-footer'>
                 <ejs-button id="mobile-prev-sample" iconCss="sb-icons sb-icon-Previous" cssClass="sb-navigation-prev sb-left e-flat" aria-label="previous sample" content="PREVIOUS"></ejs-button>
                 <ejs-button id="mobile-next-sample" iconCss="sb-icons sb-icon-Next" cssClass="sb-navigation-next sb-right e-flat" iconPosition="Right" aria-label="next sample" content="NEXT"></ejs-button>
            </div>
        </div>
    </div>
     @if (IsSectionDefined("PreScripts"))
    {
        @RenderSection("PreScripts", required: false)
    }
    <script src="~/scripts/index.js"></script>
       <ejs-scripts></ejs-scripts>
    @RenderSection("Scripts", required: false)
</body>
</html>
