@using Syncfusion.EJ2;
@section Meta{
    <meta name="description" content="This example demonstrates the Pointer Types in ASP.NET Core CircularGauge control. Explore here for more details." />
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample demonstrates the various pointer types available in the circular gauge.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to customize the pointer for an axis in the circular gauge. The circular gauge supports a variety of pointers, including marker, needle, and range bar. Additionally, the pointer can be customized, and multiple pointers can also be enabled.
        </p>
        <p>
            More information on the pointers can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/circular-gauge/gauge-pointers "aria-label="Documentation section" > Documentation section</a>.
        </p>
    </div>
}
@section ControlsSection{

    <div class="control-section" style="border:0px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        @{
                            var labelFont = new Syncfusion.EJ2.CircularGauge.CircularGaugeFont { Size = "0px" };
                        }
                        <ejs-circulargauge id="container1" load="gaugeLoad" centerY="40%" style="height:250px;" background="transparent">
                            <e-circulargauge-axes>
                                <e-circulargauge-axis startAngle="270" endAngle="90" minimum="0" maximum="100" radius="90%">
                                    <e-axis-linestyle width="3" color="#01aebe"></e-axis-linestyle>
                                    <e-axis-labelstyle position="@Syncfusion.EJ2.CircularGauge.Position.Outside" font="labelFont">
                                    </e-axis-labelstyle>
                                    <e-axis-majorticks height="0" interval="100" color="transparent"></e-axis-majorticks>
                                    <e-axis-minorticks height="0" width="0" color="transparent"></e-axis-minorticks>
                                    <e-circulargauge-pointers>
                                        <e-circulargauge-pointer type=Marker markerShape=InvertedTriangle value=80 radius="100%" markerHeight=15 markerWidth=15 color="rgb(0,171,169)"></e-circulargauge-pointer>
                                    </e-circulargauge-pointers>
                                    <e-circulargauge-annotations>
                                        <e-circulargauge-annotation content="<div style='font-size:14px;margin-top:10px;'>Marker pointer</div>" angle="180" zIndex="1" radius="28%"></e-circulargauge-annotation>
                                    </e-circulargauge-annotations>
                                </e-circulargauge-axis>
                            </e-circulargauge-axes>
                        </ejs-circulargauge>
                    </div>
                    <div class="col-sm-4">
                        <ejs-circulargauge id="container2" load="gaugeLoad" centerY="40%" style="height:250px;" background="transparent">
                            <e-circulargauge-axes>
                                <e-circulargauge-axis startAngle="270" endAngle="90" minimum="0" maximum="100" radius="90%">
                                    <e-axis-linestyle width="3" color="#ff5985"></e-axis-linestyle>
                                    <e-axis-labelstyle position="@Syncfusion.EJ2.CircularGauge.Position.Outside" font="labelFont">
                                    </e-axis-labelstyle>
                                    <e-axis-majorticks height="0" interval="100" color="transparent"></e-axis-majorticks>
                                    <e-axis-minorticks height="0" width="0" color="transparent"></e-axis-minorticks>
                                    <e-circulargauge-pointers>
                                        <e-circulargauge-pointer type=RangeBar value=66 radius="90%" color="#ff5985" pointerWidth=10>
                                            <e-pointer-animation enable=true duration=1000></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                    </e-circulargauge-pointers>
                                    <e-circulargauge-annotations>
                                        <e-circulargauge-annotation content="<div style='font-size:14px;margin-top:11px;'>Range bar pointer</div>" angle="180" zIndex="1" radius="28%"></e-circulargauge-annotation>
                                    </e-circulargauge-annotations>
                                </e-circulargauge-axis>
                            </e-circulargauge-axes>
                        </ejs-circulargauge>
                    </div>
                    
                    <div class="col-sm-4">
                        <ejs-circulargauge id="container3" load="gaugeLoad" centerY="40%" style="height:250px;" background="transparent">
                            <e-circulargauge-axes>
                                <e-circulargauge-axis startAngle="270" endAngle="90" minimum="0" maximum="100" radius="90%">
                                    <e-axis-linestyle width="3" color="#9250e6"></e-axis-linestyle>
                                    <e-axis-labelstyle position="@Syncfusion.EJ2.CircularGauge.Position.Outside" font="labelFont">
                                    </e-axis-labelstyle>
                                    <e-axis-majorticks height="0" interval="100" color="transparent"></e-axis-majorticks>
                                    <e-axis-minorticks height="0" width="0" color="transparent"></e-axis-minorticks>
                                    <e-circulargauge-pointers>
                                        <e-circulargauge-pointer value="70" radius="100%" color="#923C99" pointerWidth=6>
                                            <e-pointer-animation enable=true duration=900></e-pointer-animation>
                                            <e-pointer-cap radius="0">
                                            </e-pointer-cap>
                                            <e-pointer-needletail length="4%" color="#923C99" />
                                        </e-circulargauge-pointer>
                                    </e-circulargauge-pointers>
                                    <e-circulargauge-annotations>
                                        <e-circulargauge-annotation content="<div style='font-size:14px;margin-top:10px;'>Needle pointer</div>" angle="180" zIndex="1" radius="28%"></e-circulargauge-annotation>
                                    </e-circulargauge-annotations>
                                </e-circulargauge-axis>
                            </e-circulargauge-axes>
                        </ejs-circulargauge>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <ejs-circulargauge id="container4" load="gaugeLoad" centerY="40%" style="height:250px;" background="transparent">
                            <e-circulargauge-axes>
                                <e-circulargauge-axis startAngle="270" endAngle="90" minimum="0" maximum="100" radius="90%">
                                    <e-axis-linestyle width="3" color="#1E7145"></e-axis-linestyle>
                                    <e-axis-labelstyle position="@Syncfusion.EJ2.CircularGauge.Position.Outside" font="labelFont">
                                    </e-axis-labelstyle>
                                    <e-axis-majorticks height="0" interval="100" color="transparent"></e-axis-majorticks>
                                    <e-axis-minorticks height="0" width="0" color="transparent"></e-axis-minorticks>
                                    <e-circulargauge-pointers>
                                        <e-circulargauge-pointer value="80" radius="80%" color="green" pointerWidth=2 needleStartWidth=4 needleEndWidth=4>
                                            <e-pointer-animation enable=true duration=1000></e-pointer-animation>
                                            <e-pointer-cap radius="8" color="green">
                                            </e-pointer-cap>
                                            <e-pointer-needletail length="0%" />
                                        </e-circulargauge-pointer>
                                    </e-circulargauge-pointers>
                                    <e-circulargauge-annotations>
                                        <e-circulargauge-annotation content="<div style='font-size:14px;margin-top:29px;'>Customized pointer</div>" angle="180" zIndex="1" radius="28%"></e-circulargauge-annotation>
                                    </e-circulargauge-annotations>
                                </e-circulargauge-axis>
                            </e-circulargauge-axes>
                        </ejs-circulargauge>
                    </div>
                    <div class="col-sm-4">
                        <ejs-circulargauge id="container5" load="gaugeLoad" centerY="40%" style="height:250px;" background="transparent">
                            <e-circulargauge-axes>
                                <e-circulargauge-axis startAngle="270" endAngle="90" minimum="0" maximum="100" radius="90%">
                                    <e-axis-linestyle width="3" color="#e3a21a"></e-axis-linestyle>
                                    <e-axis-labelstyle position="@Syncfusion.EJ2.CircularGauge.Position.Outside" font="labelFont">
                                    </e-axis-labelstyle>
                                    <e-axis-majorticks height="0" interval="100" color="transparent"></e-axis-majorticks>
                                    <e-axis-minorticks height="0" width="0" color="transparent"></e-axis-minorticks>
                                    <e-circulargauge-pointers>
                                        <e-circulargauge-pointer value="80" radius="60%" color="#e3a21a" pointerWidth=10 markerHeight=5 markerWidth=5>
                                            <e-pointer-animation enable=true duration=1000></e-pointer-animation>
                                            <e-pointer-cap radius="8" color="white">
                                                <e-pointers-cap-border color="#e3a21a" width=1></e-pointers-cap-border>
                                            </e-pointer-cap>
                                            <e-pointer-needletail length="20%" color="#e3a21a" />
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer value="40" radius="60%" color="#ffb133" pointerWidth=10 markerHeight=5 markerWidth=5>
                                            <e-pointer-animation enable=true duration=1000></e-pointer-animation>
                                            <e-pointer-cap radius="8" color="white">
                                                <e-pointers-cap-border color="#ffb133" width=1></e-pointers-cap-border>
                                            </e-pointer-cap>
                                            <e-pointer-needletail length="20%" color="#e3a21a" />
                                        </e-circulargauge-pointer>
                                    </e-circulargauge-pointers>
                                    <e-circulargauge-annotations>
                                        <e-circulargauge-annotation content="<div style='font-size:14px;margin-top:22px;'>Multiple pointers</div>" angle="180" zIndex="1" radius="32%"></e-circulargauge-annotation>
                                    </e-circulargauge-annotations>
                                </e-circulargauge-axis>
                            </e-circulargauge-axes>
                        </ejs-circulargauge>
                    </div>
                    <div class="col-sm-4">
                        <ejs-circulargauge id="container6" load="gaugeLoad" centerY="40%" style="height:250px;" background="transparent">
                            <e-circulargauge-axes>
                                <e-circulargauge-axis startAngle="270" endAngle="90" minimum="0" maximum="100" radius="90%">
                                    <e-axis-linestyle width="3" color="transparent"></e-axis-linestyle>
                                    <e-axis-labelstyle position="@Syncfusion.EJ2.CircularGauge.Position.Outside" font="labelFont">
                                    </e-axis-labelstyle>
                                    <e-axis-majorticks height="0" interval="100" color="transparent"></e-axis-majorticks>
                                    <e-axis-minorticks height="0" width="0" color="transparent"></e-axis-minorticks>
                                    <e-circulargauge-pointers>
                                        <e-circulargauge-pointer value="40" radius="100%" color="#067bc2" pointerWidth=6>
                                            <e-pointer-animation enable=false duration=100></e-pointer-animation>
                                            <e-pointer-cap radius="0"></e-pointer-cap>
                                            <e-pointer-needletail length="4%" color="#067bc2" />
                                        </e-circulargauge-pointer>
                                        <e-circulargauge-pointer value="40" type=RangeBar radius="100%" color="#067bc2" pointerWidth=5>
                                            <e-pointer-animation enable=false duration=100></e-pointer-animation>
                                        </e-circulargauge-pointer>
                                    </e-circulargauge-pointers>
                                    <e-circulargauge-annotations>
                                        <e-circulargauge-annotation content="<div style='font-size:14px;margin-top:22px;'>Live Update</div>" angle="180" zIndex="1" radius="32%"></e-circulargauge-annotation>
                                    </e-circulargauge-annotations>
                                </e-circulargauge-axis>
                            </e-circulargauge-axes>
                        </ejs-circulargauge>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- custom code start -->
    <style>
        .control-section {
            min-height: 450px;
        }
    </style>
    <!-- custom code end -->
}
<script>

    window.addEventListener('load', function () {
        var fifthGauge = document.getElementById('container3').ej2_instances[0];
        var sixthGauge = document.getElementById('container6').ej2_instances[0];
        window.pointeGaugeInterval = setInterval(function () {
            var newVal = Math.random() * (90 - 20) + 20;
            if (document.getElementById('container3')) {
                fifthGauge.setPointerValue(0, 0, newVal);
            }
            else {
                clearInterval(window.pointeGaugeInterval);
            }
        }, 1000);
        window.gaugeInterval = setInterval(function () {
            var newVal = Math.random() * (80 - 30) + 30;
            if (document.getElementById('container6')) {
                sixthGauge.setPointerValue(0, 0, newVal);
                sixthGauge.setPointerValue(0, 1, newVal);
            }
            else {
                clearInterval(window.gaugeInterval);
            }
        }, 1000);
    });
    window.gaugeLoad = function (args) {
    @* custom code start *@
        var theme = location.hash.split('/')[1];
        theme = theme ? theme : 'Material';
        args.gauge.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast');
    @* custom code end *@
        }
</script>
@section Title{
    <title>ASP.NET Core CircularGauge Pointer Types Example - Syncfusion Demos </title>
                }
@section Header{
    <h1 class='sb-sample-text'>Example of Pointer Types in ASP.NET Core CircularGauge Control</h1>
                }