@page
@using EJ2CoreSampleBrowser.Models;
@using Syncfusion.EJ2.Gantt;
@model EJ2CoreSampleBrowser.Pages.Gantt.OverViewModel

@section ControlsSection {
    <div id="ToolbarTemplate">
        <div>
            <ejs-dropdownlist id="Drop" dataSource="@OverViewModel.ViewData()" placeHolder="View" width="90px"
                change="change">
                <e-dropdownlist-fields text="Type" value="Id"></e-dropdownlist-fields>
            </ejs-dropdownlist>
        </div>
    </div>
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='OverView' dataSource="@GanttData.OverviewData()" dateFormat="MMM dd, y" height="650px"
                    rowHeight="46" taskbarHeight="25" highlightWeekends="true" showColumnMenu="true" allowSelection="true"
                    enableWBS="true" enableAutoWbsUpdate="true" enableHover="true" projectStartDate="01/25/2025"
                    projectEndDate="01/30/2026" treeColumnIndex="0" viewType='ProjectView' allowSorting="true"
                    allowFiltering="true" gridLines="Both" allowResizing="true" load="load" created="ganttdataBound"
                    resources="@GanttData.EditingResources()" toolbar="@Model.ToolbarItems">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate" parentID="ParentID"
                        endDate="EndDate" duration="TimeLog" progress="Progress" dependency="Predecessor"
                        constraintType="ConstraintType" constraintDate="ConstraintDate" resourceInfo="Resource">
                    </e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="WBSCode" headerText="WBS ID" width="120"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Product Release" width="200"
                            clipMode="EllipsisWithTooltip"></e-gantt-column>
                        <e-gantt-column field="Assignee" width="180" allowSorting="false" headerText="Assignee"
                            template="#columnTemplate"></e-gantt-column>
                        <e-gantt-column field="Status" minWidth="100" width="120" headerText="Status"
                            template="#columnTemplate1"></e-gantt-column>
                        <e-gantt-column field="Priority" minWidth="80" width="120" headerText="Priority"
                            template="#columnTemplate2"></e-gantt-column>
                        <e-gantt-column field="WBSPredecessor" headerText="WBS Predecessor" width="200"></e-gantt-column>
                        <e-gantt-column field="ConstraintType" width="200"></e-gantt-column>
                        <e-gantt-column field="ConstraintDate" width="200"></e-gantt-column>
                        <e-gantt-column field="Progress" headerText="Completion(%)" width="250"></e-gantt-column>
                        <e-gantt-column field="TimeLog" headerText="Work Log" width="150"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-resourcefields id="ResourceId" name="ResourceName" unit="ResourceUnit">
                    </e-gantt-resourcefields>
                    <e-gantt-splittersettings columnIndex="4"></e-gantt-splittersettings>
                    <e-gantt-eventmarkers>
                        <e-gantt-eventmarker day="03/13/2025" cssClass="e-custom-event-marker"
                            label="Project Initiative"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="04/18/2025" cssClass="e-custom-event-marker"
                            label="Requirement Gathering"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="05/30/2025" cssClass="e-custom-event-marker"
                            label="Design Phase"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="11/25/2025" cssClass="e-custom-event-marker"
                            label="Deployment"></e-gantt-eventmarker>
                    </e-gantt-eventmarkers>
                    <e-gantt-selectionsettings mode="Row" type="Single" enableToggle="true"></e-gantt-selectionsettings>
                    <e-gantt-holidays>
                        <e-gantt-holiday from="02/17/2025" to="02/17/2025" label="Presidents' Day"
                            cssClass="e-custom-holiday"></e-gantt-holiday>
                        <e-gantt-holiday from="07/04/2025" to="07/04/2025" label="Independence Day"
                            cssClass="e-custom-holiday"></e-gantt-holiday>
                    </e-gantt-holidays>
                    <e-gantt-labelSettings rightLabel="#rightLabel" taskLabel='${Progress}%'></e-gantt-labelSettings>
                    <e-gantt-timelinesettings timelineUnitSize="50" showTooltip="true">
                        <e-timelinesettings-toptier unit="Month" format="MMM yyyy"></e-timelinesettings-toptier>
                        <e-timelinesettings-bottomtier unit="Day" count='4' format="dd"></e-timelinesettings-bottomtier>
                    </e-gantt-timelinesettings>
                    <e-gantt-tooltipsettings showTooltip="true">
                    </e-gantt-tooltipsettings>
                    <e-gantt-filtersettings type="Menu"></e-gantt-filtersettings>
                </ejs-gantt>
            </div>
        </div>

    </div>

    <script id="columnTemplate" type="text/x-template">
                                ${if(ganttProperties.resourceNames)}
                            <div style="align-content:center">
                                    <img src="@Url.Content("../images/Gantt/${ganttProperties.resourceNames}.png")" style="height:25px;width:25px" />
                                <span >
                                    <div style="display:inline-block;position:relative;top:-2px; left:5px;font-size:13px">${Assignee}</div>
                                    <div style=" font-size: 9px; text-align:left; margin-left:31px">${taskData.Department}</div>
                                </span>
           
                            </div>
                           ${/if}
                            </script>

    <script type="text/x-template" id="columnTemplate1">
                                ${if(taskData.Status)}
                                <div style="${Status(taskData.Status)}"><span style="${StatusContent(taskData.Status)}">${taskData.Status}</span></div>
                                ${/if}
                            </script>
    <script type="text/x-template" id="columnTemplate2">
                                ${if(taskData.Priority)}
                            <div style="display:flex;">
                                <div class="${PriorityIcon(taskData.Priority)}" style="${PriorityIconStyle(taskData.Priority)}" ></div> 
                                <span style="${PriorityContent(taskData.Priority)}">${taskData.Priority}</span>
                            </div>
                            ${/if}
                            </script>
    <script type="text/x-template" id="rightLabel">
                            <div>
                               ${if(ganttProperties.resourceInfo)}
                               <div id = "rightLabel">
                                ${if(ganttProperties.resourceInfo.length !==0)}
                                 <img src="@Url.Content("../images/Gantt/${ganttProperties.resourceNames}.png")" style="height:25px;width:25px;" />
                                 <span style="margin-left:3px"> ${Assignee}</span>
                                 ${/if}
         
                               </div>
                               ${/if}
                            </div>
                        </script>
    <style>
        .fluent2 #overviewSample .e-toolbar-items .e-toolbar-right .e-template .e-input-group,
        .fluent2-dark #overviewSample .e-toolbar-items .e-toolbar-right .e-template .e-input-group,
        .fluent2-highcontrast #overviewSample .e-toolbar-items .e-toolbar-right .e-template .e-input-group {
            width: 99px !important;
        }
    </style>

    <script>
        var theme;
        var style;
        var IconClass;
        var CurrentTheme;
        var statusStyleColor;
        var priorityStyle;
        var priorityContentStyle;
        var statusContentstyleColor;
        function load() {
            var i = 0;
            var themeCollection = ['bootstrap5', 'bootstrap', 'bootstrap4', 'fluent', 'fabric', 'fusionnew', 'material3', 'material', 'highcontrast', 'tailwind', 'fluent2', 'tailwind3', 'bootstrap5.3'];
            var cls = document.body.className.split(' ');
            theme = cls.indexOf('bootstrap5') > 0 ? 'bootstrap5' : cls.indexOf('bootstrap') > 0 ? 'bootstrap' : cls.indexOf('tailwind') > 0 ? 'tailwind' :
                cls.indexOf('fluent') > 0 ? 'fluent' : cls.indexOf('fabric') > 0 ? 'fabric' :
                    cls.indexOf('material3') > 0 ? 'material3' : cls.indexOf('bootstrap4') > 0 ? 'bootstrap4' : cls.indexOf('material') > 0 ? 'material' :
                        cls.indexOf('fusionnew') > 0 ? 'fusionnew' : cls.indexOf('highcontrast') > 0 ? 'highcontrast' : cls.indexOf('bootstrap5.3') > 0 ? 'bootstrap5.3' :
                            cls.indexOf('fluent2') > 0 ? 'fluent2' : cls.indexOf('tailwind3') > 0 ? 'tailwind3' : ''
            var check = themeCollection.indexOf(theme);
            if (check >= 0) {
                CurrentTheme = true;
            }
            else {
                CurrentTheme = false;
            }
        }
        function isRtl() {
            let gantt = document.getElementsByClassName('e-gantt')[0].ej2_instances[0];
            if (gantt.enableRtl) {
                return 'right:10px;';
            } else {
                return 'left:10px;';
            }
        }

        function Status(status) {
            switch (status) {
                case "In Progress":
                    statusStyleColor = (CurrentTheme) ? "#006AA6" : "#34B6FF";
                    style = "display: flex; padding: 2px 10px; gap: 10px; width: 96px; height: 24px; border: solid 1px" + statusStyleColor;
                    break;
                case "Open":
                    style = "display: flex; justify-content:center; gap: 10px; width: 96px; height: 24px; border: solid 1px red";
                    break;
                case "On Hold":
                    statusStyleColor = (CurrentTheme) ? "#766B7C" : "#CDCBD7";
                    style = "display: flex; justify-content:center; gap: 10px; width: 96px; height: 24px; border: solid 1px" + statusStyleColor;
                    break;
                case "Completed":
                    statusStyleColor = (CurrentTheme) ? "#00A653" : "#92FFC8";
                    style = "display: flex; padding: 2px 10px; gap: 10px; width: 96px; height: 24px; border: solid 1px" + statusStyleColor;
                    break;
            }
            return style;
        }

        function StatusContent(status) {
            switch (status) {
                case "In Progress":
                    statusContentstyleColor = (CurrentTheme) ? "#006AA6" : "#34B6FF";
                    style = "width: 72px; height: 22px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; text-align: center; color: " + statusContentstyleColor;
                    break;
                case "Open":
                    style = "width: 54px; height: 22px; font-style: normal;  font-weight: 500; font-size: 14px; line-height: 22px; text-align: center; color: red; ";
                    break;
                case "On Hold":
                    statusContentstyleColor = (CurrentTheme) ? "#766B7C" : "#CDCBD7";
                    style = "width: 54px; height: 22px; font-style: normal;  font-weight: 500; font-size: 14px; line-height: 22px; text-align: center; color: " + statusContentstyleColor;
                    break;
                case "Completed":
                    statusContentstyleColor = (CurrentTheme) ? "#00A653" : "#92FFC8";
                    style = "width: 74px; height: 22px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; text-align: center; color: " + statusContentstyleColor;
                    break;
                case "High":
                    statusContentstyleColor = (CurrentTheme) ? "#f35620" : "#FFB5B8";
                    style = "width: 31px; height: 22px; font-style: normal; font-weight: 500; font-size: 14px; line-height: 20px; text-align: center; color: " + statusContentstyleColor;
                    break;
            }
            return style;
        }

        function Priority(priority) {
            switch (priority) {
                case "Low":
                    priorityStyle = (CurrentTheme) ? "#00A653" : "#FDFF88";
                    style = " margin-top:2px; color: " + priorityStyle + "!important";
                    break;
                case "Normal":
                    priorityStyle = (CurrentTheme) ? "#7100A6" : "#E3A9FF";
                    style = " margin-top:2px; !important; color: " + priorityStyle + "!important";
                    break;
                case "Critical":
                    priorityStyle = (CurrentTheme) ? "#FF3740" : "#FFB5B8";
                    style = "margin-top:2px; color: " + priorityStyle + "!important";
                    break;
                case "High":
                    priorityStyle = (CurrentTheme) ? "#f35620" : "#FFB5B8";
                    style = "margin-top:2px; color: " + priorityStyle + "!important";
                    break;
            }
            return style;
        }

        function PriorityContent(priority) {
            switch (priority) {
                case "Low":
                    priorityContentStyle = (CurrentTheme) ? "#00A653" : "#FDFF88";
                    style = "width: 28px; height: 22px; font-style: normal;  font-size: 14px; margin-left:3px; line-height: 20px; text-align: center; color: " + priorityContentStyle;
                    break;
                case "Normal":
                    priorityContentStyle = (CurrentTheme) ? "#7100A6" : "#E3A9FF";
                    style = "width: 28px; height: 22px; font-style: normal;  margin-left:3px; font-size: 14px; line-height: 20px; text-align: center; color: " + priorityContentStyle;
                    break;
                case "Critical":
                    priorityContentStyle = (CurrentTheme) ? "#FF3740" : "#FFB5B8";
                    style = "width: 48px; height: 22px; font-style: normal;  font-size: 14px; margin-left:3px; line-height: 20px; text-align: center; color: " + priorityContentStyle;
                    break;
                case "High":
                    priorityContentStyle = (CurrentTheme) ? "#eb6343" : "#FFB5B8";
                    style = "width: 31px; height: 22px; font-style: normal; font-size: 14px; margin-left:3px; line-height: 20px; text-align: center; color: " + priorityContentStyle;
                    break;
            }
            return style;
        }

        function PriorityIconStyle(priority) {
            switch (priority) {
                case "Low":
                    priorityStyle = (CurrentTheme) ? "#00A653" : "#FDFF88";
                    style = " margin-top:2px; color: " + priorityStyle + "!important";
                    break;
                case "Normal":
                    priorityStyle = (CurrentTheme) ? "#7100A6" : "#E3A9FF";
                    style = " margin-top:2px; !important; color: " + priorityStyle + "!important";
                    break;
                case "Critical":
                    priorityStyle = (CurrentTheme) ? "#FF3740" : "#FFB5B8";
                    style = "margin-top:2px; color: " + priorityStyle + "!important";
                    break;
                case "High":
                    priorityStyle = (CurrentTheme) ? "#f35620" : "#FFB5B8";
                    style = "margin-top:2px; color: " + priorityStyle + "!important";
                    break;
            }
            return style;
        };
        function PriorityIcon(priority) {
            switch (priority) {
                case "Low":
                    IconClass = "e-icons e-arrow-down e-icon-style";
                    break;
                case "Normal":
                    IconClass = "e-icons e-arrow-right e-icon-style";
                    break;
                case "Critical":
                    IconClass = "e-icons e-arrow-up e-icon-style";
                    break;
                case "High":
                    IconClass = "e-icons e-arrow-up e-icon-style";
                    break;
            }
            return IconClass;
        };

        function change(e) {
            var ganttObj = document.getElementById("OverView").ej2_instances[0];
            var position = e.value;

            if (position === 'Grid') {
                ganttObj.splitterSettings.position = '100%';
            }
            else if (position === 'Chart') {
                ganttObj.splitterSettings.position = '0%';
            }
            else {
                ganttObj.splitterSettings.position = '57%';
            }

            ganttObj.refresh();
        };
        function ganttdataBound() {
             var ganttObj = document.getElementById("OverView").ej2_instances[0];
             ganttObj.enableHover = true;
        }
        function getConstraintText(props) {
            const constraintType = props.constraintType;
            if (constraintType !== undefined && constraintType !== null) {
                const map = {
                    0: 'As Soon As Possible',
                    1: 'As Late As Possible',
                    2: 'Must Start On',
                    3: 'Must Finish On',
                    4: 'Start No Earlier Than',
                    5: 'Start No Later Than',
                    6: 'Finish No Earlier Than',
                    7: 'Finish No Later Than'
                };
                return map[constraintType];
            }
            return '';
        }

    </script>
}

@section ActionDescription {
    <div id="action-description">
        <p>This sample provides an overview of the Gantt Chart, showcasing its key features through an e-commerce
            platform redesign project
            timeline. It visualizes task hierarchies, dependencies, milestones, and resource allocations, enabling efficient
            project tracking from planning to deployment.
        </p>
    </div>
}
@section Description {
    <p>This demo presents an e-commerce platform redesign project, demonstrating key features such as task organization,
        customizable timeline views,
        resource management, and interactive controls. Users can <a target="_blank"
            href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_AllowSorting">sort</a> and <a
            target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_AllowFiltering">filter
            tasks</a>, <a target="_blank"
            href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_AllowResizing"> resize</a> and <a
            target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_AllowReordering">reorder
            columns</a>, track progress with <a target="_blank"
            href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_RenderBaseline"> baselines</a>,
        and highlight key dates with <a target="_blank"
            href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_EventMarkers">event markers</a> and <a
            target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_Holidays"> holidays</a>.
        The <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_Toolbar"> toolbar </a>
        offers intuitive options to add, edit, delete, search, and expand or
        collapse tasks. Additionally, users can configure <a target="_blank"
            href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_WorkWeek"> working days</a>, <a
            target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_HighlightWeekends">
            highlight weekends</a>, set <a target="_blank"
            href="https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.gantt.gantt.html#Syncfusion_EJ2_Gantt_Gantt_ProjectStartDate"> project date ranges</a>.
    </p>
    <br>
<p>More information on the Essential<sup>®</sup> ASP.NET Core Gantt Chart can be found in this <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/gantt/getting-started">documentation section</a>.</p>
}
@section Meta {
    <meta name="description"
        content="This example demonstrates the Overview Template in ASP.NET Core Gantt control. Explore here for more details." />
}
@section Title {
    <title>ASP.NET Core Gantt Overview Template Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Overview Template in ASP.NET Core Gantt Control</h1>
}