@page
@model EJ2CoreSampleBrowser.Pages.TreeMap.DataLabel

@using Syncfusion.EJ2.TreeMap;

@{
    var levelBorder = new { color = "black", width = 0.5 };
    var titleFont = new TreeMapFont { FontFamily = "Segoe UI" };
    var treeDataLabel = new DataLabel().getDataSource("Country_Population");
}

@section ControlsSection{
    
    <div class="col-lg-9 control-section">
        <div id="container">
            <ejs-treemap id="container" load="treeMapLoad" dataSource="@treeDataLabel" format="n" useGroupingSeparator="true" rangeColorValuePath="Population" weightValuePath="Population">
                <e-treemap-titlesettings text="Countries ordered based on Population - 2017" textStyle="titleFont"></e-treemap-titlesettings>
                <e-treemap-leafitemsettings labelPath="Country" labelStyle="titleFont">
                    <e-leafitemsettings-colormappings>
                        <e-leafitemsettings-colormapping from="100000000" to="10000000000" color="@("#4B134F")" label="200M - 1.3M"></e-leafitemsettings-colormapping>
                        <e-leafitemsettings-colormapping from="20000000" to="100000000" color="@("#8C304D")" label="20M - 200M"></e-leafitemsettings-colormapping>
                        <e-leafitemsettings-colormapping from="100000" to="20000000" color="@("#C84B4B")" label="0.1M - 20M"></e-leafitemsettings-colormapping>
                    </e-leafitemsettings-colormappings>
                </e-treemap-leafitemsettings>
                <e-treemap-tooltipsettings visible="true" format="${Country} : ${Population}" textStyle="titleFont"></e-treemap-tooltipsettings>
                <e-treemap-legendsettings visible="true" width="300px" height="10px" mode="@LegendMode.Interactive" position="@Syncfusion.EJ2.TreeMap.LegendPosition.Top" shape="@Syncfusion.EJ2.TreeMap.LegendShape.Rectangle"></e-treemap-legendsettings>
            </ejs-treemap>
        </div>
        <div style="float: right; margin-right: 10px;">
            Source:
            <a href=" https://www.populationpyramid.net/population-size-per-country/2017" target="_blank" aria-label="populationpyramid"> www.populationpyramid.net</a>
        </div>
    </div>
<div class="col-lg-3 property-section">
    <table id="property" title="Properties" style="width: 100%">
        <tbody>
            <tr>
                <td>
                    <div>Label Intersect Action</div>
                </td>
                <td>
                    <div style="margin-left: 10px;">
                        <select name="selectIndex" autocomplete="off" id="labels">
                            <option value="Trim" selected>Trim</option>
                            <option value="Hide">Hide</option>
                            <option value="Wrap">Wrap</option>
                            <option value="WrapByWord">WrapByWord</option>
                        </select>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
}
<style>
    .property-panel-table div {
        padding-left: 0px;
    }

    tr {
        height: 50px;
    }
</style>
<script>
    @* custom code start *@
    function treeMapLoad(args) {
        window.treemap = args.treemap;
        var theme = themeName ? themeName : 'Material';
        args.treemap.theme = (theme.charAt(0).toUpperCase() +
                theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
    }
    @* custom code end *@
    window.onload = function () {
        window.labels = new ej.dropdowns.DropDownList({
            index: 0,
            width: '100%',
            change: function () {
                window.treemap.leafItemSettings.interSectAction = window.labels.value;
                window.treemap.refresh();
            }
        });
        window.labels.appendTo('#labels');
    };
</script>
@section Meta{
                    <meta name="description" content="This example demonstrates the DataLabel in ASP.NET Core TreeMap control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
    <p>
        This sample illustrates the population of various countries in 2017. Leaf item labels intersecting action can be changed by using the <code>Label Intersect Action</code> in properties panel.
    </p>
</div>
}
@section Description{
<div id="description">
    <p>
        In this example, you can see the various label intersect actions available in treemap. We have specified range color mapping and enabled default legend in this example.
    </p>
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item in touch enabled devices
    </p>
    <br />
    <p style="font-weight: 500">Injecting Module</p>
    <p>

        Treemap component features are segregated into individual feature-wise modules. To use a tooltip, inject the <code>Tooltip</code> module using the <code>Treemap.Inject(TreeMapTooltip)</code> method, and use a legend by injecting the <code>Legend</code> module using the <code>Treemap.Inject(TreeMapLegend)</code> method.
    </p>
</div>
}
@section Title{
                    <title>ASP.NET Core TreeMap DataLabel Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of DataLabel in ASP.NET Core TreeMap Control</h1>
                }