@using Syncfusion.EJ2

@section ControlsSection{
    @{ string template = "${if(type === 'monthCells')}<div class='templatewrap'>${getCellContent(data.date)}</div>${/if}"; }
    <div class="control-section">
        <ejs-schedule id="schedule" width="100%" height="650px" selectedDate="new DateTime(DateTime.Today.Year, 12, 15)" cellTemplate="@template">
            <e-schedule-views>
                <e-schedule-view option="Month"></e-schedule-view>
            </e-schedule-views>
        </ejs-schedule>
    </div>

    <style>
        .e-schedule .e-month-view .e-work-cells {
            position: relative;
        }

        .e-schedule .templatewrap {
            text-align: center;
            position: absolute;
            width: 100%;
        }

            .e-schedule .templatewrap img {
                width: 25px;
                height: 25px;
            }

        .e-schedule .caption {
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
        }
    </style>
    <script type="text/javascript">
        window.getCellContent = function (date) {
            if (date.getMonth() === 10 && date.getDate() === 23) {
                return '<img src="@Url.Content("~/css/schedule/images/thanksgiving-day.svg")"/><div class="caption">Thanksgiving day</div>';
            }
            else if (date.getMonth() === 11 && date.getDate() === 9) {
                return '<img src="@Url.Content("~/css/schedule/images/get-together.svg")"/><div class="caption">Party time</div>';
            }
            else if (date.getMonth() === 11 && date.getDate() === 13) {
                return '<img src="@Url.Content("~/css/schedule/images/get-together.svg")"/><div class="caption">Party time</div>';
            }
            else if (date.getMonth() === 11 && date.getDate() === 22) {
                return '<img src="@Url.Content("~/css/schedule/images/birthday.svg")"/><div class="caption">Happy birthday</div>';
            }
            else if (date.getMonth() === 11 && date.getDate() === 24) {
                return '<img src="@Url.Content("~/css/schedule/images/christmas-eve.svg")"/><div class="caption">Christmas Eve</div>';
            }
            else if (date.getMonth() === 11 && date.getDate() === 25) {
                return '<img src="@Url.Content("~/css/schedule/images/christmas.svg")"/><div class="caption">Christmas Day</div>';
            }
            else if (date.getMonth() === 0 && date.getDate() === 1) {
                return '<img src="@Url.Content("~/css/schedule/images/newyear.svg")"/><div class="caption">New Year"s Day</div>';
            }
            else if (date.getMonth() === 0 && date.getDate() === 14) {
                return '<img src="@Url.Content("~/css/schedule/images/get-together.svg")"/><div class="caption">Get together</div>';
            }
            return '';
        }
    </script>
}

@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Cell in ASP.NET Core Scheduler control. Explore here for more details."/>
                }
@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            This demo illustrates how to customize the background of the specific date cells by adding images and custom text to
            it by using the cell template option.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this demo, the <code>cellTemplate</code> option which accepts the template string is used to customize the cell
            background with specific images and appropriate text on the given date values.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Scheduler Cell Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Cell in ASP.NET Core Scheduler Control</h1>
                }