@using Syncfusion.EJ2
@using Syncfusion.EJ2.Schedule
@{
    string monthEventTemplate = "<div class='subject'>${Subject}</div>";
}
@section ControlsSection{
    <div class="control-section">
        <div class="content-wrapper">
            <ejs-schedule id="schedule" width="100%" height="650px" currentView="WorkWeek" resourceHeaderTemplate="#resourceTemplate" selectedDate="new DateTime(2018, 6, 5)">
                <e-schedule-group allowGroupEdit="true" resources="@ViewBag.Resources"></e-schedule-group>
                <e-schedule-resources>
                    <e-schedule-resource dataSource="@ViewBag.Conferences" field="ConferenceId" title="Attendees" name="Conferences" textField="text" idField="id" colorField="color" allowMultiple="true"></e-schedule-resource>
                </e-schedule-resources>
                <e-schedule-views>
                    <e-schedule-view option="Day"></e-schedule-view>
                    <e-schedule-view option="WorkWeek"></e-schedule-view>
                    <e-schedule-view option="Month" eventTemplate="@monthEventTemplate"></e-schedule-view>
                    <e-schedule-view option="TimelineWeek"></e-schedule-view>
                </e-schedule-views>
                <e-schedule-eventsettings dataSource="@ViewBag.datasource">
                    <e-eventsettings-fields>
                        <e-field-subject name="Subject" title="Conference Name"></e-field-subject>
                        <e-field-description name="Description" title="Summary"></e-field-description>
                        <e-field-starttime name="StartTime" title="From"></e-field-starttime>
                        <e-field-endtime name="EndTime" title="To"></e-field-endtime>
                    </e-eventsettings-fields>
                </e-schedule-eventsettings>
            </ejs-schedule>
        </div>
    </div>
    <style>
        .e-schedule .e-month-view .e-appointment .e-appointment-details {
            padding: 1px;
            padding-left: 3px;
        }

        .e-schedule .e-vertical-view .e-resource-cells {
            height: 64px;
        }

        .e-schedule .template-wrap {
            display: flex;
            text-align: left;
        }

            .e-schedule .template-wrap .resource-image {
                width: 45px;
                height: 45px;
                background-size: 45px;
                background-repeat: no-repeat;
            }

            .e-schedule .template-wrap .resource-details {
                padding-left: 10px;
            }

                .e-schedule .template-wrap .resource-details .resource-name {
                    font-size: 16px;
                    font-weight: 500;
                    padding-right: 10px;
                }

        .e-schedule.e-device .template-wrap .resource-details .resource-name {
            font-size: inherit;
            font-weight: inherit;
            padding-top: 5px;
        }

        .e-schedule.e-device .e-resource-tree-popup .e-fullrow {
            height: 50px;
        }

        .e-schedule.e-device .template-wrap .resource-details .resource-designation {
            display: none;
        }

        .e-schedule .template-wrap .resource-image img {
            height: 45px;
            width: 45px;
        }
    </style>
    <script id="resourceTemplate" type="text/x-template">
        <div class='template-wrap'>
            <div class="resource-image"><img src="@Url.Content("~/css/schedule/images/${getEmployeeImage(data)}.png")" /></div>
            <div class="resource-details">
                <div class="resource-name">${getEmployeeName(data)}</div>
                <div class="resource-designation">${getEmployeeDesignation(data)}</div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        window.getEmployeeName = function (value) {
            return value.resourceData ?
                value.resourceData[value.resource.textField] : value.resourceName;
        };
        window.getEmployeeImage = function (value) {
            var resourceName = window.getEmployeeName(value);
            return resourceName.replace(' ', '-').toLowerCase();
        };
        window.getEmployeeDesignation = function (value) {
            var resourceName = window.getEmployeeName(value);
            return (resourceName === 'Margaret') ? 'Sales Representative' : (resourceName === 'Robert') ?
                'Vice President, Sales' : 'Inside Sales Coordinator';
        };
    </script>
}
@*custom code start*@
@section Meta{
    <meta name="description" content="This example demonstrates the Shared Events in ASP.NET Core Schedule control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This demo illustrates the usage of single event that are shared by multiple resources.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this demo,
            <code>allowGroupEdit</code> option is set to true within the
            <code>group</code> property to enable the same event to be shared with multiple resources. With this property enabled, a single appointment
            object will be maintained within the appointment collection, even if it is shared by more than one resource - whereas
            the resource fields of such appointment object will hold the IDs of the multiple resources separated by commas. Any
            actions such as create, edit or delete held on any one of the event, will be reflected on all other related instances
            visible on the UI. The
            <code>allowMultiple</code> option when set as true within the
            <code>resource</code> property, will allow the user to select multiple resources from the resource field of editor window, while trying
            to create appointments.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core Schedule Shared Events Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Shared Events in ASP.NET Core Schedule Control</h1>
}