@using Syncfusion.EJ2
@section ControlsSection{
    <div class="col-lg-9 control-section">
        <div class="schedule-wrapper">
            <ejs-schedule id="schedule" width="100%" height="650px" selectedDate="new DateTime(2018, 2, 15)" eventRendered="onEventRendered">
                <e-schedule-eventsettings dataSource="@ViewBag.appointments" enableTooltip="true" tooltipTemplate="#toolTip"></e-schedule-eventsettings>
            </ejs-schedule>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <table id='property' title='Properties' class='property-panel-table' style="width: 100%;">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 100%">
                        <div>
                            <ejs-checkbox id="enableTooltip" checked="true" label="Enable Tooltip" change="onChange" value="true"></ejs-checkbox>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 100%">
                        <div>
                            <ejs-checkbox id="enableTooltipTemplate" checked="true" label="Enable Tooltip Template" change="onTemplateChange" value="true"></ejs-checkbox>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <style>
        .e-schedule-event-tooltip .tooltip-wrap {
            display: flex;
        }

            .e-schedule-event-tooltip .tooltip-wrap .image {
                background-image: url('@Url.Content("~/css/schedule/images/public-event.png")');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 50px;
                height: 50px;
            }

            .e-schedule-event-tooltip .tooltip-wrap .content-area {
                padding-left: 6px;
                font-size: 12px;
            }

            .e-schedule-event-tooltip .tooltip-wrap .maintenance {
                background-image: url('@Url.Content("~/css/schedule/images/maintenance.png")');
            }

        .fabric .e-schedule-event-tooltip .tooltip-wrap .maintenance,
        .highcontrast .e-schedule-event-tooltip .tooltip-wrap .maintenance {
            background-image: url('@Url.Content("~/css/schedule/images/maintenance1.png")');
        }

        .e-schedule-event-tooltip .tooltip-wrap .public-event {
            background-image: url('@Url.Content("~/css/schedule/images/public-event.png")');
        }

        .fabric .e-schedule-event-tooltip .tooltip-wrap .public-event,
        .highcontrast .e-schedule-event-tooltip .tooltip-wrap .public-event {
            background-image: url('@Url.Content("~/css/schedule/images/public-event1.png")');
        }

        .e-schedule-event-tooltip .tooltip-wrap .family-event {
            background-image: url('@Url.Content("~/css/schedule/images/family-event.png")');
        }

        .fabric .e-schedule-event-tooltip .tooltip-wrap .family-event,
        .highcontrast .e-schedule-event-tooltip .tooltip-wrap .family-event {
            background-image: url('@Url.Content("~/css/schedule/images/family-event1.png")');
        }

        .e-schedule-event-tooltip .tooltip-wrap .commercial-event {
            background-image: url('@Url.Content("~/css/schedule/images/commercial-event.png")');
        }

        .fabric .e-schedule-event-tooltip .tooltip-wrap .commercial-event,
        .highcontrast .e-schedule-event-tooltip .tooltip-wrap .commercial-event {
            background-image: url('@Url.Content("~/css/schedule/images/commercial-event1.png")');
        }

        .e-schedule-event-tooltip .tooltip-wrap .name {
            font-weight: 500;
            font-size: 14px;
        }
    </style>
    <script src="~/scripts/schedule/applyCategoryColor.js"></script>
    <script id="toolTip" type="text/x-template">
        <div class="tooltip-wrap">
            <div class="image ${EventType}"></div>
            <div class="content-area">
                <div class="name">${Subject}</></div>
                ${if(City !== null && City !== undefined)}<div class="city">${City}</div>${/if}
                <div class="time">From&nbsp;:&nbsp;${StartTime.toLocaleString()} </div>
                <div class="time">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;${EndTime.toLocaleString()} </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        function onChange(args) {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            if (args.checked) {
                scheduleObj.eventSettings.enableTooltip = true;
            }
            else {
                scheduleObj.eventSettings.enableTooltip = false;
            }
            scheduleObj.dataBind();
        }
        function onTemplateChange(args) {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            if (args.checked) {
                scheduleObj.eventSettings.tooltipTemplate = "#toolTip";
            }
            else {
                scheduleObj.eventSettings.tooltipTemplate = null;
            }
            scheduleObj.dataBind();
        }
        function onEventRendered(args) {
            var scheduleObj = document.getElementById('schedule').ej2_instances[0];
            applyCategoryColor(args, scheduleObj.currentView);
        }
    </script>

}

@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Tooltip in ASP.NET Core Schedule control. Explore here for more details."/>
                }
@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            This demo illustrates how to enable tooltip on scheduler events as well as the way to customize it. The tooltip can be
            customized to display any of the information in a formatted style by making use of the tooltip template option.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            In this demo, the tooltip is enabled to display on events by setting true to
            <code>enableTooltip</code> option within the
            <code>eventSettings</code> property. After enabling the default tooltip, it is customized to display the needed event information along with
            the appropriate images by making use of the <code>tooltipTemplate</code> option within the <code>eventSettings</code>.
        </p>
        <p>
            The <code>tooltipTemplate</code> option will not work, if
            <code>enableTooltip</code> is set to false. In mobile devices, tap holding the events will open the tooltip.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Schedule Tooltip Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Tooltip in ASP.NET Core Schedule Control</h1>
                }