@page
@model EJ2CoreSampleBrowser.Pages.Grid.ContextMenuModel
@{
    ViewData["Title"] = "ContextMenu";
}

<h2>ContextMenu</h2>

@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="@Model.DataSource" allowSorting="true" allowFiltering="true" allowExcelExport="true" allowPdfExport="true"  contextMenuItems="@(new List<object>() { "AutoFit", "AutoFitAll", "SortAscending", "SortDescending","Copy", "Edit", "Delete", "Save", "Cancel","PdfExport", "ExcelExport", "CsvExport", "FirstPage", "PrevPage","LastPage", "NextPage"})" allowPaging="true">
            <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editSettings>
			<e-grid-filterSettings type="Excel"></e-grid-filterSettings>
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" isPrimaryKey="true" textAlign="Right" validationRules="@(new { required=true, number=true })" width="120"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer Name" validationRules="@(new { required=true })" width="160" ></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" editType="numericedit" validationRules="@(new { required=true })" textAlign="Right" format="C2"  width="120"></e-grid-column>
                <e-grid-column field="ShipName" headerText="Ship Name" width="200"></e-grid-column>
                <e-grid-column field="ShipCountry" headerText="Ship Country" editType="dropdownedit" width="150"></e-grid-column>
                <e-grid-column field="ShipCity" headerText="Ship City" width="150"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
}

@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates the usage of context menu in Grid component. Right click anywhere on the Grid to view context
        menu.
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Context Menu in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		<p>
			Grid has options to show the context menu when right click on it. To configure the items in context menu, you should define
			either default or custom item in
			<code>contextMenuItems</code>. Each item will be shown based on it target. The default items are
			<br>
		</p>
		<ul>
			<li><code>Edit</code> - Edit the current record.</li>
			<li><code>Delete</code> - Delete the current record.</li>
			<li><code>Save</code> - Save the edited record.</li>
			<li><code>Cancel</code> - Cancel the edited state.</li>
			<li><code>Copy</code> - Copy the selected records.</li>
			<li><code>PdfExport</code> - Export the grid as Pdf format.</li>
			<li><code>ExcelExport</code> - Export the grid as Excel format.</li>
			<li><code>CsvExport</code> - Export the grid as CSV format.</li>
			<li><code>SortAscending</code> - Sort the current column in ascending order.</li>
			<li><code>SortDescending</code> - Sort the current column in descending order.</li>
			<li><code>FirstPage</code> - Go to the first page.</li>
			<li><code>PrevPage</code> - Go to the previous page.</li>
			<li><code>LastPage</code> - Go to the last page.</li>
			<li><code>NextPage</code> - Go to the next page.</li>
		</ul>

		<br/>
        <p>
            While using the Grid in a touch device environment, touch and hold the Grid row cell to show the context menu.
        </p>

		<p>
			In this demo, Context Menu feature has enabled by defining the <code> contextMenuItems </code> property with all
			default items.

		</p>

    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Context Menu Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Context Menu in ASP.NET Core Data Grid Control</h1>
                }