@page
@model EJ2CoreSampleBrowser_NET8.Pages.Grid.PrintModel
@{
    var SecondChildGrid = new Syncfusion.EJ2.Grids.Grid()
    {
        DataSource = Model.CustomerDataSource,
        QueryString = "CustomerID",
        Columns = new List<Syncfusion.EJ2.Grids.GridColumn> {
                new Syncfusion.EJ2.Grids.GridColumn(){ Field="CustomerID", HeaderText="Customer ID", Width="90", TextAlign=Syncfusion.EJ2.Grids.TextAlign.Right },
                new Syncfusion.EJ2.Grids.GridColumn(){ Field="ContactName", HeaderText="Name", Width="100" },
                new Syncfusion.EJ2.Grids.GridColumn(){ Field="CompanyName", HeaderText="Company", Width="120" },
                new Syncfusion.EJ2.Grids.GridColumn(){ Field="Country", HeaderText="Country", Width="90" },
        }
    };
    var ChildGrid = new Syncfusion.EJ2.Grids.Grid() {
        DataSource = Model.DataSource,
        QueryString = "EmployeeID",
        HierarchyPrintMode = Syncfusion.EJ2.Grids.HierarchyGridPrintMode.All,
        Columns = new List<Syncfusion.EJ2.Grids.GridColumn> {
                new Syncfusion.EJ2.Grids.GridColumn(){ Field="OrderID", HeaderText="Order ID", Width="120" },
                new Syncfusion.EJ2.Grids.GridColumn(){ Field="Freight", HeaderText="Freight", Width="120", Format="C2", TextAlign=Syncfusion.EJ2.Grids.TextAlign.Right },
                new Syncfusion.EJ2.Grids.GridColumn(){ Field="ShipName", HeaderText="Ship Name", Width="150" },
                new Syncfusion.EJ2.Grids.GridColumn(){ Field="ShipCity", HeaderText="Ship City", Width="120" },
        },
        ChildGrid = SecondChildGrid
    };
}

@section ControlsSection{
    <div class="control-section col-lg-9">
        <ejs-grid id="HierarchyPrint" dataSource="@Model.EmpDataSource" allowSorting="true" childGrid="@ChildGrid" hierarchyPrintMode="All" allowFiltering="true" toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel", "Print" })" load="gridload">
            <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
            <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editSettings>
            <e-grid-columns>
                <e-grid-column field="EmployeeID" headerText="Employee ID" textAlign="Right" width="125" isPrimaryKey="true" validationRules="@(new { required=true, number=true})"></e-grid-column>
                <e-grid-column field="FirstName" headerText="Name" width="120" validationRules="@(new { required=true, minLength=5})"></e-grid-column>
                <e-grid-column field="Title" headerText="Title"  width="170"></e-grid-column>
                <e-grid-column field="City" headerText="City" textAlign="Right" width="135"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-lg-3 property-section">
        <table id="property" title="Properties" style="width: 100%;">
            <tr>
                <td class="left-side">Select Hierarchy PrintMode</td>
                <td>
                    <ejs-dropdownlist id="PrintMode" dataSource="@Model.data" change="onChange" value="@("All")"></ejs-dropdownlist>
                </td>
            </tr>
        </table>
    </div>

    <script>
        function gridload() {
            var grid = document.getElementById("HierarchyPrint").ej2_instances[0];
            grid.cssClass = document.querySelector(".fluent2-highcontrast") ? "e-print-fluent2-highcontrast" : "";
        }
        
        function onChange(e) {
            var grid = document.getElementById("HierarchyPrint").ej2_instances[0];
            grid.hierarchyPrintMode = grid.childGrid.hierarchyPrintMode = e.value;
        }
    </script>

    <style type="text/css" class="cssStyles">
        .e-print-fluent2-highcontrast.e-grid.e-print-grid-layout,
        .e-print-fluent2-highcontrast.e-grid.e-print-grid-layout .e-childgrid,
        .e-print-fluent2-highcontrast.e-grid.e-print-grid-layout .e-rowcell,
        .e-print-fluent2-highcontrast.e-grid.e-print-grid-layout .e-gridheader,
        .e-print-fluent2-highcontrast.e-grid.e-print-grid-layout .e-detailindentcell,
        .e-print-fluent2-highcontrast.e-grid.e-print-grid-layout .e-detailcell,
        .e-print-fluent2-highcontrast.e-grid.e-print-grid-layout .e-detailrowcollapse,
        .e-print-fluent2-highcontrast.e-grid.e-print-grid-layout .e-detailrowexpand {
            border-color: gray;
        }
    </style>

}
@section ActionDescription{
	<div id="action-description">
		 <p>This sample demonstrates the different options to print the hierarchy Grid.
            Select the hierarchy grid's print mode in the dropdown list and click the print button from the toolbar item to print Grid.</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Print in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		<p>
            The Grid can be printed using the <code> print </code> method. While printing the pager and scrollbar will be removed if they are enabled in Grid.
            By default, all pages will be printed. We can print current page alone by setting the <code>
                <a target="_blank" class="code"
                   href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Grids.Grid.html#Syncfusion_EJ2_Grids_Grid_PrintMode" aria-label="Navigate to the PrintMode property reference for ASP.NET Core Grid control">
                    printMode
                </a>
            </code> property value as <code>currentpage</code>. The child grid allows us to print the grid with following options,
        </p>
        <ul>
            <li><code>Expanded</code> - Prints the master grid with expanded child grids.</li>
            <li><code>All</code> - Prints the master grid with all the child grids.</li>
            <li><code>None</code> - Prints the master grid alone.</li>
        </ul>
        <p>
            We can change the child grid's print option by using the <code>
                <a target="_blank" class="code"
                   href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Grids.Grid.html#Syncfusion_EJ2_Grids_Grid_HierarchyPrintMode" aria-label="Navigate to the HierarchyPrintMode property reference for ASP.NET Core Grid control">
                    hierarchyPrintMode
                </a>
            </code> property.
        </p>
        <p>
            In this demo, we have set the hierarchyPrintMode as<code>All</code>. You can change the hierarchy grid's print mode by using the dropdown list in the property panel and click the print icon to print Grid.
        </p>
        <p>
            More information on the print feature can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/grid/print" aria-label="Navigate to the documentation for Print in ASP.NET Core Grid control">
        documentation section</a>.
           
        </p>
	</div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Print Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Print in ASP.NET Core Data Grid Control</h1>
                }