@page
@model EJ2CoreSampleBrowser_NET8.Pages.Grid.ReorderModel
@{
    ViewData["Title"] = "Reorder";
}

<h2>Reorder</h2>

@section ControlsSection{

    <div class="col-lg-8 control-section">
        <div class="control-wrapper">
            <ejs-grid id="Grid" dataSource="@Model.DataSource" allowSorting="true" actionComplete="actionComplete" allowReordering="true" allowFiltering="true" toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
                <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
                <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editSettings>
                <e-grid-columns>
                    <e-grid-column field="EmployeeID" headerText="Employee ID" textAlign="Right" width="150" isPrimaryKey="true" validationRules="@(new { required=true, number=true})"></e-grid-column>
                    <e-grid-column field="FirstName" headerText="Name" width="120" validationRules="@(new { required=true, minLength=5})"></e-grid-column>
                    <e-grid-column field="Title" headerText="Title" width="170"></e-grid-column>
                    <e-grid-column field="HireDate" headerText="Hire Date" format='yMd' textAlign="Right" width="135" editType="datepickeredit"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
  </div>

 <div class="col-lg-4 property-section">

            <table id="property" title="Properties" style="width: 100%;">
                <tr>
                    <td class="left-side">Column</td>
                    <td style="padding-bottom:10px">
                        <ejs-dropdownlist id="column" dataSource="@Model.columns" value="@("EmployeeID")" change="columnChange" popupHeight="220px">
                            <e-dropdownlist-fields text="text" value="value"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </td>
                </tr>
                <tr>
                    <td class="left-side">Column Index</td>
                    <td>
                        <ejs-dropdownlist id="columnIndex" dataSource="@Model.index" value="@("0")" index="2" change="indexChange" popupHeight="220px">
                            <e-dropdownlist-fields text="text" value="value"></e-dropdownlist-fields>
                        </ejs-dropdownlist>
                    </td>
                </tr>               
            </table>
        </div>

    <script>
        function actionComplete(args) { 


         if (args.requestType === 'reorder') {
                var dropdown = document.getElementById("column").ej2_instances[0], grid = document.getElementById("Grid").ej2_instances[0];
                var field = (dropdown.value), index = grid.getColumnIndexByField(field);
                document.getElementById("columnIndex").ej2_instances[0].value = index.toString();
            }
        }

        function columnChange(args) { 
            var grid = document.getElementById("Grid").ej2_instances[0];
            var field = this.value;
            var index =grid.getColumnIndexByField(field);
            document.getElementById("columnIndex").ej2_instances[0].value = index.toString();

        }
        function indexChange(args) { 
            var grid = document.getElementById("Grid").ej2_instances[0], dropdown = document.getElementById("column").ej2_instances[0];
            var field = (dropdown.value);
            var toColumnIndex = this.value;
            grid.reorderColumns(field, (grid.columns[toColumnIndex]).field);
        }
    </script>
}
@section ActionDescription{
	<div id="action-description">
		<p>This sample demonstrates reordering of the Grid columns. Select column name and index from properties panel to reorder
        the columns. You can also reorder columns by simply drag and drop in the desired column position.
		</p>
	</div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Reorder in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
		<p>Reordering can be enabled by setting <code>allowReordering</code> property as true. Reordering can be done by drag and drop the column header from one index to another
			index within the Grid.</p>
		<p>The location in which the column to be placed, will be indicated by two arrows symbols.</p>
		<p>In this demo, you can either reorder columns by drag and drop or by selecting column name and column index to reorder
			from the dropdown.
		</p>	
    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Reorder Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Reorder in ASP.NET Core Data Grid Control</h1>
                }