@page
@{
    ViewData["Title"] = "VirtualScrolling";
}

<h2>VirtualScrolling</h2>

@section ControlsSection{

<style>
    .image { position: absolute; background-repeat: no-repeat; 
             background-image: url('/scripts/Images/Employees/spinner.gif'); 
             background-position: center; width: 16px; height: 28px; }

    .e-bigger .image {
        height: 36px;
    }

    #popup {
        position: absolute;
        background-color: transparent;
        display: none;
        z-index: 100;
    }

    .div-button {
        margin: 5px 5px 5px 0;
    }

    #performanceTime {
        float: right;
        margin-top: 3px;
    }

    .e-bigger #performanceTime {
        margin-top: 8px;
    }
    
    .custom-rating.e-rating-container .e-rating-item-container,
    .e-bigger .custom-rating.e-rating-container .e-rating-item-container .e-rating-icon,
    .e-bigger.custom-rating.e-rating-container .e-rating-item-container .e-rating-icon {
        font-size: 11px;
    }

    .custom-rating.e-rating-container .e-rating-item-container .e-rating-icon {
        -webkit-text-fill-color: lightgrey;
        -webkit-text-stroke: 1px lightgrey;
    }

    .custom-rating.e-rating-container .e-rating-item-container.e-rating-selected .e-rating-icon {
        background: linear-gradient(to right, #ffa600 var(--rating-value), #ffa600 var(--rating-value));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #ffa600;
    }

    .virtual-statustemp {
        position: relative;
        padding: 15px 0;
        border-radius: 5px;
        text-align: center
    }

    .virtual-statustemp.e-highcolor {
        background-color: #f8d7da;
    }

    .virtual-statustemp.e-lowcolor {
        background-color: #d4edda;
    }

    .virtual-statustemp.e-mediumcolor {
        background-color: #fff3cd;
    }

    .virtual-statustemp.e-criticalcolor {
        background-color: #efacac;
    }

    td.e-rowcell .virtual-statustxt.e-highcolor {
        color: #b21f2d;
    }

    td.e-rowcell .virtual-statustxt.e-lowcolor {
        color: #155724;
    }

    td.e-rowcell .virtual-statustxt.e-mediumcolor {
        color: #856404;
    }

    td.e-rowcell .virtual-statustxt.e-criticalcolor {
        color: darkred;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-highcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-highcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-highcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-highcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-highcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-highcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-highcolor {
        color: #FF6F61;
    }

    .material3-dark .virtual-statustemp.e-highcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-highcolor,
    .fluent2-dark .virtual-statustemp.e-highcolor,
    .tailwind3-dark .virtual-statustemp.e-highcolor,
    .fluent2-highcontrast .virtual-statustemp.e-highcolor,
    .fluent-dark .virtual-statustemp.e-highcolor,
    .highcontrast .virtual-statustemp.e-highcolor {
        background-color: #3E1F1F;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-lowcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-lowcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-lowcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-lowcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-lowcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-lowcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-lowcolor {
        color: #81C784;
    }

    .material3-dark .virtual-statustemp.e-lowcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-lowcolor,
    .fluent2-dark .virtual-statustemp.e-lowcolor,
    .tailwind3-dark .virtual-statustemp.e-lowcolor,
    .fluent2-highcontrast .virtual-statustemp.e-lowcolor,
    .fluent-dark .virtual-statustemp.e-lowcolor,
    .highcontrast .virtual-statustemp.e-lowcolor {
        background-color: #1F3A2E;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-mediumcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-mediumcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-mediumcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-mediumcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-mediumcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-mediumcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-mediumcolor {
        color: #FFD54F;
    }

    .material3-dark .virtual-statustemp.e-mediumcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-mediumcolor,
    .fluent2-dark .virtual-statustemp.e-mediumcolor,
    .tailwind3-dark .virtual-statustemp.e-mediumcolor,
    .fluent2-highcontrast .virtual-statustemp.e-mediumcolor,
    .fluent-dark .virtual-statustemp.e-mediumcolor,
    .highcontrast .virtual-statustemp.e-mediumcolor {
        background-color: #3A2E1F;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-criticalcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-criticalcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-criticalcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-criticalcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-criticalcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-criticalcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-criticalcolor {
        color: #F28B82;
    }

    .material3-dark .virtual-statustemp.e-criticalcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-criticalcolor,
    .fluent2-dark .virtual-statustemp.e-criticalcolor,
    .tailwind3-dark .virtual-statustemp.e-criticalcolor,
    .fluent2-highcontrast .virtual-statustemp.e-criticalcolor,
    .fluent-dark .virtual-statustemp.e-criticalcolor,
    .highcontrast .virtual-statustemp.e-criticalcolor {
        background-color: #5A1A1A;
    }

    .virtual-statustemp.e-paidcolor {
        background-color: #e6f4ea;
    }

    .virtual-statustxt.e-paidcolor {
        color: #155724;
    }

    .virtual-statustemp.e-pendingcolor {
        background-color: #fff8e1;
    }

    .virtual-statustxt.e-pendingcolor {
        color: #856404;
    }

    .virtual-statustemp.e-refundcolor {
        background-color: #fff0f0;
    }

    .virtual-statustxt.e-refundcolor {
        color: #b21f2d;
    }

    .virtual-statustemp.e-deliveredcolor {
        background-color: #e6f3ea;
    }

    .virtual-statustxt.e-deliveredcolor {
        color: #2e7d32;
    }

    .virtual-statustemp.e-shippedcolor {
        background-color: #e7f0fb;
    }

    .virtual-statustxt.e-shippedcolor {
        color: #1565c0;
    }

    .virtual-statustemp.e-processingcolor {
        background-color: #fff8e6;
    }

    .virtual-statustxt.e-processingcolor {
        color: #ff9800;
    }

    .virtual-statustemp.e-packedcolor {
        background-color: #fff7ed;
    }

    .virtual-statustxt.e-packedcolor {
        color: #d97706;
    }

    .virtual-statustemp.e-returnedcolor {
        background-color: #FCE4E4;
    }

    .virtual-statustxt.e-returnedcolor {
        color: #8B0000;
    }

    .virtual-statustemp.e-cancelcolor {
        background-color: #f2f2f2;
    }

    .virtual-statustxt.e-cancelcolor {
        color: #6b6b6b;
    }

    .virtual-statustemp.e-orderedcolor {
        background-color: #E0F2F1;
    }

    .virtual-statustxt.e-orderedcolor {
        color: #00796B;
    }

    .virtual-statustemp.e-failedcolor {
        background-color: #f2f2f2;
    }

    .virtual-statustxt.e-failedcolor {
        color: #6b6b6b;
    }

    .material3-dark .virtual-statustemp.e-paidcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-paidcolor,
    .fluent2-dark .virtual-statustemp.e-paidcolor,
    .tailwind3-dark .virtual-statustemp.e-paidcolor,
    .fluent2-highcontrast .virtual-statustemp.e-paidcolor,
    .fluent-dark .virtual-statustemp.e-paidcolor,
    .highcontrast .virtual-statustemp.e-paidcolor {
        background-color: #133b2b;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-paidcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-paidcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-paidcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-paidcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-paidcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-paidcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-paidcolor {
        color: #81C784;
    }

    .material3-dark .virtual-statustemp.e-pendingcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-pendingcolor,
    .fluent2-dark .virtual-statustemp.e-pendingcolor,
    .tailwind3-dark .virtual-statustemp.e-pendingcolor,
    .fluent2-highcontrast .virtual-statustemp.e-pendingcolor,
    .fluent-dark .virtual-statustemp.e-pendingcolor,
    .highcontrast .virtual-statustemp.e-pendingcolor {
        background-color: #3a331f;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-pendingcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-pendingcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-pendingcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-pendingcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-pendingcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-pendingcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-pendingcolor {
        color: #FFD54F;
    }

    .material3-dark .virtual-statustemp.e-refundcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-refundcolor,
    .fluent2-dark .virtual-statustemp.e-refundcolor,
    .tailwind3-dark .virtual-statustemp.e-refundcolor,
    .fluent2-highcontrast .virtual-statustemp.e-refundcolor,
    .fluent-dark .virtual-statustemp.e-refundcolor,
    .highcontrast .virtual-statustemp.e-refundcolor {
        background-color: #3a1f1f;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-refundcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-refundcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-refundcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-refundcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-refundcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-refundcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-refundcolor {
        color: #FF8A80;
    }

    .material3-dark .virtual-statustemp.e-deliveredcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-deliveredcolor,
    .fluent2-dark .virtual-statustemp.e-deliveredcolor,
    .tailwind3-dark .virtual-statustemp.e-deliveredcolor,
    .fluent2-highcontrast .virtual-statustemp.e-deliveredcolor,
    .fluent-dark .virtual-statustemp.e-deliveredcolor,
    .highcontrast .virtual-statustemp.e-deliveredcolor {
        background-color: #173924;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-deliveredcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-deliveredcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-deliveredcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-deliveredcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-deliveredcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-deliveredcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-deliveredcolor {
        color: #A5D6A7;
    }

    .material3-dark .virtual-statustemp.e-shippedcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-shippedcolor,
    .fluent2-dark .virtual-statustemp.e-shippedcolor,
    .tailwind3-dark .virtual-statustemp.e-shippedcolor,
    .fluent2-highcontrast .virtual-statustemp.e-shippedcolor,
    .fluent-dark .virtual-statustemp.e-shippedcolor,
    .highcontrast .virtual-statustemp.e-shippedcolor {
        background-color: #12321f;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-shippedcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-shippedcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-shippedcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-shippedcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-shippedcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-shippedcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-shippedcolor {
        color: #A5D6A7;
    }

    .material3-dark .virtual-statustemp.e-processingcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-processingcolor,
    .fluent2-dark .virtual-statustemp.e-processingcolor,
    .tailwind3-dark .virtual-statustemp.e-processingcolor,
    .fluent2-highcontrast .virtual-statustemp.e-processingcolor,
    .fluent-dark .virtual-statustemp.e-processingcolor,
    .highcontrast .virtual-statustemp.e-processingcolor {
        background-color: #332f1f;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-processingcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-processingcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-processingcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-processingcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-processingcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-processingcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-processingcolor {
        color: #FFD54F;
    }

    .material3-dark .virtual-statustemp.e-cancelcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-cancelcolor,
    .fluent2-dark .virtual-statustemp.e-cancelcolor,
    .tailwind3-dark .virtual-statustemp.e-cancelcolor,
    .fluent2-highcontrast .virtual-statustemp.e-cancelcolor,
    .fluent-dark .virtual-statustemp.e-cancelcolor,
    .highcontrast .virtual-statustemp.e-cancelcolor {
        background-color: #3a1a1a;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-cancelcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-cancelcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-cancelcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-cancelcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-cancelcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-cancelcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-cancelcolor {
        color: #F28B82;
    }

    /* additional dark-theme overrides for new badge classes */
    .material3-dark .virtual-statustemp.e-packedcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-packedcolor,
    .fluent2-dark .virtual-statustemp.e-packedcolor,
    .tailwind3-dark .virtual-statustemp.e-packedcolor,
    .fluent2-highcontrast .virtual-statustemp.e-packedcolor,
    .fluent-dark .virtual-statustemp.e-packedcolor,
    .highcontrast .virtual-statustemp.e-packedcolor {
        background-color: #5c3a11;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-packedcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-packedcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-packedcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-packedcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-packedcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-packedcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-packedcolor {
        color: #FFD54F;
    }

    .material3-dark .virtual-statustemp.e-processingcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-processingcolor,
    .fluent2-dark .virtual-statustemp.e-processingcolor,
    .tailwind3-dark .virtual-statustemp.e-processingcolor,
    .fluent2-highcontrast .virtual-statustemp.e-processingcolor,
    .fluent-dark .virtual-statustemp.e-processingcolor,
    .highcontrast .virtual-statustemp.e-processingcolor {
        background-color: #5a3a00;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-processingcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-processingcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-processingcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-processingcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-processingcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-processingcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-processingcolor {
        color: #FFD54F;
    }

    .material3-dark .virtual-statustemp.e-returnedcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-returnedcolor,
    .fluent2-dark .virtual-statustemp.e-returnedcolor,
    .tailwind3-dark .virtual-statustemp.e-returnedcolor,
    .fluent2-highcontrast .virtual-statustemp.e-returnedcolor,
    .fluent-dark .virtual-statustemp.e-returnedcolor,
    .highcontrast .virtual-statustemp.e-returnedcolor {
        background-color: #3a2a28;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-returnedcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-returnedcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-returnedcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-returnedcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-returnedcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-returnedcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-returnedcolor {
        color: #FFCDD2;
    }

    .material3-dark .virtual-statustemp.e-orderedcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-orderedcolor,
    .fluent2-dark .virtual-statustemp.e-orderedcolor,
    .tailwind3-dark .virtual-statustemp.e-orderedcolor,
    .fluent2-highcontrast .virtual-statustemp.e-orderedcolor,
    .fluent-dark .virtual-statustemp.e-orderedcolor,
    .highcontrast .virtual-statustemp.e-orderedcolor {
        background-color: #2b2b2b;
        border-color: #444;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-orderedcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-orderedcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-orderedcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-orderedcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-orderedcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-orderedcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-orderedcolor {
        color: #ECEFF1;
    }

    .material3-dark .virtual-statustemp.e-failedcolor,
    .bootstrap5\.3-dark .virtual-statustemp.e-failedcolor,
    .fluent2-dark .virtual-statustemp.e-failedcolor,
    .tailwind3-dark .virtual-statustemp.e-failedcolor,
    .fluent2-highcontrast .virtual-statustemp.e-failedcolor,
    .fluent-dark .virtual-statustemp.e-failedcolor,
    .highcontrast .virtual-statustemp.e-failedcolor {
        background-color: #4a4a4a;
    }

    .material3-dark td.e-rowcell .virtual-statustxt.e-failedcolor,
    .bootstrap5\.3-dark td.e-rowcell .virtual-statustxt.e-failedcolor,
    .fluent2-dark td.e-rowcell .virtual-statustxt.e-failedcolor,
    .tailwind3-dark td.e-rowcell .virtual-statustxt.e-failedcolor,
    .fluent2-highcontrast td.e-rowcell .virtual-statustxt.e-failedcolor,
    .fluent-dark td.e-rowcell .virtual-statustxt.e-failedcolor,
    .highcontrast td.e-rowcell .virtual-statustxt.e-failedcolor {
        color: #ffffff;
    }

    td.e-rowcell .e-payment-info {
        display: flex;
        align-items: center;
    }

    td.e-rowcell .e-payment-info img {
        margin-right: 5px;
    }

    .material3-dark td.e-rowcell .e-payment-info img,
    .bootstrap5\.3-dark td.e-rowcell .e-payment-info img,
    .fluent2-dark td.e-rowcell .e-payment-info img,
    .tailwind3-dark td.e-rowcell .e-payment-info img,
    .fluent2-highcontrast td.e-rowcell .e-payment-info img,
    .fluent-dark td.e-rowcell .e-payment-info img,
    .highcontrast td.e-rowcell .e-payment-info img {
        filter: brightness(0) invert(1);
    }

    .fluent2-highcontrast td.e-rowcell .e-row:hover .e-payment-info img,
    .fluent2-highcontrast td.e-rowcell .e-rowcell.e-selectionbackground .e-payment-info img {
        filter: none;
    }
</style>
   @{ 

       var data = ViewData["datasource"];
   }
    <div class="control-section">
        <div class="row">
            <table>
                <tr>
                    <td style="padding:15px">
                        <span>
                            <ejs-button id="generate" cssClass="e-info" content="Load 100K Data"></ejs-button>
                            <span id="popup">
                                <span id="gif" class="image"></span>
                            </span>
                        </span>
                        
                    </td>
                    <td>
                        <span style="padding-left:630px; " id="performanceTime">Time Taken: 0 ms</span>
                    </td>
                </tr>
            </table>
           

        </div>

        <div>
            <ejs-grid id="VirtualGrid" clipMode="EllipsisWithTooltip" height="600" rowHeight="50" dataBound="hide" load="load" enableVirtualization="true" enableColumnVirtualization="true" toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })">
                <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editSettings>
                <e-grid-columns>
                    <e-grid-column field="OrderID" headerText="Order ID" width="110" isPrimaryKey="true" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column field="OrderDate" headerText="Order Date" width="140" format="yMd" textAlign="Right" editType="DatePickerEdit"></e-grid-column>
                    <e-grid-column field="ShipDate" headerText="Ship Date" width="140" format="yMd" textAlign="Right" editType="DatePickerEdit"></e-grid-column>
                    <e-grid-column field="OrderStatus" headerText="Order Status" width="140" textAlign="Center" editType="DropDownEdit" template="#orderStatusTemplate" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column field="Priority" headerText="Priority" width="120" textAlign="Center" editType="DropDownEdit" template="#priorityTemplate" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column field="CustomerName" headerText="Customer Name" width="190" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column field="CustomerID" headerText="Customer ID" width="110" visible="false"></e-grid-column>
                    <e-grid-column field="Email" headerText="Email" width="200"></e-grid-column>
                    <e-grid-column field="Phone" headerText="Phone Number" width="140" textAlign="Right"></e-grid-column>
                    <e-grid-column field="ShipAddress" headerText="Ship Address" width="180"></e-grid-column>
                    <e-grid-column field="ShipCity" headerText="Ship City" width="120"></e-grid-column>
                    <e-grid-column field="ShipState" headerText="Ship State Code" width="130"></e-grid-column>
                    <e-grid-column field="ShipPostalCode" headerText="Ship Postal Code" width="130" textAlign="Right"></e-grid-column>
                    <e-grid-column field="ShipCountry" headerText="Ship Country" width="150"></e-grid-column>
                    <e-grid-column field="ProductName" headerText="Product Name" width="250"></e-grid-column>
                    <e-grid-column field="ProductID" headerText="Product ID" width="110" visible="false"></e-grid-column>
                    <e-grid-column field="Category" headerText="Category" width="120"></e-grid-column>
                    <e-grid-column field="Warehouse" headerText="Ware house" width="110" visible="false" editType="DropDownEdit"></e-grid-column>
                    <e-grid-column field="InventoryCount" headerText="Inventory Count" width="150" textAlign="Right" visible="false"></e-grid-column>
                    <e-grid-column field="Quantity" headerText="Quantity" width="100" edit="@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() { ShowSpinButton= false }})" textAlign="Right" editType="NumericEdit"></e-grid-column>
                    <e-grid-column field="UnitPrice" headerText="Unit Price" width="110" edit="@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() { ShowSpinButton= false }})" format="C2" textAlign="Right" editType="NumericEdit"></e-grid-column>
                    <e-grid-column field="Discount" headerText="Discount (%)" width="120" edit="@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() { ShowSpinButton= false }})" textAlign="Right" editType="NumericEdit"></e-grid-column>
                    <e-grid-column field="Tax" headerText="Tax (%)" width="100" edit="@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() { ShowSpinButton= false }})" textAlign="Right" editType="NumericEdit"></e-grid-column>
                    <e-grid-column field="SubTotal" headerText="Sub Total" width="110" edit="@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() { ShowSpinButton= false }})" format="C2" textAlign="Right" editType="NumericEdit"></e-grid-column>
                    <e-grid-column field="TaxAmount" headerText="Tax Amount" width="110" edit="@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() { ShowSpinButton= false }})" format="C2" textAlign="Right" editType="NumericEdit"></e-grid-column>
                    <e-grid-column field="ShipFee" headerText="Ship Fee" width="120" edit="@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() { ShowSpinButton= false }})" format="C2" textAlign="Right" editType="NumericEdit"></e-grid-column>
                    <e-grid-column field="TotalAmount" headerText="Total Amount" width="120" edit="@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() { ShowSpinButton= false }})" format="C2" textAlign="Right" editType="NumericEdit"></e-grid-column>
                    <e-grid-column field="PaymentMethod" headerText="Payment Method" width="140" editType="DropDownEdit" template="#paymentTemplate" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column field="PaymentStatus" headerText="Payment Status" width="140" textAlign="Center" editType="DropDownEdit" template="#paymentStatusTemplate" validationRules="@(new { required=true})"></e-grid-column>
                    <e-grid-column field="Rating" headerText="Delivery Rating" width="160" textAlign="Center" visible="false" template="#ratingTemplate" editType="DropDownEdit"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

<script type="text/x-template" id="paymentTemplate">
    <div class="e-payment-info">
        <img src="@Url.Content("~/scripts/Images/payment/${PaymentMethod}.svg")" alt="${PaymentMethod}" />
        <span>${PaymentMethod}</span>
    </div>
</script>
<script type="text/x-jsrender" id="priorityTemplate">
    ${priorityDetail(data)}
</script>
<script type="text/x-jsrender" id="paymentStatusTemplate">
    ${paymentStatusDetail(data)}
</script>
<script type="text/x-jsrender" id="orderStatusTemplate">
    ${orderStatusDetail(data)}
</script>
<template>
    <input class="rating">
</template>
<script type="text/x-jsrender" id="ratingTemplate">
    ${ratingDetail(data)}
</script>

<script type="text/javascript">
    var virtualOrderData = [], date1 = null, date2 = null, flag = true;
    document.getElementById("generate").addEventListener('click', function () {
        var grid = document.getElementById("VirtualGrid").ej2_instances[0]
        if (!virtualOrderData.length) {
            show();
            createVirtualOrderData();
            date1 = new Date().getTime();
            grid.dataSource = virtualOrderData;
        } else {
            flag = true;
            show();
            date1 = new Date().getTime();
            grid.refresh();
        }

    })
    function show() {
        document.getElementById('popup').style.display = 'inline-block';
    }
    function hide(args) { 


        if (flag && date1) {
            var date2 = new Date().getTime();
            document.getElementById('performanceTime').innerHTML = 'Time Taken: ' + (date2 - date1) + 'ms';
            flag = false;
        }
        document.getElementById('popup').style.display = 'none';
    }
    function load(args) {
        var grid = document.getElementById("VirtualGrid").ej2_instances[0];
        if (grid.enableVirtualization) {
            args.enableSeamlessScrolling = true;
        }
    }
    function createVirtualOrderData() {
        if (window.virtualOrderData.length) { return; }
        function pmRandom(seed) {
            var t = (seed % 2147483647);
            if (t <= 0) t += 2147483646;
            return function () {
                t = (t * 16807) % 2147483647;
                return (t - 1) / 2147483646;
            };
        }
        var seed = 123456789;
        var rand = pmRandom(seed);
        function randInt(min, max) { return Math.floor(rand() * (max - min + 1)) + min; }
        function randChoice(arr) { return arr[Math.floor(rand() * arr.length)]; }
        function pickAvoidTriplet(arr, fieldName) {
            var v = randChoice(arr);
            if (virtualOrderData.length >= 2) {
                var a = virtualOrderData[virtualOrderData.length - 1][fieldName];
                var b = virtualOrderData[virtualOrderData.length - 2][fieldName];
                if (a === b && a === v) {
                    var alt = arr.filter(function (s) { return s !== v; });
                    v = randChoice(alt);
                }
            }
            return v;
        }

        var names = ['Maria', 'Ana Trujillo', 'Antonio Moreno', 'Thomas Hardy', 'Christina Berglund', 'Hanna Moos', 'Frederique Citeaux', 'Martin Sommer', 'Laurence Lebihan', 'Elizabeth Lincoln',
        'Victoria Ashworth', 'Patricio Simpson', 'Francisco Chang', 'Yang Wang', 'Pedro Afonso', 'Elizabeth Brown', 'Sven Ottlieb', 'Janine Labrune', 'Ann Devon', 'Roland Mendel', 'Aria Cruz', 'Diego Roel',
        'Martine Rance', 'Maria Larsson', 'Peter Franken', 'Carine Schmitt', 'Paolo Accorti', 'Lino Rodriguez', 'Eduardo Saavedra', 'Jose Pedro Freyre', 'Andre Fonseca', 'Howard Snyder', 'Manuel Pereira',
        'Mario Pontes', 'Carlos Hernández', 'Yoshi Latimer', 'Patricia McKenna', 'Helen Bennett', 'Philip Cramer', 'Daniel Tonini', 'Annette Roulet', 'Yoshi Tannamuri', 'John Steel', 'Renate Messner', 'Jaime Yorres',
        'Carlos Gonzalez', 'Felipe Izquierdo', 'Fran Wilson', 'Giovanni Rovelli', 'Catherine Dewey', 'Jean Fresnière', 'Alexander Feuer', 'Simon Crowther', 'Yvonne Moncada', 'Rene Phillips', 'Henriette Pfalzheim',
        'Marie Bertrand', 'Guillermo Fernandez', 'Georg Pipps', 'Isabel de Castro', 'Bernardo Batista', 'Lucia Carvalho', 'Horst Kloss', 'Sergio Gutierrez', 'Paula Wilson', 'Maurizio Moroni', 'Janete Limeira', 'Michael Holz',
        'Alejandra Camino', 'Jonas Bergulfsen', 'Jose Pavarotti', 'Hari Kumar', 'Jytte Petersen', 'Dominique Perrier', 'Art Braunschweiger', 'Pascale Cartrain', 'Liz Nixon', 'Liu Wong', 'Karin Josephs', 'Miguel Angel Paolino',
        'Anabela Domingues', 'Helvetius Nagy', 'Palle Ibsen', 'Mary Saveley', 'Paul Henriot', 'Rita Muller', 'Pirkko Koskitalo', 'Paula Parente', 'Karl Jablonski', 'Matti Karttunen', 'Zbyszek Piestrzeniewicz'];
        var products = ['Chai','Chang','Aniseed Syrup','Chef Anton\'s Cajun Seasoning','Grandma\'s Boysenberry Spread','Uncle Bob\'s Organic Dried Pears','Mishi Kobe Niku','Ikura','Queso Cabrales','Pavlova'];
        var categories = ['Beverages', 'Condiments', 'Confections', 'Dairy Products', 'Grains/Cereals', 'Meat/Poultry', 'Seafood'];
        var paymentMethods = ['Card','Digital','Cash'];
        var orderStatuses = ['Ordered','Processing','Packed','Shipped','Delivered','Canceled','Returned'];
        var priorities = ['Low','Medium','High','Critical'];
        var cities = ['Seattle','Austin','Boston','Chicago','San Francisco','New York'];
        var states = ['WA','TX','MA','IL','CA','NY'];
        var countries = ['USA','Canada','Mexico','UK','Germany','France'];
        var warehouses = ['WH-A','WH-B','WH-C','WH-D'];
        var productToCategory = (function(){
            var m = {};
            for (var pi = 0; pi < products.length; pi++) { m[products[pi]] = categories[pi % categories.length]; }
            return m;
        })();

        function computeAmounts(qty, unitPrice, discountPct, taxPct, shippingFee) {
            var gross = qty * unitPrice;
            var discount = gross * (discountPct / 100);
            var subtotal = gross - discount;
            var tax = subtotal * (taxPct / 100);
            var total = subtotal + tax + shippingFee;
            return { subtotal: Math.round(subtotal * 100) / 100, taxAmount: Math.round(tax * 100) / 100, totalAmount: Math.round(total * 100) / 100 };
        }
        var baseTime = new Date(2025, 0, 1).getTime();
        for (var i = 1; i <= 100000; i++) {
            var qty = randInt(1, 10);
            var unitPrice = Math.round((rand() * 500 + 5) * 100) / 100;
            var discountPct = randInt(0, 20);
            var taxPct = randInt(0, 18);
            var shippingFee = Math.round((rand() * 20) * 100) / 100;
            var amounts = computeAmounts(qty, unitPrice, discountPct, taxPct, shippingFee);
            var orderDate = new Date(baseTime - randInt(0, 90) * 24 * 3600 * 1000);
            var shippedDate = new Date(orderDate.getTime() + randInt(1, 14) * 24 * 3600 * 1000);
            var customerId = randInt(1000, 9999);
            var custName = randChoice(names);
            var email = custName.toLowerCase().replace(/\s+/g, '.') + "@@example.com";
            var paymentMethod = pickAvoidTriplet(paymentMethods, 'PaymentMethod');
            var rating = randInt(1, 5);
            var orderStatusVal = pickAvoidTriplet(orderStatuses, 'OrderStatus');
            var priorityVal = pickAvoidTriplet(priorities, 'Priority');
            var productName = randChoice(products);
            var derivedCategory = productToCategory[productName] || randChoice(categories);
            var warehouse = randChoice(warehouses);
            var inventoryCount = randInt(0, 500);
            var paymentStatus = (function(){
                var ps = 'Pending';
                if (orderStatusVal === 'Delivered' || orderStatusVal === 'Shipped') {
                    ps = 'Paid';
                } else if (orderStatusVal === 'Canceled' || orderStatusVal === 'Returned') {
                    if (rating <= 1) {
                        ps = 'Failed';
                    } else {
                        ps = (paymentMethod === 'Cash') ? 'Pending' : 'Refunded';
                    }
                } else if (orderStatusVal === 'Packed') {
                    ps = (paymentMethod === 'Cash') ? 'Pending' : 'Paid';
                } else if (orderStatusVal === 'Ordered' || orderStatusVal === 'Processing') {
                    ps = 'Pending';
                } else {
                    ps = 'Pending';
                }
                return ps;
            })();

            virtualOrderData.push({
                OrderID: 'ORD-' + (1000 + i),
                OrderDate: orderDate,
                ShipDate: shippedDate,
                CustomerID: 'CUS-' + customerId,
                CustomerName: custName,
                Email: email,
                Phone: '+1-' + randInt(200,999) + '-' + randInt(1000,9999),
                ShipAddress: randInt(10,999) + ' ' + randChoice(['Main St','Market St','1st Ave','Broadway']),
                ShipCity: randChoice(cities),
                ShipState: randChoice(states),
                ShipPostalCode: '' + randInt(10000,99999),
                ShipCountry: randChoice(countries),
                ProductID: 'PROD-' + randInt(10000, 99999),
                ProductName: productName,
                Category: derivedCategory,
                Quantity: qty,
                UnitPrice: unitPrice,
                Discount: discountPct,
                Tax: taxPct,
                SubTotal: amounts.subtotal,
                TaxAmount: amounts.taxAmount,
                ShipFee: shippingFee,
                TotalAmount: amounts.totalAmount,
                PaymentMethod: paymentMethod,
                PaymentStatus: paymentStatus,
                Warehouse: warehouse,
                InventoryCount: inventoryCount,
                Priority: priorityVal,
                OrderStatus: orderStatusVal,
                Rating: rating,
            });
        }
    };

    function priorityDetail(e) {
        var div = document.createElement('div');
        var span = document.createElement('span');
        if (e.Priority === 'High') {
            span.className = 'virtual-statustxt e-highcolor';
            span.textContent = 'High';
            div.className = 'virtual-statustemp e-highcolor';
        } else if (e.Priority === 'Low') {
            span.className = 'virtual-statustxt e-lowcolor';
            span.textContent = 'Low';
            div.className = 'virtual-statustemp e-lowcolor';
        } else if (e.Priority === 'Medium') {
            span.className = 'virtual-statustxt e-mediumcolor';
            span.textContent = 'Medium';
            div.className = 'virtual-statustemp e-mediumcolor';
        } else {
            span.className = 'virtual-statustxt e-criticalcolor';
            span.textContent = 'Critical';
            div.className = 'virtual-statustemp e-criticalcolor';
        }
        div.appendChild(span);
        return div.outerHTML;
    };

    function paymentStatusDetail(e) {
        var div = document.createElement('div');
        var span = document.createElement('span');
        var val = (e.PaymentStatus || '').toString();
        if (val === 'Paid') {
            span.className = 'virtual-statustxt e-paidcolor';
            span.textContent = val;
            div.className = 'virtual-statustemp e-paidcolor';
        } else if (val === 'Pending') {
            span.className = 'virtual-statustxt e-pendingcolor';
            span.textContent = val;
            div.className = 'virtual-statustemp e-pendingcolor';
        } else if (val === 'Refunded') {
            span.className = 'virtual-statustxt e-refundcolor';
            span.textContent = val;
            div.className = 'virtual-statustemp e-refundcolor';
        } else {
            span.className = 'virtual-statustxt e-failedcolor';
            span.textContent = val;
            div.className = 'virtual-statustemp e-failedcolor';
        }
        div.appendChild(span);
        return div.outerHTML;
    };

    function orderStatusDetail(e) {
        var div = document.createElement('div');
        var span = document.createElement('span');
        var val = (e.OrderStatus || '').toString();
        if (val === 'Delivered') {
            span.className = 'virtual-statustxt e-deliveredcolor';
            span.textContent = val;
            div.className = 'virtual-statustemp e-deliveredcolor';
        } else if (val === 'Shipped') {
            span.className = 'virtual-statustxt e-shippedcolor';
            span.textContent = val;
            div.className = 'virtual-statustemp e-shippedcolor';
        } else if (val === 'Packed') {
            span.className = 'virtual-statustxt e-packedcolor';
            span.textContent = val;
            div.className = 'virtual-statustemp e-packedcolor';
        } else if (val === 'Processing') {
            span.className = 'virtual-statustxt e-processingcolor';
            span.textContent = val;
            div.className = 'virtual-statustemp e-processingcolor';
        } else if (val === 'Canceled') {
            span.className = 'virtual-statustxt e-cancelcolor';
            span.textContent = val;
            div.className = 'virtual-statustemp e-cancelcolor';
        } else if (val === 'Returned') {
            span.className = 'virtual-statustxt e-returnedcolor';
            span.textContent = val;
            div.className = 'virtual-statustemp e-returnedcolor';
        } else {
            span.className = 'virtual-statustxt e-orderedcolor';
            span.textContent = val;
            div.className = 'virtual-statustemp e-orderedcolor';
        }
        div.appendChild(span);
        return div.outerHTML;
    };
    function ratingDetail(e) {
        var temp = document.getElementsByTagName("template")[0];
        var cloneTemplate = temp.content.cloneNode(true);
        var ratingElement = cloneTemplate.querySelector(".rating");
        var rating = new ej.inputs.Rating({
            value: e.Rating,
            readOnly: true,
            cssClass: 'custom-rating'
        });
        rating.appendTo(ratingElement);
        return ratingElement.ej2_instances[0].wrapper.outerHTML;
    }
</script>
}
@section ActionDescription{
	<div id="action-description">
        <p>This sample highlights row and column virtualization in the Grid component, allowing efficient rendering and smooth scrolling of large datasets with excellent performance, along with full CRUD support and column templates.
        </p>
    </div>
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Virtual Scrolling in ASP.NET Core Data Grid control. Explore here for more details."/>
                }

@section Description{
    <div id="description">
        <p>The virtual scrolling feature in the Grid renders only the rows and columns that are currently visible in the viewport, rather than loading the entire dataset into the DOM. This approach significantly improves performance when working with large data sources by reducing the number of DOM elements.</p>
		<p>
			To enable row virtualization, set the <code>enableVirtualization</code> property to <code>true</code>. For column virtualization, set the <code>enableColumnVirtualization</code> property to <code>true</code>. When using virtualization, it is essential to define the <code>height</code> property so that the Grid can accurately calculate the number of visible rows. For seamless scrolling, set <code>args.enableSeamlessScrolling</code> as <code>true</code> in the Grid's <code>load</code> event. This ensures smooth vertical and horizontal transitions, providing a smoother experience during fast scrolling when virtualization is enabled.
		</p>
		<p>
			In this example, click the "Load 100K Data" button to bind a dataset containing 100,000 rows and 30 columns. Then, scroll vertically and horizontally to experience the virtualized rendering in action. Full data editing support is available with the virtualization feature.
		</p>
        <p>
            For more detailed information about virtual scrolling, refer to this
            <a target="_blank"
            href="https://ej2.syncfusion.com/aspnetcore/documentation/grid/scrolling/virtual-scrolling" aria-label="Navigate to the documentation for virtual scrolling in ASP.NET Core Grid control">
            documentation</a>.
        </p>	
    </div>
}
@section Title{
                    <title>ASP.NET Core Data Grid Virtual Scrolling Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Virtual Scrolling in ASP.NET Core Data Grid Control</h1>
                }