@page
@model EJ2CoreSampleBrowser.Pages.Excel.AutoFilter
@section ActionDescription {
    This sample demonstrates how to use Autofilters in spreadsheets using XlsIO.
}

@section Meta {
    <meta name="description" content="This example demonstrates the Filters in ASP.NET Core Excel (XlsIO) library. Explore here for more details." />
}

@section Description {
        XlsIO can filter a range of cells dynamically without any dependency of Microsoft Excel.
    <br />
    <br />
    <b>Features:</b>
    <br />
    <br />
    <ul>
        <li>Custom Filter</li>
        <li>Text Filter</li>
        <li>DateTime Filter</li>
        <li>Dynamic Filter</li>
        <li>Color Filter</li>
        <li>Icon Filter</li>
        <li>Advanced Filter</li>
    </ul>
}
@section ControlsSection {
    <div class="control-section">
        @{
            Html.BeginForm("autofilter", "excel", FormMethod.Post);
            {
                <div class="rowdiv">
                    <p style="font-weight:normal">
                        Click the "Input Template" button to view the input Excel document and click the "Create Document" button to view the created Excel document. Please note that the Microsoft Excel viewer or Microsoft Excel is required to view the Excel document.
                    </p>
                </div>
                <br />
                <div class="rowdiv">
                    <div class="celldiv">
                        <label style="font-weight:normal">
                            Select the Filter Type
                        </label> &nbsp;
                        <select name="FilterType" id="filterType" onchange="OnTypeChange()" class="e-dropdown-popup">
                            <option>Custom Filter</option>
                            <option>Text Filter</option>
                            <option>DateTime Filter</option>
                            <option>Dynamic Filter</option>
                            <option>Color Filter</option>
                            <option>Icon Filter</option>
                            <option>Advanced Filter</option>
                        </select>
                    </div>
                </div>
                <br />
                <div name="Action Type" id="actionType">
                    <label style="font-weight:normal" id="lb1">Action Type</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="Filter In Place" name="rdb1" value="FilterIN" checked="checked" />
                    <label for="Filter In Place" style="font-weight:normal">Filter In Place</label>
                    &nbsp;
                    <input type="radio" id="Filter Copy" name="rdb1" value="FilterCopy" />
                    <label for="Filter Copy" style="font-weight:normal">Filter Copy</label>
                    <br />
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="chb1" type="checkbox" name="checkbox" value="Unique" height="150" />
                    <label style="font-weight:normal" id="lb4">Unique Records</label>
                </div>

                <div name="Color Filter Type" id="colorFilterType">
                    <label style="font-weight:normal" id="lb2">Filter Type</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="Font Color" name="rdb3" value="FontColor" checked="checked" />
                    <label for="Font Color" style="font-weight:normal">Font Color</label>
                    &nbsp;
                    <input type="radio" id="Cell Color" name="rdb3" value="CellColor" />
                    <label for="Cell Color" style="font-weight:normal">Cell Color</label>
                    <br />
                    <br />
                    <label style="font-weight:normal">
                        Color
                    </label> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="ColorsList" id="colorsList" style="width:120px;" class="e-dropdown-popup">
                        <option>Red</option>
                        <option>Blue</option>
                        <option>Green</option>
                        <option>Yellow</option>
                        <option>Empty</option>
                    </select>
                </div>
                <div name="IconSet Type" id="iconSetType">
                    <label style="font-weight:normal" id="lb5">IconSet Type</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="IconSetTypeList" id="iconSetTypeList" onchange="onIconSetIndexChanged()" style="width:150px;" class="e-dropdown-popup">
                        <option>ThreeSymbols</option>
                        <option>FourRating</option>
                        <option>FiveArrows</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br />
                    <br />
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <label style="font-weight:normal">
                                        Icon ID
                                    </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <div class="control" id="iconListComboBox">
                                        <ejs-combobox id="selectIcon" dataSource="@Model.DataSource" placeholder="Select Icon" index="0" width="55%" popupHeight="200px" text="1" showClearButton="true" change="onChange"
                                                      itemTemplate="@Html.Raw("<div><img class=\"empImage\" src=\"../Images/XlsIO/IconFilter/${image}.png\" /><div class=\"ename\"> ${iconId} </div></div>")">
                                            <e-combobox-fields text="iconId"></e-combobox-fields>
                                        </ejs-combobox>
                                    </div>
                                    <div class="control" id="iconListComboBox2">
                                        <ejs-combobox id="selectIcon2" dataSource="@Model.DataSource2" index="0" placeholder="Select Icon" width="55%" change="onChange" popupHeight="200px" text="1" showClearButton="true"
                                                      itemTemplate="@Html.Raw("<div><img class=\"empImage\" src=\"../Images/XlsIO/IconFilter/${image}.png\" /><div class=\"ename\"> ${iconId} </div></div>")">
                                            <e-combobox-fields text="iconId"></e-combobox-fields>
                                        </ejs-combobox>
                                    </div>
                                    <div class="control" id="iconListComboBox3">
                                        <ejs-combobox id="selectIcon3" dataSource="@Model.DataSource3" index="1" placeholder="Select Icon" width="55%" change="onChange" popupHeight="200px" text="1" showClearButton="true"
                                                      itemTemplate="@Html.Raw("<div><img class=\"empImage\" src=\"../Images/XlsIO/IconFilter/${image}.png\" /><div class=\"ename\"> ${iconId} </div></div>")">
                                            <e-combobox-fields text="iconId"></e-combobox-fields>
                                        </ejs-combobox>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br />
                <div class="celldiv">
                    <table>
                        <tr>
                            <td>
                                <input id="viewtemplate" class="e-btn" type="submit" name="button" value="Input Template" style="width:150px; text-transform:capitalize" />
                            </td>
                            <td style="width:10px;">
                                &nbsp;&nbsp;
                            </td>
                            <td>
                                <input id="generate" class="e-btn" type="submit" name="button" value="Create Document" style="width:160px; text-transform:capitalize" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <input id="iconIdText" name="iconText" type="radio" checked="checked" value="0" hidden="hidden" />
                </div>
                <script type="text/javascript">
                    function ready() {
                        document.getElementById("actionType").hidden = true;
                        document.getElementById("colorFilterType").hidden = true;
                        document.getElementById("iconSetType").hidden = true;
                        document.getElementById("iconListComboBox2").hidden = true;
                        document.getElementById("iconListComboBox3").hidden = true;
                    }
                    window.onload = ready;
                </script>
                <script type="text/javascript">
                    function OnTypeChange() {

                        var other = document.getElementById("filterType").value;
                        if (other == "Advanced Filter") {
                            document.getElementById("actionType").hidden = false;
                            document.getElementById("colorFilterType").hidden = true;
                            document.getElementById("iconSetType").hidden = true;
                        }
                        else if (other == "Icon Filter") {
                            document.getElementById("colorFilterType").hidden = true;
                            document.getElementById("actionType").hidden = true;
                            document.getElementById("iconSetType").hidden = false;
                        }
                        else if (other == "Color Filter") {
                            document.getElementById("colorFilterType").hidden = false;
                            document.getElementById("actionType").hidden = true;
                            document.getElementById("iconSetType").hidden = true;
                        }
                        else {
                            document.getElementById("actionType").hidden = true;
                            document.getElementById("colorFilterType").hidden = true;
                            document.getElementById("iconSetType").hidden = true;
                        }
                    }
                </script>
                <script type="text/javascript">
                    function onIconSetIndexChanged() {
                        if (iconSetTypeList.selectedIndex == 0) {
                            document.getElementById("iconListComboBox").hidden = false;
                            document.getElementById("iconListComboBox2").hidden = true;
                            document.getElementById("iconListComboBox3").hidden = true;
                        }
                        else if (iconSetTypeList.selectedIndex == 1) {
                            document.getElementById("iconListComboBox").hidden = true;
                            document.getElementById("iconListComboBox2").hidden = false;
                            document.getElementById("iconListComboBox3").hidden = true;
                        }
                        else if (iconSetTypeList.selectedIndex == 2) {
                            document.getElementById("iconListComboBox").hidden = true;
                            document.getElementById("iconListComboBox2").hidden = true;
                            document.getElementById("iconListComboBox3").hidden = false;
                        }
                        document.getElementById("iconIdText").value = document.getElementById('selectIcon').ej2_instances[0].index;
                    }
                    function onChange() {
                        if (iconSetTypeList.selectedIndex == 0)
                            document.getElementById("iconIdText").value = document.getElementById('selectIcon').ej2_instances[0].index;
                        else if (iconSetTypeList.selectedIndex == 1)
                            document.getElementById("iconIdText").value = document.getElementById('selectIcon2').ej2_instances[0].index;
                        else
                            document.getElementById("iconIdText").value = document.getElementById('selectIcon3').ej2_instances[0].index;
                    }
                </script>

                <style>
                    .ename {
                        font-weight: bold;
                        display: block !important;
                        opacity: .87;
                    }

                    .eimg {
                        padding: 10px 8px;
                        width: 16px;
                        height: 16px;
                        float: left;
                    }

                    .e-dropdownbase .e-list-item * {
                        display: block;
                    }
                </style>
                Html.EndForm();
            }
        }
    </div>
}
@section Scripts {
    <script type="text/javascript">
        onChange();
        onIconSetIndexChanged();
        OnTypeChange();
        ready();
    </script>

}
@section Title {
    <title>ASP.NET Core Excel (XlsIO) library - Filters Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Filters in ASP.NET Core Excel (XlsIO) Library</h1>
}