@page
@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2
@{
    var startDate = DateTime.Now;
    var endDate = DateTime.Now.AddDays(20);
    var formatData = new DateFormats().GetDateRangeFormatsWithId();
    var inputformatsData = new DateFormats().GetInputFormats();
    var formatValue = "dd/MMM/yy hh:mm a";
}

@section ControlsSection {
    <div class=" col-lg-8 control-section">
        <div id="wrapper" class="daterangepicker-section">
            <div id="daterangepicker-control">
                <ejs-daterangepicker id="daterangepicker" format="dd/MMM/yy hh:mm a" inputFormats="@(new string[] {"dd/MM/yyyy", "yyyyMMdd"})" startDate="startDate" endDate="endDate"></ejs-daterangepicker>
            </div>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <div class="property-panel-section">
            <div class="property-panel-header">Properties</div>
            <div class="property-panel-content">
                <label class="example-label">Choose a display format</label>
                <ejs-dropdownlist id="displayFormatDatePicker" value="@formatValue" placeholder="Select a format" change="onFormatChange" dataSource="@formatData">
                </ejs-dropdownlist>
            </div>
            <div class="property-panel-content">
                <label class="multi-label">Choose input formats</label>
                <ejs-multiselect id="inputFormatsDatePicker" allowFiltering="false" value="@(new List<string> { "dd/MM/yyyy", "yyyyMMdd" })" placeholder="e.g. MM/dd/yyyy" mode="CheckBox" showSelectAll="true" change="onInputFormatChange" dataSource="@inputformatsData">
                </ejs-multiselect>
            </div>
        </div>
    </div>
}

<script>
    function onFormatChange(args) {
         var dateRangepickerOBJ = document.getElementById('daterangepicker').ej2_instances[0];
         dateRangepickerOBJ.format = args.value;
         dateRangepickerOBJ.dataBind();
     }

     function onInputFormatChange(args) {
         var dateRangepickerOBJ = document.getElementById('daterangepicker').ej2_instances[0];
         dateRangepickerOBJ.inputFormats = args.value;
         dateRangepickerOBJ.dataBind();
     }
</script>

@*custom code start*@
<style>
    #wrapper {
        max-width: 350px;
        margin: 30px auto;
        padding-top: 50px;
    }

    .property-section {
        width: 250px;
    }

    .property-panel-content
    {
        margin-bottom: 20px;
    }
</style>
@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            In this sample, the DateRangePicker has been configured with the <code> dd/MMM/yy hh:mm a</code> date time format. To change this current date time format, go to the properties panel at the right side and select a date format from the availbale options. For mobile mode touch the icon at the right side and select a date time format from the available options.
        </p>
    </div>

}

@section Description{
    <div id="description">
        <p>
            Format sample illustrates the support of custom date time format in the DateRangePicker component by
            using the <code>format</code> property. You can also change the date time format by selecting it from the format options in the properties
            panel.
        </p>
        <p>
            Furthermore, this example showcases the flexible date value parsing functionality available in DateRangePicker component. By utilizing the InputFormats property, users can enter dates in various formats, which will be automatically parsed and formatted according to the chosen date format.
        </p>
        <p>
            More information on the date format configuration can be found in the <a href="https://ej2.syncfusion.com/aspnetcore/documentation/daterangepicker/globalization"
                                                                                     target="_blank" aria-label="Navigate to the documentation for globalization in ASP.NET Core DateRangePicker control">documentation section</a>.
        </p>
    </div>

}

@section Meta{
    <meta name="description" content="This example demonstrates the Format in ASP.NET Core DateRangePicker control. Explore here for more details." />
}
@section Title{
    <title>ASP.NET Core DateRangePicker Format Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Format in ASP.NET Core DateRangePicker Control</h1>
}