@page

@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2.DropDowns;
@using Syncfusion.EJ2
@{
    var projectsData = new ProjectsData().ProjectList();
    var costsData = new UseCostsData().CostList();
    var statusData = new StatusData().StatusList();
    var query = "new ej.data.Query().select(['FirstName', 'EmployeeID']).requiresCount()";
    char employeeMentionChar = '@';
    char projectMentionChar = '#';
    char costMentionChar = '$';
    char statusMentionChar = '%';
}
@section ControlsSection {
    <div class="col-lg-12 control-section">
        <div id="mention-controls">
            <table>
                <tr>
                    <td>
                        <label id="label" class="multiple">Start typing <code>@@</code>, <code>#</code>, <code>$</code> or <code>%</code> to select the respective values</label>

                        <div id="multipleList" placeHolder="Type here..!"></div>

                        <ejs-mention id="data" allowSpaces="true" mentionChar="@employeeMentionChar" target="#multipleList" query="@query" popupWidth="250px" popupHeight="215px" suggestionCount="15">
                            <e-data-manager adaptor="WebApiAdaptor" url="http://localhost:62928/api/Employees" crossDomain="true"></e-data-manager>
                            <e-mention-fields text="FirstName" value="EmployeeID"></e-mention-fields>
                        </ejs-mention>

                        <ejs-mention id="projects" dataSource="@projectsData" mentionChar="@projectMentionChar" allowSpaces="true" target="#multipleList" displayTemplate="<span class='e-success'>${Value}</span>">
                            <e-mention-fields text="Value"></e-mention-fields>
                        </ejs-mention>
                        <ejs-mention id="cost" dataSource="@costsData" mentionChar="@costMentionChar" allowSpaces="true" target="#multipleList" displayTemplate="<span class='e-error'>${Value}</span>">
                            <e-mention-fields text="Value"></e-mention-fields>
                        </ejs-mention>
                        <ejs-mention id="status" dataSource="@statusData" mentionChar="@statusMentionChar" allowSpaces="true" target="#multipleList" displayTemplate="<span class='e-warning'>${Value}</span>">
                            <e-mention-fields text="Value"></e-mention-fields>
                        </ejs-mention>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    @*custom code start*@
    <style>
        #multipleList {
            min-height: 100px;
            border: 1px solid #D7D7D7;
            width: 600px;
            font-size: 14px;
            padding: 8px;
            border-radius: 4px;
        }

        #mention-controls {
            margin: 0 auto;
            width: 600px;
        }

            #mention-controls #label {
                font-size: 15px;
                font-weight: 600;
            }

        div#multipleList[placeholder]:empty:before {
            content: attr(placeholder);
            color: #555;
        }

        @@media screen and (max-width: 1010px) {
            #multipleList,
            #mention-controls, #mention-controls table {
                width: 100%;
            }
        }
    </style>
    @*custom code end*@

}
@section Meta{
    <meta name="description" content="This example demonstrates the different mentioned characters in ASP.NET Core Mention control. Explore here for more details." />
}
@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the different mentioned characters that are used to render the suggestion list. Type the <code>@@</code> or <code>#</code> or <code>$</code> or <code>%</code> characters to select or tag the name from respective suggestion lists.</p>
    </div>
}
@section Description{
    <div id="description">
        <div id="description">
            <p>In the above sample, the following are configured for the contenteditable div element with <code>@@</code> mention integrated.</p>
            <ul>
                <li><code>@@</code> - Typing <code>@@</code> lists out the suggestions of the employee names.</li>
                <li><code>#</code> - Typing <code>#</code> lists the project names.</li>
                <li><code>$</code> - Typing <code>$</code> lists out the cost of the project</li>
                <li><code>%</code> - Typing <code>%</code> lists the status of the project.</li>
            </ul>
        </div>
    </div>
}
@section Title{
    <title>ASP.NET Core Mention Component different mentioned characters Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Different Mentioned Characters in ASP.NET Core Mention Control</h1>
}
