@page

@model EJ2CoreSampleBrowser.Pages.Schedule.DragScheduleToSchedule
@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2

@section ControlsSection {
    <div class="control-section">
        <div class="content-wrapper multiple-schedulers">
            <div class="schedule-container">
                <ejs-schedule id="first-schedule" width="100%" height="550px" rowAutoHeight="true" currentView="Month" eventDragArea=".content-wrapper" selectedDate="new DateTime(DateTime.Today.Year, 4, 1)" dragStop="onFirstScheduleEventDragStop">
                    <e-schedule-views>
                        <e-schedule-view option="Month"></e-schedule-view>
                    </e-schedule-views>
                    <e-schedule-eventsettings dataSource="@Model.FirstScheduleData">
                    </e-schedule-eventsettings>
                    <e-schedule-group resources="@Model.ResourceNames"></e-schedule-group>
                    <e-schedule-resources>
                        <e-schedule-resource dataSource="@Model.FirstScheduleResourceDataSource" field="TaskId" title="Employee" name="Employees" textField="text" idField="id" colorField="color"></e-schedule-resource>
                    </e-schedule-resources>
                </ejs-schedule>
                <ejs-schedule id="second-schedule" width="100%" height="550px" rowAutoHeight="true" eventDragArea=".content-wrapper" currentView="Week" selectedDate="new DateTime(DateTime.Today.Year, 4, 1)" dragStop="onSecondScheduleEventDragStop">
                    <e-schedule-views>
                        <e-schedule-view option="Month"></e-schedule-view>
                    </e-schedule-views>
                    <e-schedule-eventsettings dataSource="@Model.SecondScheduleData">
                    </e-schedule-eventsettings>
                    <e-schedule-group resources="@Model.ResourceNames"></e-schedule-group>
                    <e-schedule-resources>
                        <e-schedule-resource dataSource="@Model.SecondScheduleResourceDataSource" field="TaskId" title="Employee" name="Employees" textField="text" idField="id" colorField="color"></e-schedule-resource>
                    </e-schedule-resources>
                </ejs-schedule>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function handleDragStop(args, sourceSchedule, targetSchedule, targetSelector) {
            if (ej.base.closest(args.event.target, targetSelector)) {
                args.cancel = true;
                const cellData = targetSchedule.getCellDetails(args.event.target);
                if (cellData) {
                    sourceSchedule.deleteEvent(args.data.Id);
                    const resourceDetails = targetSchedule.getResourcesByIndex(cellData.groupIndex);
                    const eventData = {
                        Id: targetSchedule.getEventMaxID(),
                        Subject: args.data.Subject,
                        StartTime: args.data.StartTime,
                        EndTime: args.data.EndTime,
                        IsAllDay: args.data.IsAllDay,
                        Location: args.data.Location,
                        Description: args.data.Description,
                        StartTimezone: args.data.StartTimezone,
                        EndTimezone: args.data.EndTimezone,
                        TaskId: resourceDetails.resourceData.id
                    };
                    targetSchedule.addEvent(eventData);
                    const classElement = sourceSchedule.element.querySelector('.e-selected-cell');
                    if (classElement) {
                        classElement.classList.remove('e-selected-cell');
                    }
                }
            }
        }

        function onFirstScheduleEventDragStop(args) {
            var firstSchedule = document.getElementById('first-schedule').ej2_instances[0];
            var secondSchedule = document.getElementById('second-schedule').ej2_instances[0];
            handleDragStop(args, firstSchedule, secondSchedule, '#second-schedule');
        }

        function onSecondScheduleEventDragStop(args) {
            var firstSchedule = document.getElementById('first-schedule').ej2_instances[0];
            var secondSchedule = document.getElementById('second-schedule').ej2_instances[0];
            handleDragStop(args, secondSchedule, firstSchedule, '#first-schedule');
        }

    </script>


    <style>
        .content-wrapper.multiple-schedulers .schedule-container {
            display: flex;
        }

        #first-schedule {
            margin-right: 10px;
        }

        @@media screen and (max-width: 768px) {
            .content-wrapper.multiple-schedulers .schedule-container {
                flex-direction: column;
            }

            #first-schedule {
                margin-right: 0;
            }

            #second-schedule {
                margin-top: 10px;
            }
        }
    </style>

}
@*custom code start*@
@section Meta {
    <meta name="description" content="This example demonstrates the drag and drop events between Multiple Scheduler in ASP.NET Core schedule control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription {
    <div id="action-description">
        <p>
            This example illustrates how to drag and drop events among multiple Scheduler. You can drag
            events from one Scheduler to another.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            In this example, <code>eventDragArea</code> is used to drag a range of events from one Scheduler to another. The
            <code>dragStop</code> event of the Scheduler is triggered when an item is dropped from one Scheduler onto
            another. Within the <code>dragStop</code> event, the <code>addEvent</code> method is used to add the dropped event to the
            target Scheduler, and the <code>deleteEvent</code> method is used to remove the dragged event from the source
            Scheduler.
        </p>
    </div>
}
@section Title {
    <title>ASP.NET Core schedule Multiple Scheduler Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Multiple Scheduler in ASP.NET Core schedule Control</h1>
}

