@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section" align="center">
        <div id="container" align='center'> 
            <ejs-chart id="ADIContainer" title="AAPL Stock Price 2012 - 2017" axisLabelRender="axisLabel"
                       load="load">
                <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.DateTime" intervalType="@Syncfusion.EJ2.Charts.IntervalType.Months" zoomFactor=0.2 zoomPosition=0.6>
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-crosshairtooltip enable="true"></e-crosshairtooltip>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis title="Price" labelFormat="${value}" minimum=50
                                      maximum=170 plotOffset=25 interval=30 rowIndex=1 opposedPosition=true>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-tooltipsettings enable="true" shared="true">
                </e-chart-tooltipsettings>
                <e-chart-legendsettings visible="false">
                </e-chart-legendsettings>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-zoomsettings enablePinchZooming="true" enableSelectionZooming="true" mode="@Syncfusion.EJ2.Charts.ZoomMode.X" enablePan="true"></e-chart-zoomsettings>
                <e-chart-crosshairsettings enable=true lineType="@Syncfusion.EJ2.Charts.LineType.Vertical"></e-chart-crosshairsettings>
                <e-chart-axes>
                    <e-chart-axis name="secondary"
                                  opposedPosition=true rowIndex=0 interval=6000000000
                                  minimum=-7000000000 maximum=5000000000 title="Accumulation Distribution (in Billion)">
                        <e-linestyle width="0"></e-linestyle>
                        <e-majorticklines width="0"></e-majorticklines>
                        <e-majorgridlines width="0"></e-majorgridlines>
                        <e-striplines>
                            <e-stripline start="-7000000000" end="6000000000" text="" color="#6063ff" visible="true" opacity="0.1" zIndex="@Syncfusion.EJ2.Charts.ZIndex.Behind"></e-stripline>
                        </e-striplines>
                    </e-chart-axis>
                </e-chart-axes>
                <e-chart-rows>
                    <e-chart-row height="40%"></e-chart-row>
                    <e-chart-row height="60%"></e-chart-row>
                </e-chart-rows>
                <e-series-collection>
                    <e-series xName="x" low="low" high="high" close="close" volume="volume" open="open" width=2
                              name="Apple Inc" bearFillColor="#2ecd71" bullFillColor="#e74c3d"
                              type="@Syncfusion.EJ2.Charts.ChartSeriesType.Candle"></e-series>
                </e-series-collection>
                <e-indicators>
                    <e-indicator type="@Syncfusion.EJ2.Charts.TechnicalIndicators.AccumulationDistribution" field="Close" seriesName="Apple Inc" yAxisName="secondary" fill="#6063ff"
                                 period=3>
                    </e-indicator>
                </e-indicators>
            </ejs-chart>
        </div>
    </div>
    <script src="~/scripts/chart/hilo-data.js"></script>
    <script type="text/javascript">
        var ChartPoints = hiloData;
        function load(args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.chart.series[0].dataSource = ChartPoints;
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
        function axisLabel(args) {
            if (args.axis.name === 'secondary') 
            {
                var value = Number(args.text) / 1000000000;
                args.text = String(value) + 'B';
            }
        }
    </script>
}
    @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Accumulation Distribution in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample illustrates a chart with candle series and an accumulation distribution indicator. The trackball shows information about the stock rates and signal values each day.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure an accumulation distribution indicator. This uses volume and price to identify whether stock is accumulated or distributed. It also identifies divergences between the stock price and volume flow.
        </p>
        <p>
            <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch enabled devices.
        </p>
        <p>
            More information about the accumulation distribution indicator can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/technical-indicators#accumulation-distribution" aria-label="documentation section">documentation section</a>.
        </p>
    </div>
}
@*custom code start*@
@section Scripts {
}

<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET Core Chart Accumulation Distribution Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Accumulation Distribution in ASP.NET Core Chart Control</h1>
                }