@using Syncfusion.EJ2
@section ControlsSection{
    @{
                string valueX1 = "18%";
                string valueX2 = "46%";
                string valueX3 = "90%";
    }

<div class="control-section" align="center">
    
        <ejs-chart id="lineContainer" load="load" title="US Season Retail Sales Growth">
            <e-chart-tooltipsettings enable="true" shared="true" header="<b>Revenue</b>" format="${point.x} : <b>${point.y}</b>" enableMarker="false">
            </e-chart-tooltipsettings>
            <e-chart-legendsettings visible="false">
            </e-chart-legendsettings>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-chart-annotations>
                <e-chart-annotation content="<div style='color:#4ca1af; font-size: 14px; font-weight:bold'>Winter</div>" region="@Syncfusion.EJ2.Charts.Regions.Series" x="valueX1" y="43%"></e-chart-annotation>
                <e-chart-annotation content="<div style='color:#ffa751; font-size: 14px; font-weight:bold'>Summer</div>" region="@Syncfusion.EJ2.Charts.Regions.Series" x="valueX2" y="43%"></e-chart-annotation>
                <e-chart-annotation content="<div style='color:#93f9b9; font-size: 14px; font-weight:bold'>Spring</div>" region="@Syncfusion.EJ2.Charts.Regions.Series" x="valueX3" y="18%"></e-chart-annotation>
            </e-chart-annotations>
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.DateTime" labelFormat="MMM" intervalType="@Syncfusion.EJ2.Charts.IntervalType.Months" interval="1">                      
                <e-majorgridlines width="0"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis labelFormat="${value}K" rangePadding="@Syncfusion.EJ2.Charts.ChartRangePadding.None" minimum=0 maximum=200 interval="50">
                <e-linestyle width="0"></e-linestyle>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryyaxis>
            <e-series-collection>
                <e-series segmentAxis="@Syncfusion.EJ2.Charts.Segment.X" xName="Month" yName="US_OrganicRevenue" type="@Syncfusion.EJ2.Charts.ChartSeriesType.MultiColoredArea" segments="ViewBag.segment">                    
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
  
    <script>
        function load(args) {
            var selectedTheme = location.hash.split("/")[1];
            var dataValues = [];
            [150, 71.5, 106.4, 100.25, 70.0, 106.0, 85.6, 78.5, 76.4, 86.1, 155.6, 160.4].map(function (value, index) {
                dataValues.push({ Month: new Date(2016, index, 1), US_OrganicRevenue: value });
            });
            args.chart.series[0].dataSource = dataValues;
            selectedTheme = selectedTheme ? selectedTheme : "Material";
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice?'None':'Rotate45';
            args.chart.primaryXAxis.labelRotation = ej.base.Browser.isDevice?'-45':'0';
        }
    </script>
    
    <style>
        #control-container {
            padding: 0px !important;
        }

        #winter stop {
            stop-color: #4ca1af;
        }

            #winter stop[offset="0"] {
                stop-color: #c4e0e5;
            }

            #winter stop[offset="1"] {
                stop-color: #4ca1af;
            }

        #summer stop {
            stop-color: #ffa751;
        }

            #summer stop[offset="0"] {
                stop-color: #ffe259;
            }

            #summer stop[offset="1"] {
                stop-color: #ffa751;
            }

        #spring stop {
            stop-color: #1d976c;
        }

            #spring stop[offset="0"] {
                stop-color: #93f9b9;
            }

            #spring stop[offset="1"] {
                stop-color: #1d976c;
            }
    </style>
    <svg style="height: 0">
        <defs>
            <linearGradient id="winter" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="summer" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
            <linearGradient id="spring" x1="0" x2="0" y1="0" y2="1">
                <stop offset="0"></stop>
                <stop offset="1"></stop>
            </linearGradient>
        </defs>
    </svg>

}


@section Scripts {

}

@section Meta{
                    <meta name="description" content="This example demonstrates the Area Zone in ASP.NET Core Chart control. Explore here for more details."/>
                }
@section ActionDescription{
    <p>
        This sample visualizes the data on US season retail sales growth using a multi-colored area series in the chart. Data points are enhanced with segments and tooltips.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure points in a particular range by using <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types#area-charts">MultiColoredArea</a> series. Points within the range can be configured with the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartSegment.html#Syncfusion_EJ2_Charts_ChartSegment_Color">Color</a> property in <code>ChartSegment</code>.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <p>
        More information on the area series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types#area-charts">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET Core Chart Area Zone Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Area Zone in ASP.NET Core Chart Control</h1>
                }