@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div id="container" align='center'>
            <ejs-chart id="dataEditingContainer" title="Electricity - Production" load="load">
                <e-chart-legendsettings visible="true">
                </e-chart-legendsettings>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category" labelFormat="yyyy" edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift" intervalType="@Syncfusion.EJ2.Charts.IntervalType.Years">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis title="Production(Billion in kWh)" labelFormat="{value}B" minimum=0 maximum=100 interval=20
                                      rangePadding="@Syncfusion.EJ2.Charts.ChartRangePadding.None">
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-series-collection>
                    <e-series dataSource="ViewBag.ConsumerDetails" name="Renewable" xName="Period" width="2" opacity="1" yName="ProductA_Sales" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column">
                        <e-series-marker visible="true" width="7" height="7">
                        </e-series-marker>
                    </e-series>
                    <e-series dataSource="ViewBag.ConsumerDetails" xName="Period" width="2" yName="ProductB_Sales" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line" name="Non-Renewable">
                        <e-series-marker visible="true" width="7" height="7" isFilled="true">
                        </e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>

    <script>

        @* custom code start *@
        function load(args) {
            var indexedTheme = themeName ? themeName : 'Material';
            args.chart.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.chart.series[0].dragSettings.enable = true;
            args.chart.series[1].dragSettings.enable = true;
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
        @* custom code end *@
    </script>


}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Data Editing in ASP.NET Core Chart control. Explore here for more details."/>
                }

@*custom code end*@

@section ActionDescription{
    <p>
        This sample shows the behavior of the data editing in the chart. Drag and drop the points to change the data values dynamically.
    </p>
}

@section Description{
    <div id="description">
        <p>
            In this example, you can see how to drag and drop the data points in the chart by setting <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartDragSettings.html#Syncfusion_EJ2_Charts_ChartDragSettings_Enable">Enable</a> property in <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartDragSettings.html">ChartDataEditSettings</a> to <b>true</b>. Also, you can set data editing’s minimum and maximum range using the
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartDragSettings.html#Syncfusion_EJ2_Charts_ChartDragSettings_MinY">MinY</a> and <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartDragSettings.html#Syncfusion_EJ2_Charts_ChartDragSettings_MaxY">MaxY</a> properties.
        </p>
        <p>
            More information about the data editing can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/data-editing">documentation section</a>.
        </p>
    </div>

}
@section Title{
                    <title>ASP.NET Core Chart Data Editing Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Data Editing in ASP.NET Core Chart Control</h1>
                }