@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section" align="center">
        <ejs-chart id="container" load="load" title="Crude Steel Production Annual Growth">
            <e-chart-tooltipsettings enable="true">
            </e-chart-tooltipsettings>
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.DateTime"
                                  edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift">
                <e-majorgridlines width="0"></e-majorgridlines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis title="Million Metric Tons"
                                  minimum="0"
                                  maximum="20"
                                  interval="4">
                <e-linestyle width="0"></e-linestyle>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryyaxis>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-chart-legendsettings enableHighlight="true">
            </e-chart-legendsettings>
            <e-series-collection>
                <e-series dataSource="ViewBag.ChartData" name="Vietnam" xName="Period" width="2" opacity="1" yName="Viet_Growth" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                    <e-series-marker visible="true" height="7" width="7" shape="@Syncfusion.EJ2.Charts.ChartShape.Circle" isFilled="true"></e-series-marker>
                </e-series>
                <e-series dataSource="ViewBag.ChartData" name="Canada" xName="Period" width="2" opacity="1" yName="Can_Growth" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                    <e-series-marker visible="true" height="6" width="6" shape="@Syncfusion.EJ2.Charts.ChartShape.Triangle" isFilled="true"></e-series-marker>
                </e-series>
                <e-series dataSource="ViewBag.ChartData" name="Malaysia" xName="Period" width="2" opacity="1" yName="Mal_Growth" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                    <e-series-marker visible="true" height="7" width="7" shape="@Syncfusion.EJ2.Charts.ChartShape.Diamond" isFilled="true"></e-series-marker>
                </e-series>
                <e-series dataSource="ViewBag.ChartData" name="Egypt" xName="Period" width="2" opacity="1" yName="Egy_Growth" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                    <e-series-marker visible="true" height="5" width="5" shape="@Syncfusion.EJ2.Charts.ChartShape.Rectangle" isFilled="true"></e-series-marker>
                </e-series>
                <e-series dataSource="ViewBag.ChartData" name="Indonesia" xName="Period" width="2" opacity="1" yName="Ind_Growth" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                    <e-series-marker visible="true" height="7" width="7" shape="@Syncfusion.EJ2.Charts.ChartShape.Pentagon" isFilled="true"></e-series-marker>
                </e-series>                
            </e-series-collection>
        </ejs-chart>
    </div>
    @*custom code start*@
    <script>
        function load(args) {
            var selectedTheme = themeName ? themeName : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
    @*custom code end*@
}
@*custom code start*@
@section Scripts {

}


<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Line in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/charts/chart-types/line-chart">ASP.NET Core Line Chart</a> example represents the crude steel production annual growth data with default line series in the chart. Data points are enhanced with markers and tooltips.
    </p>
}
@section Description{
    <p>
        ASP.NET Core Line Chart represents and visualizes time-dependent data to show the trends at equal intervals. In this example, you can see how to render and configure a line chart. <code>Markers</code> are used to represent individual data and its values.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <p>
        More information about the line series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/line">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET Core Chart Line Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Line in ASP.NET Core Chart Control</h1>
                }