@using Syncfusion.EJ2
@section ControlsSection{
    @{
        
       var Polar = "Polar";
    }

    <div class="col-lg-8 control-section">   
            <ejs-chart id="container" textRender="textRender" load="load" title="Temperatures of Germany">
                <e-chart-primaryxaxis interval="1" labelPlacement="@Syncfusion.EJ2.Charts.LabelPlacement.OnTicks" valueType="@Syncfusion.EJ2.Charts.ValueType.Category"></e-chart-primaryxaxis>
                <e-chart-primaryyaxis minimum="0" maximum="15" interval="5" labelFormat="{value}"></e-chart-primaryyaxis>
                <e-chart-tooltipsettings enable="true" header="" format="<b>${point.x}</b> <br> Low : <b>${point.low}°C</b> <br> High : <b>${point.high}°C</b>">
                </e-chart-tooltipsettings>
                <e-chart-legendsettings visible="false">
                </e-chart-legendsettings>
                <e-series-collection>
                    <e-series dataSource="ViewBag.ChartPoints" name="Germany" xName="Month" width="2" low="MinTemp" high="MaxTemp" tooltipMappingName="MinTemp" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Polar" drawType="@Syncfusion.EJ2.Charts.ChartDrawType.RangeColumn">
                        <e-series-border color="white" width="3"></e-series-border>
                        <e-series-marker>
                            <e-series-datalabel visible="true" position="@Syncfusion.EJ2.Charts.LabelPosition.Top" enableRotation="true">
                                <e-font color="#ffffff"></e-font>
                            </e-series-datalabel>
                        </e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
        <div class="col-lg-4 property-section">
            <div class="property-panel-section">
                <div class="property-panel-content">
                    <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
                        <tr style="height: 50px">
                            <td style="width: 50%">
                                <div>Series Type:</div>
                            </td>
                            <td style="width: 50%;">
                                <ejs-dropdownlist id="serieschange" dataSource="@ViewBag.select" value="Polar" change="seriesChange"  popupHeight="220px"></ejs-dropdownlist>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    <script>
    @*custom code start*@
        function load(args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.chart.primaryXAxis.coefficient = ej.base.Browser.isDevice ? 80 : 100;
        }
        function textRender(args) {
            args.text = args.text.replace('˚C', '');
        }
    @*custom code end*@
        function seriesChange() {
            var chart = document.getElementById('container').ej2_instances[0];
            chart.series[0].type = this.value;
            chart.series[0].animation.enable = false;
            chart.refresh();
        }
    </script>

@*custom code start*@
    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>
@*custom code end*@
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Range Column in ASP.NET Core Chart control. Explore here for more details."/>
                }
@section ActionDescription{
    <p>
        This sample shows minimum and maximum temperature variations in polar and radar charts using a range column series.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure polar and radar charts with a range column series. Switching between polar and radar series can be done using <b>Series Type</b> in the property panel.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
    <p>
        More information about the polar and radar chart with a range column series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/polar#range-column">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET Core Chart Range Column Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Range Column in ASP.NET Core Chart Control</h1>
                }