@using Syncfusion.EJ2
@section ControlsSection{
    
        <div class="control-section" align="center">

            <ejs-chart id="container" load="load" title="Wind Rose Chart">
                <e-chart-tooltipsettings enable="true">
                </e-chart-tooltipsettings>
                <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category" labelPlacement="@Syncfusion.EJ2.Charts.LabelPlacement.OnTicks" interval="1"></e-chart-primaryxaxis>
                <e-chart-legendsettings enableHighlight="true">
                </e-chart-legendsettings>
                <e-series-collection>
                    <e-series dataSource="ViewBag.ChartPoints" name="6-9" xName="XValue" width="2" yName="YValue" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Polar" drawType="@Syncfusion.EJ2.Charts.ChartDrawType.StackingColumn"></e-series>
                    <e-series dataSource="ViewBag.ChartPoints" name="9-11" xName="XValue" width="2" yName="YValue1" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Polar" drawType="@Syncfusion.EJ2.Charts.ChartDrawType.StackingColumn"></e-series>
                    <e-series dataSource="ViewBag.ChartPoints" name="11-14" xName="XValue" width="2" yName="YValue2" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Polar" drawType="@Syncfusion.EJ2.Charts.ChartDrawType.StackingColumn"></e-series>
                    <e-series dataSource="ViewBag.ChartPoints" name="14-17" xName="XValue" width="2" yName="YValue3" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Polar" drawType="@Syncfusion.EJ2.Charts.ChartDrawType.StackingColumn"></e-series>
                    <e-series dataSource="ViewBag.ChartPoints" name="17-20" xName="XValue" width="2" yName="YValue4" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Polar" drawType="@Syncfusion.EJ2.Charts.ChartDrawType.StackingColumn"></e-series>
                    <e-series dataSource="ViewBag.ChartPoints" name="23 Above" xName="XValue" width="2" yName="YValue5" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Polar" drawType="@Syncfusion.EJ2.Charts.ChartDrawType.StackingColumn"></e-series>
                </e-series-collection>
            </ejs-chart>
        </div>

    <script>
            function load(args) {
                var selectedTheme = location.hash.split('/')[1];
                selectedTheme = selectedTheme ? selectedTheme : 'Material';
                args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
                args.chart.primaryXAxis.coefficient = ej.base.Browser.isDevice ? 80 : 100;
            }
    </script>

@*custom code start*@
        <style>
            #control-container {
                padding: 0px !important;
            }
        </style>
@*custom code end*@
    }
    @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Wind Rose in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
    @section ActionDescription{
        <p>
            This sample shows a wind rose chart designed using polar and radar charts with a stacking column series. A wind rose chart helps visualize wind patterns, i.e., wind speed and wind direction.
        </p>
    }
    @section Description{
        <p>
            In this example, you can see how to render and configure the polar and radar charts with a stacking column series. Switching between polar and radar series can be done using <b>Series Type</b> in the property panel.
        </p>
        <p>
            <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
        </p>
        <p>
            More information about the polar and radar series with a stacking column type chart can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/polar#stacked-column" aria-label="documentation section">documentation section</a>.
        </p>
    }
@section Title{
                    <title>ASP.NET Core Chart Wind Rose Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Wind Rose in ASP.NET Core Chart Control</h1>
                }