@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section" align="center">
        <ejs-chart id="container" load="load" title="Family Expense for Year">
            <e-chart-tooltipsettings enable="true" format="${point.x} : <b>${point.y} (${point.percentage}%)</b>">
            </e-chart-tooltipsettings>
            <e-chart-legendsettings enableHighlight="true"></e-chart-legendsettings>
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category" interval="1">
                <e-linestyle width="0"></e-linestyle>
                <e-majorgridlines width="0"></e-majorgridlines>
                <e-minorgridlines width="0"></e-minorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
                <e-minorticklines width="0"></e-minorticklines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis interval="20">
                <e-linestyle width="0"></e-linestyle>
                <e-majorgridlines width="1"></e-majorgridlines>
                <e-minorgridlines width="1"></e-minorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
                <e-minorticklines width="0"></e-minorticklines>
            </e-chart-primaryyaxis>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-series-collection>
                <e-series dataSource="ViewBag.ChartPoints" name="John" xName="ExpensesCategory" width="2" opacity="1" yName="JohnExpenses" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingLine100">
                    <e-series-marker visible="true" width="7" height="7" shape="@Syncfusion.EJ2.Charts.ChartShape.Circle" isFilled="true"></e-series-marker>
                </e-series>
                <e-series dataSource="ViewBag.ChartPoints" name="Peter" xName="ExpensesCategory" width="2" opacity="1" yName="PeterExpenses" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingLine100">
                    <e-series-marker visible="true" width="7" height="7" shape="@Syncfusion.EJ2.Charts.ChartShape.Diamond" isFilled="true"></e-series-marker>
                </e-series>
                <e-series dataSource="ViewBag.ChartPoints" name="Steve" xName="ExpensesCategory" width="2" opacity="1" yName="SteveExpenses" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingLine100">
                    <e-series-marker visible="true" width="5" height="5" shape="@Syncfusion.EJ2.Charts.ChartShape.Rectangle" isFilled="true"></e-series-marker>
                </e-series>
                <e-series dataSource="ViewBag.ChartPoints" name="Charle" xName="ExpensesCategory" width="2" opacity="1" yName="CharleExpenses" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingLine100">
                    <e-series-marker visible="true" width="6" height="6" shape="@Syncfusion.EJ2.Charts.ChartShape.Triangle" isFilled="true"></e-series-marker>
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
    <script>
        function load(args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice?'None':'Trim';
            args.chart.primaryXAxis.labelRotation = ej.base.Browser.isDevice?'-45':'0';
        }
    </script>
}

@section Scripts {

}

<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the 100% Stacked Line in ASP.NET Core Chart control. Explore here for more details."/>
                }
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/charts/chart-types/100-stacked-line-chart">ASP.NET Core 100% Stacked Line Chart</a> example visualizes the family expenses with 100% stacked line series to identify who spent more money in each category. Data points are enhanced with markers and tooltips.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the 100% stacked line chart. This chart displays multiple series of data as stacked lines, ensuring that the cumulative proportion of each stacked element always totals 100%. <code>Markers</code> are used to represent individual data and its values.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <p>
        More information about the 100% stacked line series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/stack-line100">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET Core Chart 100% Stacked Line Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of 100% Stacked Line in ASP.NET Core Chart Control</h1>
                }