@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section" align="center">

        <ejs-chart id="splineContainer" load="load" title="Sales Comparison">
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category">
                <e-majorgridlines width="0"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift">
                <e-linestyle width="0"></e-linestyle>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryyaxis>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-series-collection>
                <e-series dataSource="ViewBag.ChartPoints" xName="Month" yName="AppleSales" name="Apple" width=2 columnWidth="0.6" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingBar100">
                    <e-series-border width="1" color="#ffffff"></e-series-border>
                </e-series>
                <e-series dataSource="ViewBag.ChartPoints" xName="Month" yName="OrangeSales" name="Orange" width=2 columnWidth="0.6" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingBar100">
                    <e-series-border width="1" color="#ffffff"></e-series-border>
                </e-series>
                <e-series dataSource="ViewBag.ChartPoints" xName="Month" yName="Wasteage" name="Wastage" width=2 columnWidth="0.6" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingBar100">
                    <e-series-border width="1" color="#ffffff"></e-series-border>
                </e-series>
            </e-series-collection>
            <e-chart-tooltipsettings enable="true" format="${point.x} : <b>${point.y} (${point.percentage}%)</b>"></e-chart-tooltipsettings>
            <e-chart-legendsettings visible="true" enableHighlight="true"></e-chart-legendsettings>
        </ejs-chart>
    </div>

    <script>
        function load(args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
@*custom code start*@
@section Scripts {

}
@section Meta{
                    <meta name="description" content="This example demonstrates the 100% Stacked Bar in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/charts/chart-types/100-stacked-bar-chart" aria-label="Navigate to explore the syncfusion ASP.NET Core 100% Stacked Bar Chart">ASP.NET Core 100% Stacked Bar Chart</a> example visualizes a comparison of sales percentages over several months with a default 100% stacked bar series. The legend in the sample shows more information about the series.
        </p>
    </div>
}
@section Description{
    <div>
        <p>
            In this example, you can see how to render and configure the 100% stacked bar chart. The 100% stacked bar chart displays multiple series of data as stacked bars, ensuring that the cumulative value of each stacked element always totals 100%.
        </p>
        <p>
            <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
        </p>
        <p>
            More information about the 100% stacked bar series can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/stack-bar100" aria-label="Navigate to the documentation for 100% Stacked Bar in ASP.NET CORE Charts Component">documentation section</a>.
        </p>
    </div>
}
@*custom code start*@
<style>

    #control-container {
        padding: 0px !important;
    }
</style>
@*custom code end*@
@section Title{
                    <title>ASP.NET Core Chart 100% Stacked Bar Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of 100% Stacked Bar in ASP.NET Core Chart Control</h1>
                }