@using Syncfusion.EJ2
@section ControlsSection{
   <div class="control-section" align='center'>
       <ejs-chart id="BollingerContainer" title="AAPL Stock Price 2012-2017" load="load">
           <e-chart-chartarea>
               <e-chartarea-border width="0"></e-chartarea-border>
           </e-chart-chartarea>
           <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.DateTime" intervalType="@Syncfusion.EJ2.Charts.IntervalType.Months" zoomFactor="0.2" zoomPosition="0.6">
               <e-majorgridlines width="0"></e-majorgridlines>
               <e-crosshairtooltip enable="true"></e-crosshairtooltip>
           </e-chart-primaryxaxis>
           <e-chart-primaryyaxis title="Price (in Million)" minimum="50" maximum="170" interval="30" labelFormat="${value}M">
               <e-majorticklines width="0"></e-majorticklines>
               <e-linestyle width="0"></e-linestyle>
           </e-chart-primaryyaxis>
           <e-series-collection>
               <e-series xName="x" low="low" high="high" close="close" volume="volume" open="open" width=2
                         name="Apple Inc" bearFillColor="#2ecd71" bullFillColor="#e74c3d"
                         type="@Syncfusion.EJ2.Charts.ChartSeriesType.Candle">
                   <e-series-animation enable="false"></e-series-animation>
               </e-series>
           </e-series-collection>
           <e-indicators>
               <e-indicator type="@Syncfusion.EJ2.Charts.TechnicalIndicators.Tma" field="Close" seriesName="Apple Inc" fill="blue"
                            period=14 xName="x">
                   <e-indicator-animation enable="true"></e-indicator-animation>
               </e-indicator>
           </e-indicators>
            <e-chart-zoomsettings enableSelectionZooming="true" mode="@Syncfusion.EJ2.Charts.ZoomMode.X" enablePan="true"></e-chart-zoomsettings>
           <e-chart-crosshairsettings enable="true" lineType="@Syncfusion.EJ2.Charts.LineType.Vertical"></e-chart-crosshairsettings>
           <e-chart-legendsettings visible="false"></e-chart-legendsettings>
           <e-chart-tooltipsettings enable="true" shared="true"></e-chart-tooltipsettings>
       </ejs-chart>
        </div>
    <script src="~/scripts/chart/hilo-data.js"></script>
    <script type="text/javascript">
        var ChartPoints = hiloData;
        function load(args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Material';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
            args.chart.series[0].dataSource = ChartPoints;
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
@*custom code start*@
@section Scripts {

}
<style>

    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Tma in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates a chart with candle series and a triangular moving average indicator. The trackball shows information about the stock and signal values for each day.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a triangle moving average indicator. The triangle moving average indicator is used to define the direction of the trend.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <p>
        More information about the triangle moving average indicator can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/technical-indicators#triangular-moving-average-tma" aria-label="Navigate to the documentation for Triangular Moving Average in technical-indicators of ASP.NET Core Chart control">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET Core Chart Tma Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Tma in ASP.NET Core Chart Control</h1>
                }