@page
@model EJ2CoreSampleBrowser.Pages.Chart.BarModel
@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section" align="center">

        <ejs-chart id="lineContainer" load="load" title="Global Smartphone Sales Trends by Brand (2021-2023)" subTitle="Source: wikipedia.org">
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
                <e-chartarea-margin bottom=12></e-chartarea-margin>
            </e-chart-chartarea>
            <e-chart-tooltipsettings enable="true" enableHighlight=true header="<b>${series.name}</b>" format="${point.x} : <b>${point.y}</b>">
            </e-chart-tooltipsettings>
            <e-chart-legendsettings visible="true" enableHighlight="true" shapeWidth=9 shapeHeight=9>
            </e-chart-legendsettings>
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category">
                <e-majorgridlines width="0"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis labelFormat="{value}M"
                                  title="Units Sold (in Millions)" maximum=300
                                  edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift">
                <e-majorticklines width="0"></e-majorticklines>
                <e-linestyle width="0"></e-linestyle>
            </e-chart-primaryyaxis>
            <e-series-collection>
                <e-series dataSource="@Model.ChartPoints" xName="Year" yName="Count1" name="Apple" columnSpacing="0.3" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Bar" legendShape=Rectangle>
                    <e-series-cornerradius bottomRight=4 topRight=4></e-series-cornerradius>
                </e-series>
                <e-series dataSource="@Model.ChartPoints" xName="Year" yName="Count2" name="Xiaomi" columnSpacing="0.3" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Bar" legendShape=Rectangle>
                    <e-series-cornerradius bottomRight=4 topRight=4></e-series-cornerradius>
                </e-series>
                <e-series dataSource="@Model.ChartPoints" xName="Year" yName="Count3" name="Oppo" columnSpacing="0.3" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Bar" legendShape=Rectangle>
                    <e-series-cornerradius bottomRight=4 topRight=4></e-series-cornerradius>
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script>
        function load(args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
@*custom code start*@
@section Scripts{
}

<style>

    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
    <meta name="description" content="This example demonstrates the Bar in ASP.NET Core Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/charts/chart-types/bar-chart" aria-label="Navigate to explore the syncfusion ASP.NET Core Bar Chart">ASP.NET Core Bar Chart</a> example demonstrates the global smartphone sales trends by brand from 2021 to 2023 using a bar chart. The data is visualized with bars representing unit sales for different brands, highlighting the comparative performance of each brand over the years.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the bar chart. The bar chart is similar to the column chart, but the orientation of the y-axis is horizontal rather than vertical.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
    <p>
        More information about the bar series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/bar" aria-label="Navigate to the documentation for Bar Charts in ASP.NET Core Chart control">documentation section</a>.
    </p>
}
@section Title{
    <title>ASP.NET Core Chart Bar Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Bar in ASP.NET Core Chart Control</h1>
}
