@page
@model EJ2CoreSampleBrowser.Pages.Chart.CategoryAxisModel
@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div id="container" align='center'>
            <ejs-chart id="lineContainer" title="Internet Users – 2016" load="load" pointRender="labelRender">
                <e-chart-legendsettings visible="false"></e-chart-legendsettings>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category" enableTrim="false">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis minimum=0 maximum=800
                                      edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift" labelFormat="{value}M">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                    <e-labelstyle color="Transparent"></e-labelstyle>
                </e-chart-primaryyaxis>
                <e-series-collection>
                    <e-series dataSource="@Model.ChartPoints" name="Users" xName="Country" width="2" tooltipMappingName="TooltipMappingName" yName="Users" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Bar">
                        <e-series-marker>
                            <e-series-datalabel visible="true" position="@Syncfusion.EJ2.Charts.LabelPosition.Top">
                                <e-font color="#ffffff" fontWeight="600"></e-font>
                            </e-series-datalabel>
                        </e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script>
        function labelRender(args) {
            pointRender(args);
        };

        function load(args) {
            loadChartTheme(args);
            args.chart.series[0].marker.dataLabel.font.size = ej.base.Browser.isDevice ? '9px' : '11px';
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
@*custom code start*@

@section Meta{
    <meta name="description" content="This example demonstrates the Category Axis in ASP.NET Core Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This sample shows a category axis in a chart with details about internet users across different countries.
    </p>
}
@section Description{
    <div id="description">
        <p>
            You can use the category axis to represent string values instead of numbers in the chart. To use the category axis, set <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartAxis.html#Syncfusion_EJ2_Charts_ChartAxis_ValueType" aria-label="Navigate to the ValueType property reference for ASP.NET Core Chart axis">ValueType</a> in axis to <b>Category</b>.
        </p>
        <p>
            More information about the category axis can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/category-axis" aria-label="Navigate to the documentation for category-axis in ASP.NET Core Chart control">documentation section</a>.
        </p>
    </div>
}
@section Title{
    <title>ASP.NET Core Chart Category Axis Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Category Axis in ASP.NET Core Chart Control</h1>
}
