@page
@model EJ2CoreSampleBrowser.Pages.Chart.ColumnModel
@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section" align="center">

        <ejs-chart id="lineContainer" load="load" title="Walnuts and Almonds Estimated Production for 2023" subTitle="Source: fas.usda.gov" axisLabelRender="axisLabelRender" tooltipRender="tooltipRender">
            <e-chart-tooltipsettings enable="true" enableHighlight="true" header="<b>${point.x}</b>" format="${series.name}: <b>${point.y}</b>">
            </e-chart-tooltipsettings>
            <e-chart-legendsettings visible="true" enableHighlight="true" shapeWidth=9 shapeHeight=9>
            </e-chart-legendsettings>
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category" interval="1">
                <e-majorgridlines width="0"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis title="Metric Tons" interval="40000">
                <e-majorticklines width="0"></e-majorticklines>
                <e-linestyle width="0"></e-linestyle>
            </e-chart-primaryyaxis>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
                <e-chartarea-margin bottom=12></e-chartarea-margin>
            </e-chart-chartarea>
            <e-series-collection>
                <e-series dataSource="@Model.ChartPoints" xName="Country" yName="Walnuts" name="Walnuts" columnSpacing="0.4" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column" legendShape=Rectangle>
                    <e-series-cornerradius topLeft=4 topRight=4></e-series-cornerradius>
                </e-series>
                <e-series dataSource="@Model.ChartPoints" xName="Country" yName="Almonds" name="Almonds" columnSpacing="0.4" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column" legendShape=Rectangle>
                    <e-series-cornerradius topLeft=4 topRight=4></e-series-cornerradius>
                </e-series>
            </e-series-collection>
        </ejs-chart>

    </div>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script>
        function load(args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice ? 'None' : 'Trim';
            args.chart.primaryXAxis.labelRotation = ej.base.Browser.isDevice ? '-45' : '0';
        }

        function axisLabelRender(args) {
            var value = parseInt(args.text.replace(/,/g, ''), 10);
            if (value >= 1000) {
                args.text = (value / 1000) + 'K';
            }
        }
        function tooltipRender(args) {
            if (args.text) {
                var value = args.point.y.toLocaleString('en-US');
                args.text = args.series.name + ': <b>' + value + '</b>';
            }
        }
    </script>
}
@*custom code start*@
@section Scripts{
}
<style>

    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
    <meta name="description" content="This example demonstrates the Column in ASP.NET Core Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This <a target="_blank" href="https://www.syncfusion.com/aspnet-core-ui-controls/charts/chart-types/column-chart" aria-label="Navigate to explore the syncfusion ASP.NET Core Column Chart">ASP.NET Core Column Chart</a> example visualizes the production of Walnuts and Almonds for different countries in 2023.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a column chart. The column chart is used to compare the frequency, count, total, or average of data in different categories.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
    <p>
        More information about the column series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/column" aria-label="Navigate to the documentation for column in ASP.NET Core Chart control">documentation section</a>.
    </p>
}
@section Title{
    <title>ASP.NET Core Chart Column Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Column in ASP.NET Core Chart Control</h1>
}
