@page
@model EJ2CoreSampleBrowser_NET8.Pages.Chart.HorizontalWaterfallModel
@using Syncfusion.EJ2

@{
    var connector = new { width = 0.8, dashArray = "1,2", color = "#5F6A6A" };
    var sumIndexes = new int[] { 6 };
}

@section ControlsSection {

    <div class="control-section">
        <div id="container" align="center">
            <ejs-chart id="container" title="Revenue Variation" load="load" legendRender="legendRender" isTransposed="true">
                <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category" isInversed="true" edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift">
                    <e-majorgridlines width="1"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis minimum="0" maximum="150" interval="25" labelFormat="{value}K" edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift">
                    <e-majorgridlines width="1"></e-majorgridlines>
                </e-chart-primaryyaxis>
                <e-chart-tooltipsettings enable="true" header="" format="<b>${point.x}</b> <br> Product Revenue : <b>${point.y}</b>">
                </e-chart-tooltipsettings>
                <e-chart-legendsettings mode="@Syncfusion.EJ2.Charts.LegendMode.Point" toggleVisibility="false"></e-chart-legendsettings>
                <e-series-collection>
                    <e-series dataSource="@Model.ChartPoints" width="2" columnWidth="0.5" negativeFillColor="#e56590" connector="connector" sumIndexes="sumIndexes"
                              xName="X" yName="Y" name="Increases" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Waterfall">
                        <e-series-border width="0.2" color="black"></e-series-border>
                        <e-series-marker>
                            <e-series-datalabel visible="true" position="@Syncfusion.EJ2.Charts.LabelPosition.Middle">
                            </e-series-datalabel>
                        </e-series-marker>
                        <e-series-cornerradius topLeft="3" bottomLeft="3" bottomRight="3" topRight="3">
                        </e-series-cornerradius>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>

    <script type="text/javascript">
        var load = function (args) {
            var selectedTheme = themeName ? themeName : 'Fluent2';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5');
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "70%";
            args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice ? 'None' : 'Rotate45';
            args.chart.primaryXAxis.labelRotation = ej.base.Browser.isDevice ? -45 : 0;
        };

        function legendRender(args) {
            if (args.text === 'JAN') {
                args.text = 'Increase';
            }
            else if (args.text === 'OCT') {
                args.text = 'Decrease';
                args.fill = '#e56590';
            }
            else if (args.text === '2023') {
                args.text = 'Total';
                args.fill = '#4E81BC';
            }
            else {
                args.cancel = true;
            }
        };
    </script>
}
@section Meta {
    <meta name="description" content="This example demonstrates the Horizontal Waterfall in ASP.NET Core Chart control. Explore here for more details." />
}
@section ActionDescription {
    <div id="action-description">
        <p>
            This sample visualizes a company's revenue and profits using the waterfall series chart.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            In this example, you can see how to render and configure a horizontal waterfall chart. The waterfall chart illustrates the gradual change in an entity's quantitative value due to increments or decrements.
        </p>
        <p>
            <code>Tooltips</code> are enabled in this example, to see them in action, hover over a point or tap on a point on touch-enabled devices.
        </p>
        <p>
            More information on the waterfall series can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/waterfall" aria-label="Navigate to the documentation for Horizontal Waterfall Chart in ASP.NET Core Chart control">documentation section<span class="sr-only">opens in a new tab</span></a>.
        </p>
    </div>
}
@*custom code start*@
@section Scripts {
}

<style>
    #control-container {
        padding: 0px !important;
    }
</style>
@*custom code end*@
@section Title {
    <title>ASP.NET Core Chart Horizontal Waterfall Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Horizontal Waterfall in ASP.NET Core Chart Control</h1>
}
