@page
@model EJ2CoreSampleBrowser.Pages.Chart.LogarithmicScaleModel

@section ControlsSection{
  <div class="control-section">
        <div id="container" align="center">
            <ejs-chart id="lineContainer" title="Product X Growth [1995-2005]" load="load" >
                <e-chart-tooltipsettings enable="true" shared="true" header="" format="${point.x} : <b>${point.y}</b>">
                </e-chart-tooltipsettings>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-primaryxaxis labelFormat="yyyy"
                                      valueType="@Syncfusion.EJ2.Charts.ValueType.DateTime"
                                      edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift">
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Logarithmic"
                                      edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift"
                                      minorTicksPerInterval="5"
                                      minimum="0"
                                      maximum="100000"
                                      interval="1"
                                      labelFormat="${value}">
                    <e-minorticklines width="0"></e-minorticklines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-majorgridlines width="1.5"></e-majorgridlines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-legendsettings visible="false">
                </e-chart-legendsettings>
                <e-series-collection>
                    <e-series dataSource="@Model.ChartPoints" name="Product X" xName="Period" opacity="1" width="2" yName="ProfitInfo" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline">
                        <e-series-marker visible="true" height="7" width="7" isFilled="true"></e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
    <script>
        function load(args) {
            var indexedTheme = location.hash.split("/")[1];
            indexedTheme = indexedTheme ? indexedTheme : "Material";
            args.chart.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5'));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Logarithmic Scale in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{

    <div id="action-description">
        <p>
            This sample shows a logarithmic axis in a chart with data about the sales of a product between 1995 and 2005.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            The logarithmic axis uses a logarithmic scale and is very useful when viewing data with values of both lower orders of magnitude (e.g., 10^-6) and higher orders of magnitude (e.g. 10^6). To use the logarithmic axis, set <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartAxis.html#Syncfusion_EJ2_Charts_ChartAxis_ValueType" aria-label="Navigate to the ValueType property reference for ASP.NET Core ChartAxis">ValueType</a> in axis to <b>Logarithmic</b>.
        </p>
        <p>
            <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a data point or tap one on touch-enabled devices.
        </p>
        <p>
            More information about the logarithmic axis can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/logarithmic-axis" aria-label="Navigate to the documentation for Logarithmic axis in ASP.NET Core Chart control">documentation section</a>.
        </p>
    </div>

}
@section Title{
                    <title>ASP.NET Core Chart Logarithmic Scale Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Logarithmic Scale in ASP.NET Core Chart Control</h1>
                }