@page
@model EJ2CoreSampleBrowser.Pages.Chart.NegativeStackModel
@using Syncfusion.EJ2

@section ControlsSection{
   <div class="control-section">
        <div id="container" align="center">
            <ejs-chart id="lineContainer" load="load" axisLabelRender="axisLabelRender" title="Belize Demographic Breakdown by Age and Gender (2024)" subTitle="Source: statisticstimes.com"
                      tooltipRender="tooltipRender">
                <e-chart-tooltipsettings enable="true" enableHighlight=true header="${point.x}">
                </e-chart-tooltipsettings>
                <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category" title="Population by Age Range" interval=3>
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis interval=3 labelFormat="{value}%" title="Share of Total Population (%)" edgeLabelPlacement="Shift" rangePadding="@Syncfusion.EJ2.Charts.ChartRangePadding.Round">
                    <e-linestyle width="0"></e-linestyle>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                    <e-chartarea-margin bottom=12></e-chartarea-margin>
                </e-chart-chartarea>
                <e-chart-legendsettings visible="true" enableHighlight="true" shapeheight=8 shapeWidth=8>
                </e-chart-legendsettings>
                <e-series-collection>
                    <e-series dataSource="@Model.ChartPoints" xName="Age" yName="FemalePercentValue" name="Female" legendShape="Rectangle" columnWidth="0.5" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingBar">
                        <e-series-marker>
                            <e-series-datalabel position="@Syncfusion.EJ2.Charts.LabelPosition.Outer" visible="true" name="FemalePercent">
                                <e-font fontWeight="600" size="9px"></e-font>
                            </e-series-datalabel>
                        </e-series-marker>
                        <e-series-cornerradius topRight=4 bottomRight=4></e-series-cornerradius>
                    </e-series>
                    <e-series dataSource="@Model.ChartPoints" xName="Age" yName="MalePercentValue" name="Male" legendShape="Rectangle" columnWidth="0.5" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StackingBar">
                        <e-series-marker>
                            <e-series-datalabel position="@Syncfusion.EJ2.Charts.LabelPosition.Outer" visible="true" name="MalePercent">
                                <e-font fontWeight="600" size="9px"></e-font>
                            </e-series-datalabel>
                        </e-series-marker>
                        <e-series-cornerradius topRight=4 bottomRight=4></e-series-cornerradius>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script>

        var negativeStackData = [
            { age: '90 - 94', male: 123, female: 153, malePercent: '0.03%', femalePercent: '0.04%', malePercentValue: 0.03, femalePercentValue: -0.04 },
            { age: '85 - 89', male: 407, female: 457, malePercent: '0.1%', femalePercent: '0.11%', malePercentValue: 0.1, femalePercentValue: -0.11 },
            { age: '80 - 84', male: 879, female: 970, malePercent: '0.21%', femalePercent: '0.23%', malePercentValue: 0.21, femalePercentValue: -0.23 },
            { age: '75 - 79', male: 1609, female: 1768, malePercent: '0.39%', femalePercent: '0.42%', malePercentValue: 0.39, femalePercentValue: -0.42 },
            { age: '70 - 74', male: 2769, female: 3004, malePercent: '0.66%', femalePercent: '0.72%', malePercentValue: 0.66, femalePercentValue: -0.72 },
            { age: '65 - 69', male: 4250, female: 4511, malePercent: '1.02%', femalePercent: '1.08%', malePercentValue: 1.02, femalePercentValue: -1.08 },
            { age: '60 - 64', male: 6152, female: 6369, malePercent: '1.48%', femalePercent: '1.53%', malePercentValue: 1.48, femalePercentValue: -1.53 },
            { age: '55 - 59', male: 7741, female: 7976, malePercent: '1.86%', femalePercent: '1.91%', malePercentValue: 1.86, femalePercentValue: -1.91 },
            { age: '50 - 54', male: 9643, female: 10086, malePercent: '2.31%', femalePercent: '2.42%', malePercentValue: 2.31, femalePercentValue: -2.42 },
            { age: '45 - 49', male: 11332, female: 11585, malePercent: '2.72%', femalePercent: '2.78%', malePercentValue: 2.72, femalePercentValue: -2.78 },
            { age: '40 - 44', male: 13569, female: 13713, malePercent: '3.25%', femalePercent: '3.29%', malePercentValue: 3.25, femalePercentValue: -3.29 },
            { age: '35 - 39', male: 16293, female: 15999, malePercent: '3.91%', femalePercent: '3.84%', malePercentValue: 3.91, femalePercentValue: -3.84 },
            { age: '30 - 34', male: 18805, female: 18038, malePercent: '4.51%', femalePercent: '4.32%', malePercentValue: 4.51, femalePercentValue: -4.32 },
            { age: '25 - 29', male: 20023, female: 19216, malePercent: '4.8%', femalePercent: '4.61%', malePercentValue: 4.8, femalePercentValue: -4.61 },
            { age: '20 - 24', male: 20428, female: 19689, malePercent: '4.9%', femalePercent: '4.72%', malePercentValue: 4.9, femalePercentValue: -4.72 },
            { age: '15 - 19', male: 19663, female: 18950, malePercent: '4.71%', femalePercent: '4.54%', malePercentValue: 4.71, femalePercentValue: -4.54 },
            { age: '10 - 14', male: 18701, female: 17859, malePercent: '4.48%', femalePercent: '4.28%', malePercentValue: 4.48, femalePercentValue: -4.28 },
            { age: '05 - 09', male: 19863, female: 18942, malePercent: '4.76%', femalePercent: '4.54%', malePercentValue: 4.76, femalePercentValue: -4.54 },
            { age: '00 - 04', male: 18171, female: 17316, malePercent: '4.36%', femalePercent: '4.15%', malePercentValue: 4.36, femalePercentValue: -4.15 }
        ];

        function load(args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
        function tooltipRender(args) {
            var ageGroup = args.point.x; // No need for type annotation in JS
            var dataPoint = negativeStackData.find(function (d) {
                return d.age === ageGroup;
            });
            if (args.text && dataPoint) {
                var value;
                if (args.series.name === 'Male') {
                    value = dataPoint.malePercent;
                } else if (args.series.name === 'Female') {
                    value = dataPoint.femalePercent;
                }
                if (value) {
                    args.text = args.series.name + ' Population: <b>' + value + '</b>';
                }
            }
        }
        function axisLabelRender(args) {
            if (args.value < 0) {
                args.text = (-args.value + '%').toString();
            }
        }
    </script>
}
@*custom code start*@
@section Scripts {
    <script>
    </script>
}

<style>

    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Negative Stack in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample illustrates a stacked bar chart representing the population distribution by age and gender, including negative data points. Data point values are displayed as data labels.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure negative values in a stacked bar chart. The stacked bar chart stacks points in the series horizontally. You can also use the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartSeries.html#Syncfusion_EJ2_Charts_ChartSeries_StackingGroup" aria-label="Navigate to the StackingGroup property reference for ASP.NET Core ChartSeries"></a> property to group stacked collections based on category.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
    <p>
        More information about the stacked bar series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/stacked-bar" aria-label="Navigate to the documentation for Stacked Bar in ASP.NET Core Chart control">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET Core Chart Negative Stack Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Negative Stack in ASP.NET Core Chart Control</h1>
                }