@page
@model EJ2CoreSampleBrowser.Pages.Chart.PieLegendModel
@using Syncfusion.EJ2

@section ControlsSection{
  <div class="control-section" align='center'>
        <ejs-accumulationchart id="container" load="load" pointRender="labelRender" enableBorderOnMouseMove="false" selectionMode="@Syncfusion.EJ2.Charts.AccumulationSelectionMode.Point">
            <e-accumulationchart-center x="50%" y="50%"></e-accumulationchart-center>
            <e-accumulationchart-tooltipsettings enableHighlight="true" enable="true" format="<b>${point.x}</b><br>Browser Share: <b>${point.y}%</b>" header=""></e-accumulationchart-tooltipsettings>
            <e-accumulationchart-legendsettings visible="true" toggleVisibility="false" position="@Syncfusion.EJ2.Charts.LegendPosition.Bottom" fixedWidth="true">
            </e-accumulationchart-legendsettings>
            <e-accumulation-series-collection>
                <e-accumulation-series dataSource="@Model.PieChartPoints" xName="ExpenseCategory" yName="ExpensePercentage" name="legendName" innerRadius="50%" explode="false" explodeOffset="10%" explodeIndex="0" startAngle="30">
                    <e-accumulationseries-datalabel name="DataLabelMappingName" visible="true" position="@Syncfusion.EJ2.Charts.AccumulationLabelPosition.Inside">
                        <e-font fontWeight="600" color="#ffffff"></e-font>
                        <e-connectorstyle type="@Syncfusion.EJ2.Charts.ConnectorType.Curve" length="20px"></e-connectorstyle>
                    </e-accumulationseries-datalabel>
                </e-accumulation-series>
            </e-accumulation-series-collection>
            <e-accumulationchart-accumulationannotations>
                <e-accumulationchart-accumulationannotation X="52%" Y="50%" region="@Syncfusion.EJ2.Charts.Regions.Series"></e-accumulationchart-accumulationannotation>
            </e-accumulationchart-accumulationannotations>
        </ejs-accumulationchart>
    </div>

    <script>
        var fluent2Colors = ["#6200EE", "#09AF74", "#0076E5", "#CB3587", "#E7910F", "#66CD15", "#F3A93C", "#107C10",
            "#C19C00"];
        var count = 0;
        function load(args) {
            var indexedTheme = location.hash.split('/')[1];
            indexedTheme = indexedTheme ? indexedTheme : 'Fluent2';
            args.accumulation.theme = (indexedTheme.charAt(0).toUpperCase() + indexedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5'));
            args.accumulation.title = ej.base.Browser.isDevice ?  "Browser Market Shares" : '';
            args.accumulation.legendSettings.position = 'Bottom';
            args.accumulation.legendSettings.maximumColumns = ej.base.Browser.isDevice ? 2 : 3;
            args.accumulation.annotations[0].content = ej.base.Browser.isDevice ? " " : "<div style='font-Weight:600;font-size:14px'>Browser <br> Market <br> Shares</div>";
            args.accumulation.series[0].radius = ej.base.Browser.isDevice ? "80%" : "85%";
        }
        function labelRender(args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Fluent2';
            if (selectedTheme === 'fluent2') {
                args.fill = fluent2Colors[args.point.index % 10];
            }
        }
        function getFontSize(width) {
            if (width > 300) {
                return '13px';
            } else if (width > 250) {
                return '8px';
            } else {
                return '6px';
            }
        }
    </script>
}

    @*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Pie with Legend in ASP.NET Core Chart control. Explore here for more details."/>
                }
    @*custom code end*@
@section ActionDescription{

    <div id="action-description">
        <p>
            This sample demonstrates a donut chart showcasing mobile browser usage statistics, with legends displayed at the bottom of the chart.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p> 
            This example demonstrates how to render a donut chart with legends positioned at the bottom. The legend can be arranged in horizontal, vertical, or auto layout modes. Using the <code>MaximumColumns</code> property, you can define the maximum number of columns in auto layout. Additionally, a fixed width option ensures uniform legend sizes for a polished appearance.
        </p>
        <p>
            More information about the legend feature can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/accumulation-chart/legend" aria-label="Navigate to the documentation for legend in ASP.NET Core accumulation-chart">documentation section</a>.
        </p>
    </div>

}
@section Title{
                    <title>ASP.NET Core Chart Pie with Legend Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Pie with Legend in ASP.NET Core Chart Control</h1>
                }