@page
@model EJ2CoreSampleBrowser.Pages.Chart.RangeBarModel
@using Syncfusion.EJ2
@section ControlsSection{
    @{
        var border = new Syncfusion.EJ2.Charts.ChartBorder { Width = 0, Color = "transparent" };
        var line = new
        {
            width = 0.0001
        };
    }
<div class="control-section" align="center">

        <ejs-chart id="lineContainer"  load="load" title="Temperature Variation"
                  isTransposed="true">
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category">
                <e-majorgridlines width="0"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift" labelFormat = "{value}˚F" title="Temperature (In Fahrenheit)">
                <e-majorticklines width="0"></e-majorticklines>
                <e-linestyle width="0"></e-linestyle>
            </e-chart-primaryyaxis>
            <e-series-collection>
                <e-series dataSource="@Model.ChartPoints" xName="Month" high="CA_HighTemp" low="CA_LowTemp" columnSpacing="0.1" tooltipMappingName="Text" type="@Syncfusion.EJ2.Charts.ChartSeriesType.RangeColumn">
                    <e-series-marker>
                        <e-series-datalabel visible="true" position="@Syncfusion.EJ2.Charts.LabelPosition.Outer">
                        </e-series-datalabel>
                    </e-series-marker>
                </e-series>
            </e-series-collection>
            <e-chart-tooltipsettings enable="true" header="<b>${point.tooltip}</b>" enableMarker="false" format="Temperature : <b>${point.low} - ${point.high}</b>"></e-chart-tooltipsettings>
        </ejs-chart>
    </div>
    <script src="~/scripts/chart/theme-color.js"></script>
    <script>
        function load(args) {
            loadChartTheme(args);
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
@*custom code start*@
@section Scripts {

}

<style>

    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Range Bar in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <p>
        This sample shows the maximum and minimum temperatures for several months with the default range column series inverted. The tooltip shows the information for each data point.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure the range column chart in an inverted manner. You can use <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.Chart.html#Syncfusion_EJ2_Charts_Chart_IsTransposed" aria-label="Navigate to the IsTransposed property reference for ASP.NET Core Chart control">IsTransposed</a> property to invert your chart.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
    </p>
    <p>
        More information about the range column series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/range-column" aria-label="Navigate to the documentation for range column in ASP.NET Core Chart control">documentation section</a>.
    </p>
}
@section Title{
                    <title>ASP.NET Core Chart Range Bar Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Range Bar in ASP.NET Core Chart Control</h1>
                }