@page
@model EJ2CoreSampleBrowser.Pages.Chart.StepWithoutRiserModel
@using Syncfusion.EJ2
@section ControlsSection {

    <div class="control-section" align='center'>
        <ejs-chart id="container-step-riser" title="Sales of Product Over Time" load="load">
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.DateTime"
                                  labelFormat="yyyy"
                                  interval="4"
                                  intervalType="@Syncfusion.EJ2.Charts.IntervalType.Years"
                                  minimum="new DateTime(1980, 01, 01)"
                                  maximum="new DateTime(2020, 01, 01)"
                                  edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift">
                <e-majorgridlines width="0"></e-majorgridlines>
                <e-minorticklines width="0"></e-minorticklines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis title="Sales in Units"
                                  labelFormat="{value}"
                                  minimum="0"
                                  maximum="100"
                                  interval="20">
                <e-majorticklines width="0"></e-majorticklines>
                <e-linestyle width="0"></e-linestyle>
            </e-chart-primaryyaxis>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-chart-legendsettings visible="false"></e-chart-legendsettings>
            <e-chart-tooltipsettings enable="true" shared="true"></e-chart-tooltipsettings>
            <e-series-collection>
                <e-series dataSource="@Model.ChartPoints" opacity="0.1" name="Product Sales" xName="X" yName="Y" noRisers="true" type="@Syncfusion.EJ2.Charts.ChartSeriesType.StepArea" step="@Syncfusion.EJ2.Charts.StepPosition.Center">
                    <e-series-marker allowHighlight="false">
                    </e-series-marker>
                    <e-series-border width="2.5"></e-series-border>
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>

    <style>
        #control-container {
            padding: 0px !important;
        }
    </style>

    <script type="text/javascript">
        var load = function (args) {
            var selectedTheme = themeName ? themeName : 'Fluent2';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1)).replace(/-dark/i, "Dark").replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5');
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.primaryXAxis.labelIntersectAction = ej.base.Browser.isDevice ? "Rotate90" : "Rotate45";
        };
    </script>
}
@section Meta {
    <meta name="description" content="This example demonstrates the Step Without Riser in ASP.NET Core Chart control. Explore here for more details." />
}
@section ActionDescription {
    <div id="action-description">
        <p>
            This Step Area Chart example visualizes the sales data of a product over a 50-year period using the default step area series without risers.
        </p>
    </div>
}
@section Description {
    <div id="description">
        <p>
            In this example, you can see how to render and configure a step area chart without vertical risers. The <code>NoRisers</code> feature allows the series to appear as a continuous flow without showing vertical lines between points. This approach can be useful for highlighting trends without the distraction of risers.
        </p>
        <p>
            More information on the step area series can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/step-area" aria-label="Navigate to the documentation for Step Area Chart in ASP.NET Core Chart control">documentation section<span class="sr-only">opens in a new tab</span></a>.
        </p>
    </div>
}
@*custom code start*@
@section Scripts {
}
@*custom code end*@
@section Title {
    <title>ASP.NET Core Chart Step Without Riser Example - Syncfusion Demos </title>
}
@section Header {
    <h1 class='sb-sample-text'>Example of Step Without Riser in ASP.NET Core Chart Control</h1>
}
