@page
@model EJ2CoreSampleBrowser.Pages.Chart.StripLineRecurrenceModel
@using Syncfusion.EJ2
@section ControlsSection{
    @{
        var Vertical = "Vertical";

    }
    <div class="control-section col-lg-8" align="center">
        <ejs-chart id="container" title="World Pollution Report" load="load">
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.DateTime" intervalType="@Syncfusion.EJ2.Charts.IntervalType.Years" stripLines="@Model.xAxisStrips" labelIntersectAction="@Syncfusion.EJ2.Charts.LabelIntersectAction.Trim"
                                  edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift" minimum="new DateTime(1965, 1, 1)" maximum="new DateTime(2010, 1, 1)">
                <e-majorgridlines width="0"></e-majorgridlines>
            </e-chart-primaryxaxis>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-chart-primaryyaxis minimum="0" maximum="18000" interval="2000" stripLines="@Model.yAxisStrips">
                <e-majorgridlines color="rgba(167,169,171, 0.3)"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
                <e-linestyle width="0"></e-linestyle>
                <e-labelstyle color="transparent"></e-labelstyle>
            </e-chart-primaryyaxis>
            <e-series-collection>
                <e-series dataSource="@Model.PollutionReports" xName="Period" yName="PollutionRate1" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column" columnSpacing="0.1" width="2" name="All sources"></e-series>
                <e-series dataSource="@Model.PollutionReports" xName="Period" yName="PollutionRate2" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column" columnSpacing="0.1" width="2" name="Autos & Light Trucks"></e-series>
            </e-series-collection>
            <e-chart-tooltipsettings enable="true" format="Year: <b>${point.x}</b> <br> Tons Per Day: <b>${point.y}</b>" enableHighlight="true"></e-chart-tooltipsettings>
            <e-chart-legendsettings enableHighlight="true"></e-chart-legendsettings>
        </ejs-chart>
    </div>
    <div class="col-lg-4 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tbody>
                <tr style="height: 50px">
                    <td style="width: 80%">
                        <div>X Axis Striplines:</div>
                    </td>
                    <td>
                        <div>
                            <input type="checkbox" checked id="xIndex" />
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 80%">
                        <div>Y Axis Striplines:</div>
                    </td>
                    <td>
                        <div>
                            <input type="checkbox" checked id="yIndex" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <style>
        #xIndex:hover {
             cursor: pointer !important;
        }
        #yIndex:hover {
             cursor: pointer !important;
        }
    </style>
    <script src="~/scripts/chart/theme-color.js"></script>
<script>
    function load(args) {
        loadChartTheme(args);
    }
    document.getElementById('xIndex').onchange = () => {
        var chart = document.getElementById('container').ej2_instances[0];
        chart.animateSeries = false;
        chart.primaryXAxis.stripLines[0].visible = (document.getElementById('xIndex')).checked;
    };
    document.getElementById('yIndex').onchange = () => {
        var chart = document.getElementById('container').ej2_instances[0];
        chart.animateSeries = false;
        chart.primaryYAxis.stripLines[0].visible = (document.getElementById('yIndex')).checked;
    };
</script>
}
@*custom code start*@
@section Scripts {

}

<style>

    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
                    <meta name="description" content="This example demonstrates the Strip Line Recurrence in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample shows how to repeat a strip line in a chart.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render and configure a strip line for the chart. To repeat the strip line, you need to set the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartStripLine.html#Syncfusion_EJ2_Charts_ChartStripLine_StartFromAxis" aria-label="Navigate to the StartFromAxis property reference for ASP.NET Core ChartStripLine">StartFromAxis</a>, <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartStripLine.html#Syncfusion_EJ2_Charts_ChartStripLine_Size" aria-label="Navigate to the Size property reference for ASP.NET Core ChartStripLine">Size</a>, <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartStripLine.html#Syncfusion_EJ2_Charts_ChartStripLine_IsRepeat" aria-label="Navigate to the IsRepeat property reference for ASP.NET Core ChartStripLine">IsRepeat</a> and
            <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartStripLine.html#Syncfusion_EJ2_Charts_ChartStripLine_RepeatEvery" aria-label="Navigate to the RepeatEvery property reference for ASP.NET Core ChartStripLine">RepeatEvery</a> properties accordingly in <code>ChartStripline</code>.
        </p>
        <p>
            <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap one on touch-enabled devices.
        </p>
        <p>
            More information about the stripline can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/strip-line#recurrence-stripline" aria-label="Navigate to the documentation for Recurrence Stripline in ASP.NET Core Chart control">documentation section</a>.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Chart Strip Line Recurrence Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Strip Line Recurrence in ASP.NET Core Chart Control</h1>
                }