@page
@model EJ2CoreSampleBrowser.Pages.Chart.TooltipTemplateModel
@using Syncfusion.EJ2
@section ControlsSection{
    <div class="control-section" align="center">
        <ejs-chart id="container" load="load" backgroundImage="./../scripts/chart/images/wheat.png" title="USA Wheat Production">
            <e-chart-titlestyle color="#333333"></e-chart-titlestyle>
            <e-chart-tooltipsettings enable="true" showNearestTooltip="true" enableHighlight="true" template="#Tooltip">
            </e-chart-tooltipsettings>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category" edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift">
                <e-majorgridlines width="0"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
                <e-linestyle color="#EFEFEF"></e-linestyle>
                <e-labelstyle color="white"></e-labelstyle>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis rangePadding="@Syncfusion.EJ2.Charts.ChartRangePadding.None" title="Billion Bushels">
                <e-titlestyle color="white"></e-titlestyle>
                <e-linestyle width="0"></e-linestyle>
                <e-labelstyle color="white"></e-labelstyle>
                <e-majorgridlines color="#EFEFEF"></e-majorgridlines>
                <e-majorticklines width="0"></e-majorticklines>
            </e-chart-primaryyaxis>
            <e-series-collection>
                <e-series dataSource="@Model.ConsumerDetails" xName="Year" yName="Productivity" width="2" fill="#333333" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                    <e-series-marker visible="true" height="7" width="7" fill="#C1272D">
                    </e-series-marker>
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>

    <script id='Tooltip' type="text/x-template">
        <div id="wrap">
            <table style="width:100%;  border: 1px solid black;" class="table-borderless">
                <tr>
                    <th rowspan="2" style="background-color: #C1272D">
                        <img src='./../scripts/chart/images/grain.png' />
                    </th>
                    <td style="height: 25px; width: 50px; background-color: #C1272D; font-size: 14px; color: #E7C554; font-weight: bold; padding-left: 5px">${x}</td>
                </tr>
                <tr>
                    <td style="height: 25px; width: 50px; background-color: #C1272D; font-size: 18px; color: #FFFFFF; font-weight: bold; padding-left: 5px">${y}B</td>
                </tr>
            </table>
        </div>
    </script>

    <script>
        function load(args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Fluent2';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5'));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
@*custom code start*@
@section Scripts {

}

@section Meta{
                    <meta name="description" content="This example demonstrates the Tooltip Template in ASP.NET Core Chart control. Explore here for more details."/>
                }
@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes USA wheat production data with the default line series in the chart. Data points are enhanced with a background image and a tooltip template.
        </p>
    </div>
}
@section Description{
    <div>
        <p>
            In this example, you can see how to render and configure a background image and the tooltip template for the chart. You can use the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.Chart.html#Syncfusion_EJ2_Charts_Chart_BackgroundImage" aria-label="Navigate to the BackgroundImage property reference for ASP.NET Core Chart control">BackgroundImage</a> property to configure the background for the chart and the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartTooltipSettings.html#Syncfusion_EJ2_Charts_ChartTooltipSettings_Template" aria-label="Navigate to the Template property reference for ASP.NET Core ChartTooltipSettings">Template</a> property in <code>ChartTooltipSettings</code> to customize the tooltip UI.
        </p>
        <p>
            More information about the tooltip template can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/tool-tip#tooltip-template" aria-label="Navigate to the documentation for Tooltip template in ASP.NET Core Chart control">documentation section</a>.
        </p>
    </div>
}
<style>
    #control-container {
        padding: 0px !important;
    }

    #templateWrap img {
        border-radius: 0px;
        width: 24px;
        padding: 4px;
        height: 24px;
    }

    #templateWrap .des {
        float: right;
        padding: 2px;
        line-height: 20px;
        text-align: center;
    }
</style>
@section Title{
                    <title>ASP.NET Core Chart Tooltip Template Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Tooltip Template in ASP.NET Core Chart Control</h1>
                }