@page
@model EJ2CoreSampleBrowser_NET8.Pages.Chart.TrackballModel
@using Syncfusion.EJ2
@section ControlsSection{
    @* @{ #line 3 "D:\Workings\samples-2018vol1-release\master wraper samples\asp core samples\asp core master samples\Views\Chart\Trackball.cshtml" *@
    @*     /**/ *@
    @* } *@
    <div class="control-section">
        <div id="container" align='center'>
            <ejs-chart id="lineContainer" title="Average Sales per Person" load="load">
                <e-chart-tooltipsettings enable="true" shared="true"></e-chart-tooltipsettings>
                <e-chart-legendsettings enableHighlight="true"></e-chart-legendsettings>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-chart-crosshairsettings enable="true" lineType="@Syncfusion.EJ2.Charts.LineType.Vertical"></e-chart-crosshairsettings>
                <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.DateTime" labelFormat="yyyy" intervalType="@Syncfusion.EJ2.Charts.IntervalType.Years" edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift">
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis labelFormat="{value}M" edgeLabelPlacement="@Syncfusion.EJ2.Charts.EdgeLabelPlacement.Shift" rangePadding="@Syncfusion.EJ2.Charts.ChartRangePadding.None" title="Revenue (in Million)" minimum="10" maximum="80">
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-series-collection>
                    <e-series dataSource="@Model.ChartData" name="John" xName="xValue" width="2" opacity="1" yName="yValue" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                        <e-series-marker visible="true" height="7" width="7" isFilled="true"></e-series-marker>
                    </e-series>
                    <e-series dataSource="@Model.ChartData" name="Andrew" xName="xValue" width="2" opacity="1" yName="yValue1" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                        <e-series-marker visible="true" height="7" width="7" isFilled="true"></e-series-marker>
                    </e-series>
                    <e-series dataSource="@Model.ChartData" name="Thomas" xName="xValue" width="2" opacity="1" yName="yValue2" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
                        <e-series-marker visible="true" height="7" width="7" isFilled="true"></e-series-marker>
                    </e-series>
                </e-series-collection>
            </ejs-chart>
        </div>
    </div>
    <script type="text/javascript">
        function load(args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Fluent2';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5'));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
        }
    </script>
}
@*custom code start*@
@section Meta{
                    <meta name="description" content="This example demonstrates the Trackball in ASP.NET Core Chart control. Explore here for more details."/>
                }

@*custom code end*@
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample depicts the trackball behavior in the chart. To view the trackball and its tooltip, hover over the chart or tap on it in touch-enabled devices.
        </p>
    </div>
}

@section Description{
    <div id="description">
        <p>
            The trackball is used to track a data point close to the mouse or touch position. The trackball can be enabled by setting the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartCrosshairSettings.html#Syncfusion_EJ2_Charts_ChartCrosshairSettings_Enable" aria-label="Navigate to the Enable property reference for ASP.NET Core ChartCrosshairSettings">Enable</a> property of the crosshair to <b>true</b> and the <a target="_blank" href="https://help.syncfusion.com/cr/aspnetcore-js2/Syncfusion.EJ2.Charts.ChartTooltipSettings.html#Syncfusion_EJ2_Charts_ChartTooltipSettings_Shared" aria-label="Navigate to the Shared property reference for ASP.NET Core ChartTooltipSettings">Shared</a> property of the tooltip to <b>true</b> in the chart.
        </p>
        <p>
            More information about the trackball can be found in this
            <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/cross-hair-and-track-ball#trackball" aria-label="Navigate to the documentation for Trackball in ASP.NET Core Chart control">documentation section</a>.
        </p>
    </div>
    }
@section Title{
                    <title>ASP.NET Core Chart Trackball Example - Syncfusion Demos </title>
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Trackball in ASP.NET Core Chart Control</h1>
                }