@page
@model EJ2CoreSampleBrowser.Pages.Chart.UpdateDataSource

@using Syncfusion.EJ2
@section ControlsSection {
    <div class="control-section" align="center">
        <ejs-chart id="UpdateData" load="load" pointRender="labelRender" axisRangeCalculated="axisRangeCalculated" title="Sales by product">
            <e-chart-primaryxaxis valueType="@Syncfusion.EJ2.Charts.ValueType.Category" labelIntersectAction="@Syncfusion.EJ2.Charts.LabelIntersectAction.Rotate90">
                <e-majorgridlines width="0"></e-majorgridlines>
            </e-chart-primaryxaxis>
            <e-chart-primaryyaxis title="Sales (in percentage)" labelFormat="{value}%" interval="5" minimum="0" maximum="100">
                <e-majorticklines width="0"></e-majorticklines>
                <e-linestyle width="0"></e-linestyle>
            </e-chart-primaryyaxis>
            <e-chart-chartarea>
                <e-chartarea-border width="0"></e-chartarea-border>
            </e-chart-chartarea>
            <e-series-collection>
                <e-series dataSource="@Model.ChartPoints" xName="X" yName="Y" columnWidth="0.5" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Column">
                    <e-series-marker visible="false">
                        <e-series-datalabel visible="true" position="@Syncfusion.EJ2.Charts.LabelPosition.Top" format="{value}%">
                            <e-font color="#ffffff"></e-font>
                        </e-series-datalabel>
                    </e-series-marker>
                </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>

    <script>
        var intervalId;
        function load(args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Fluent2';
            args.chart.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5'));
            args.chart.width = ej.base.Browser.isDevice ? "100%" : "75%";
            args.chart.primaryXAxis.labelStyle.size = ej.base.Browser.isDevice ? "11px" : "12px";
            args.chart.series[0].cornerRadius.topLeft = ej.base.Browser.isDevice ? 10 : 15;
            args.chart.series[0].cornerRadius.topRight = ej.base.Browser.isDevice ? 10 : 15;

            updatedataClearInterval();

            intervalId = setInterval(function () {
                var container = document.getElementById('UpdateData');
                if (container && container.id === args.chart.element.id) {
                    var newData = args.chart.series[0].dataSource.map(function (item) {
                        var value = getRandomInt(10, 90);
                        return { X: item.X, Y: value };
                    });
                    if (args.chart.series.length > 0) {
                        args.chart.series[0].setData(newData, 500);
                    }
                }
                else {
                    updatedataClearInterval();
                }
            }, 1500);
        };
        function updatedataClearInterval() {
            if (intervalId) {
                clearInterval(intervalId);
                intervalId = null;
            }
        };
        function labelRender(args) {
            var selectedTheme = location.hash.split('/')[1];
            selectedTheme = selectedTheme ? selectedTheme : 'Fluent2';
            var fabricColors = ['#4472c4', '#ed7d31', '#ffc000', '#70ad47', '#5b9bd5',
                '#c1c1c1', '#6f6fe2', '#e269ae', '#9e480e', '#997300', '#4472c4', '#70ad47', '#ffc000', '#ed7d31'];
            var materialColors = ['#00bdae', '#404041', '#357cd2', '#e56590', '#f8b883', '#70ad47', '#dd8abd', '#7f84e8', '#7bb4eb',
                '#ea7a57', '#404041', '#00bdae'];
            var highContrastColors = ['#79ECE4', '#E98272', '#DFE6B6', '#C6E773', '#BA98FF',
                '#FA83C3', '#00C27A', '#43ACEF', '#D681EF', '#D8BC6E'];
            var bootstrapColors = ['#a16ee5', '#f7ce69', '#55a5c2', '#7ddf1e', '#ff6ea6',
                '#7953ac', '#b99b4f', '#407c92', '#5ea716', '#b91c52'];
            var fluent2Colors = ["#6200EE", "#09AF74", "#0076E5", "#CB3587", "#E7910F", "#0364DE", "#66CD15", "#F3A93C", "#107C10",
                "#C19C00"];
            var fluent2HighContrastColors = ["#9BB449", "#2A72D5", "#43B786", "#3F579A", "#584EC6", "#E85F9C", "#6E7A89", "#EA6266",
                "#0B6A0B", "#C19C00"];
            var tailwindColors = ["rgba(90, 97, 246, 0.5)", "rgba(101, 163, 13, 0.5)", "rgba(51, 65, 85, 0.5)", "rgba(20, 184, 166, 0.5)", "rgba(139, 92, 246, 0.5)", "rgba(3, 105, 161, 0.5)", "rgba(249, 115, 22, 0.5)",
                "rgba(147, 51, 234, 0.5)", "rgba(245, 158, 11, 0.5)", "rgba(21, 128, 61, 0.5)"];
            var tailwindDarkColors = ["#8B5CF6", "#22D3EE", "#F87171", "#4ADE80", "#E879F9", "#FCD34D", "#F97316", "#2DD4BF", "#F472B6", "#10B981"];
            var tailwind3Colors = ['#2F4074', '#03B4B4', '#0D72DE', '#FF5733', '#D63384', '#F39C12', '#EF291F', '#91C822', '#2F4074', '#03B4B4'];
            var tailwind3DarkColors = ['#8029F1', '#1ABC9C', '#0D72DE', '#FF5733', '#D63384', '#F39C12', '#EF291F', '#91C822', '#8029F1', '#1ABC9C'];
            if (selectedTheme && selectedTheme.indexOf('fabric') > -1) {
                args.fill = fabricColors[args.point.index % 10];
            } else if (selectedTheme === 'material') {
                args.fill = materialColors[args.point.index % 10];
            } else if (selectedTheme === 'highcontrast') {
                args.fill = highContrastColors[args.point.index % 10];
            } else if (selectedTheme === 'fluent2') {
                args.fill = fluent2Colors[args.point.index % 10];
            } else if (selectedTheme === 'fluent2-highcontrast' || selectedTheme === 'fluent2-dark') {
                args.fill = fluent2HighContrastColors[args.point.index % 10];
            } else if (selectedTheme === 'tailwind') {
                args.fill = tailwindColors[args.point.index % 10];
            } else if (selectedTheme === 'tailwind-dark') {
                args.fill = pointTailwindDarkColors[args.point.index % 10];
            } else if (selectedTheme === 'tailwind3') {
                args.fill = tailwind3Colors[args.point.index % 10];
            } else if (selectedTheme === 'tailwind3-dark') {
                args.fill = tailwind3DarkColors[args.point.index % 10];
            } else {
                args.fill = bootstrapColors[args.point.index % 10];
            }
        };
        function axisRangeCalculated(args) {
            if (args.axis.name === 'primaryYAxis') {
                args.maximum = args.maximum > 100 ? 100 : args.maximum;
                if (args.maximum > 80) {
                    args.interval = 20;
                }
                else if (args.maximum > 40) {
                    args.interval = 10;
                }
            }
        };
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        };
    </script>
}
@*custom code start*@
@section Scripts {
}
<style>

    #control-container {
        padding: 0px !important;
    }
</style>
@section Meta{
    <meta name="description" content="This example demonstrates the Update DataSource in ASP.NET Core Chart control. Explore here for more details." />
}
@*custom code end*@
@section ActionDescription{
    <p>
        This sample demonstrates how the data source for the chart can dynamically update with random values at a set interval.
    </p>
}
@section Description{
    <p>
        In this example, you can see how to render and configure a column chart that displays sales data, with each entry featuring the product name and the corresponding sales percentage. Additionally, the chart can dynamically update with random values using the <code>SetData</code> method.
    </p>
    <p>
        More information on the column series can be found in this
        <a target="_blank" href="https://ej2.syncfusion.com/aspnetcore/documentation/chart/chart-types/column" aria-label="Navigate to the documentation for Column Chart in ASP.NET Core Chart control">documentation section</a>.
    </p>
}
@section Title{
    <title>ASP.NET Core Chart Update DataSource Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Update DataSource in ASP.NET Core Chart Control</h1>
}
