@page

@using EJ2CoreSampleBrowser.Models
@using Syncfusion.EJ2
@using Syncfusion.EJ2.RichTextEditor
@{
    string hostUrl = "http://localhost:62928/";
    var rteValue = "<h2>Welcome to the Syncfusion Rich Text Editor</h2><p>The Rich Text Editor, a WYSIWYG (what you see is what you get) editor, is a user interface that allows you to create, edit, and format rich text content. You can try out a demo of this editor here.</p><h3>Do you know the key features of the editor?</h3><ul> <li>Basic features include headings, block quotes, numbered lists, bullet lists, and support to insert images, tables, audio, and video.</li> <li>Inline styles include <b>bold</b>, <em>italic</em>, <span style=\"text-decoration: underline\">underline</span>, <span style=\"text-decoration: line-through\">strikethrough</span>, <a class=\"e-rte-anchor\" href=\"https://ej2.syncfusion.com/aspnetcore/richtexteditor/overview#/material3\" title=\"https://ej2aspnetmvc.azurewebsites.net/aspnetmvc/richtexteditor/overview#/material3\">hyperlinks</a>,<code>InlineCode</code>, 😀 and more.</li> <li>The toolbar has multi-row, expandable, and scrollable modes. The Editor supports an inline toolbar, a floating toolbar, and custom toolbar items.</li> <li>Integration with Syncfusion Mention control lets users tag other users. To learn more, check out the <a class=\"e-rte-anchor\" href=\"https://ej2.syncfusion.com/aspnetcore/documentation/rich-text-editor/mention-integration\" title=\"Mention Documentation\">documentation</a> and <a class=\"e-rte-anchor\" href=\"https://ej2.syncfusion.com/aspnetcore/richtexteditor/mentionintegration#/material3\" title=\"Mention Demos\">demos</a>.</li> <li><b>Paste from MS Word</b> - helps to reduce the effort while converting the Microsoft Word content to HTML format with format and styles. To learn more, check out the documentation <a class=\"e-rte-anchor\" href=\"https://ej2.syncfusion.com/aspnetcore/documentation/rich-text-editor/paste-cleanup\" title=\"Paste from MS Word Documentation\">here</a>.</li> <li>Other features: placeholder text, character count, form validation, enter key configuration, resizable editor, IFrame rendering, tooltip, source code view, RTL mode, persistence, HTML Sanitizer, autosave, and <a class=\"e-rte-anchor\" href=\"https://help.syncfusion.com/cr/aspnetcore-js2/syncfusion.ej2.richtexteditor.richtexteditor.html\" title=\"Rich Text Editor API\">more</a>.</li></ul><blockquote><p><em>Easily access Audio, Image, Link, Video, and Table operations through the quick toolbar by right-clicking on the corresponding element with your mouse.</em></p></blockquote><h3>Unlock the Power of Tables</h3><p>A table can be created in the editor using either a keyboard shortcut or the toolbar. With the quick toolbar, you can perform table cell insert, delete, split, and merge operations. You can style the table cells using background colours and borders.</p><table class=\"e-rte-table\" style=\"width: 100%; min-width: 0px; height: 151px\"> <thead style=\"height: 16.5563%\"> <tr style=\"height: 16.5563%\"> <th style=\"width: 12.1813%\"><span>S No</span><br></th> <th style=\"width: 23.2295%\"><span>Name</span><br></th> <th style=\"width: 9.91501%\"><span>Age</span><br></th> <th style=\"width: 15.5807%\"><span>Gender</span><br></th> <th style=\"width: 17.9887%\"><span>Occupation</span><br></th> <th style=\"width: 21.1048%\">Mode of Transport</th> </tr> </thead> <tbody> <tr style=\"height: 16.5563%\"> <td style=\"width: 12.1813%\">1</td> <td style=\"width: 23.2295%\">Selma Rose</td> <td style=\"width: 9.91501%\">30</td> <td style=\"width: 15.5807%\">Female</td> <td style=\"width: 17.9887%\"><span>Engineer</span><br></td> <td style=\"width: 21.1048%\"><span style=\"font-size: 14pt\">🚴</span></td> </tr> <tr style=\"height: 16.5563%\"> <td style=\"width: 12.1813%\">2</td> <td style=\"width: 23.2295%\"><span>Robert</span><br></td> <td style=\"width: 9.91501%\">28</td> <td style=\"width: 15.5807%\">Male</td> <td style=\"width: 17.9887%\"><span>Graphic Designer</span></td> <td style=\"width: 21.1048%\"><span style=\"font-size: 14pt\">🚗</span></td> </tr> <tr style=\"height: 16.5563%\"> <td style=\"width: 12.1813%\">3</td> <td style=\"width: 23.2295%\"><span>William</span><br></td> <td style=\"width: 9.91501%\">35</td> <td style=\"width: 15.5807%\">Male</td> <td style=\"width: 17.9887%\">Teacher</td> <td style=\"width: 21.1048%\"><span style=\"font-size: 14pt\">🚗</span></td> </tr> <tr style=\"height: 16.5563%\"> <td style=\"width: 12.1813%\">4</td> <td style=\"width: 23.2295%\"><span>Laura Grace</span><br></td> <td style=\"width: 9.91501%\">42</td> <td style=\"width: 15.5807%\">Female</td> <td style=\"width: 17.9887%\">Doctor</td> <td style=\"width: 21.1048%\"><span style=\"font-size: 14pt\">🚌</span></td> </tr> <tr style=\"height: 16.5563%\"> <td style=\"width: 12.1813%\">5</td><td style=\"width: 23.2295%\"><span>Andrew James</span><br></td><td style=\"width: 9.91501%\">45</td><td style=\"width: 15.5807%\">Male</td><td style=\"width: 17.9887%\">Lawyer</td><td style=\"width: 21.1048%\"><span style=\"font-size: 14pt\">🚕</span></td></tr></tbody></table><h3>Elevating Your Content with Images</h3><p>Images can be added to the editor by pasting or dragging into the editing area, using the toolbar to insert one as a URL, or uploading directly from the File Browser. Easily manage your images on the server by configuring the <a class=\"e-rte-anchor\" href=\"https://ej2.syncfusion.com/aspnetcore/documentation/rich-text-editor/image\" title=\"Insert Image Settings API\">insertImageSettings</a> to upload, save, or remove them. </p><p>The Editor can integrate with the Syncfusion Image Editor to crop, rotate, annotate, and apply filters to images. Check out the demos <a class=\"e-rte-anchor\" href=\"https://ej2.syncfusion.com/aspnetcore/richtexteditor/imageeditorintegration#/material3\" title=\"Image Editor Demo\">here</a>.</p><p><img alt=\"Sky with sun\" src=\"https://cdn.syncfusion.com/ej2/richtexteditor-resources/RTE-Overview.png\" style=\"width: 50%\" class=\"e-rte-image e-imginline\"></p>";
    var ajaxSettings = new
    {
        url = "https://ej2-aspcore-service.azurewebsites.net/api/FileManager/FileOperations",
        getImageUrl = "https://ej2-aspcore-service.azurewebsites.net/api/FileManager/GetImage",
        uploadUrl = "https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Upload",
        downloadUrl = "https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Download"
    };
    var tools = new object[]
    {
        "Undo", "Redo", "|", "ImportWord", "ExportWord", "ExportPdf", "|",
        "Bold", "Italic", "Underline", "StrikeThrough", "InlineCode", "|", "CreateLink", "Image", "CreateTable", "CodeBlock",
        "HorizontalLine", "Blockquote", "|", "BulletFormatList", "NumberFormatList", "|", "Formats", "Alignments", "|", "Outdent", "Indent", "|",
        "FontColor", "BackgroundColor", "FontName", "FontSize", "|", "LowerCase", "UpperCase", "|", "SuperScript", "SubScript", "|",
        "EmojiPicker", "FileManager", "Video", "Audio", "|", "FormatPainter", "ClearFormat",
        "|", "Print", "FullScreen", "|", "SourceCode"
    };
    var saveUrl = hostUrl + "api/RichTextEditor/SaveFile";
    var removeUrl = hostUrl + "api/RichTextEditor/DeleteFile";
    var path = hostUrl + "RichTextEditor/";
    var mentionData = new EditorMentionUser().GetUserData();
    var text = new[]
    {
        "Formats", "|", "Bold", "Italic", "Fontcolor", "BackgroundColor", "|", "CreateLink", "Image", "CreateTable", "Blockquote", "|", "Unorderedlist", "Orderedlist", "Indent", "Outdent"
    };
    var table = new[]
    {
        "Tableheader", "TableRemove", "|", "TableRows", "TableColumns", "TableCell", "|" , "Styles", "BackgroundColor", "Alignments", "TableCellVerticalAlign"
    };
    RichTextEditorImportWord ImportWord = new RichTextEditorImportWord
        {
            ServiceUrl = hostUrl + "api/RichTextEditor/ImportFromWord",
        };
    RichTextEditorExportWord ExportWord = new RichTextEditorExportWord
      {
        ServiceUrl = hostUrl + "api/RichTextEditor/ExportToDocx",
        FileName = "RichTextEditor.docx",
        Stylesheet = ".e-rte-content{ font-size: 1em; font-weight: 400; margin: 0; }"
      };

    RichTextEditorExportPdf ExportPdf = new RichTextEditorExportPdf
      {
        ServiceUrl = hostUrl + "api/RichTextEditor/ExportToPdf",
        FileName = "RichTextEditor.pdf",
        Stylesheet = ".e-rte-content{ font-size: 1em; font-weight: 400; margin: 0; }"
      };
    RichTextEditorSlashMenuSettings SlashMenuSettings = new RichTextEditorSlashMenuSettings
            {
                Items = new object[] { "Paragraph", "Heading 1", "Heading 2", "Heading 3", "Heading 4", "OrderedList", "UnorderedList",
                    "CodeBlock", "Blockquote", "Link", "Image", "Video", "Audio", "Table", "Emojipicker"
                    }
            };
}

@using Syncfusion.EJ2

@section ControlsSection{
    <div class="control-section">
        <div class="control-wrapper">
            <ejs-richtexteditor id="allToolsRTE" value="@rteValue" showCharCount="true" actionBegin="actionBeginHandler" actionComplete="actionCompleteHandler" created="created" enableTabKey="true" enableXhtml="true"
                placeholder="Type something or use @@ to tag a user..." >
                <e-richtexteditor-toolbarsettings items="@tools" ></e-richtexteditor-toolbarsettings>
                <e-richtexteditor-quicktoolbarsettings table="@table" text="@text" showOnRightClick="true"></e-richtexteditor-quicktoolbarsettings>
                <e-richtexteditor-filemanagersettings enable="true" path="/Pictures/Food" ajaxSettings="@ajaxSettings"></e-richtexteditor-filemanagersettings>
                <e-richtexteditor-insertimagesettings saveUrl="@saveUrl" removeUrl="@removeUrl" path="@path"></e-richtexteditor-insertimagesettings>
                <e-richtexteditor-importword serviceUrl="@ImportWord.ServiceUrl"></e-richtexteditor-importword>
                <e-richtexteditor-exportword serviceUrl="@ExportWord.ServiceUrl"
                    fileName="@ExportWord.FileName"
                    stylesheet="@ExportWord.Stylesheet"></e-richtexteditor-exportword>
                <e-richtexteditor-exportpdf serviceUrl="@ExportPdf.ServiceUrl"
                    fileName="@ExportPdf.FileName"
                    stylesheet="@ExportPdf.Stylesheet"></e-richtexteditor-exportpdf>
                <e-richtexteditor-slashmenusettings enable="true"
                    items="@SlashMenuSettings.Items"></e-richtexteditor-slashmenusettings>
            </ejs-richtexteditor>

            <ejs-mention id="editorMention" dataSource="@mentionData" allowSpaces="true" popupHeight="200px" popupWidth="250px" sortOrder="Ascending"
                target="#allToolsRTE_rte-edit-view" created="mentionCreated" 
                itemTemplate="<div class='editor-mention-item-template'>
                    <div class='em-header'>
                        <div class='em-avatar' style='background-color: ${BgColor}; color: ${Color};'>
                            <div class='em-initial'>${Initial}</div>
                        </div>
                    </div>
                    <div class='em-content'>
                        <div class='em-name'>${Name}</div>
                        <div class='em-email'>${Email}</div>
                    </div>
                </div>" 
                displayTemplate="<a href='mailto:${Email}' title='${Email}'>@@${Name}</a>">
                <e-mention-fields text="Name"></e-mention-fields>
            </ejs-mention>
        </div>
    </div>
    <link href="~/css/richtexteditor/codemirror.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/css/css.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/htmlmixed/htmlmixed.js" type="text/javascript"></script>
    <style>
        .e-rte-code-mirror-enabled .rte-code-mirror {
            display: block !important; /* To show the custom source code view. */
        }
        .e-rte-code-mirror-enabled .e-rte-content {
            display: none !important;  /* To hide the editor area when custom source code enabled. */
        }
        /** Mention template styles **/
        .editor-mention-item-template {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .em-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .em-avatar {
            width: 32px;
            height: 32px;
            text-align: center;
            border-radius: 50%;
            font-size: 12px;
            font-weight: 500;
            text-indent: 0px;
            line-height: 13px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .em-name {
            color: rgb(16, 24, 40);
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            margin-bottom: 5px;
        }
        .em-email {
            color: gray;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
        }
        #allToolsRTE_rte-edit-view_options li {
            padding: 10px;
            height: 60px;
        }
        body[class*="-dark"] .em-name {
            color: #fff !important;
        }
        /** custom source code styles **/
        body[class*="-dark"] .rte-code-mirror .cm-tag {
            color: #00ff00;
        }
        body[class*="-dark"] .rte-code-mirror .cm-string {
            color: blue;
        }
        body[class*="-dark"] .rte-code-mirror .cm-attribute {
            color: #f00;
        }
        body[class*="-dark"] .rte-code-mirror .CodeMirror-gutters, body[class*="-dark"] .rte-code-mirror .CodeMirror{
            background-color: transparent;
            color: #fff;
        }
        .sb-header {
            z-index: 100;
        }
        .sb-content.e-view.hide-header {
            top: 0 !important;
        }
        .sb-header.e-view.hide-header {
            display: none;
        }
    </style>
    <script type="text/javascript">
        var rteObj, myCodeMirror, mentionObj;
        var hostUrl = 'http://localhost:62928/';
        function created() {
            rteObj = this;
        }
        function mentionCreated() {
            mentionObj = this;
        }
        function mirrorConversion(e) {
            const id = rteObj.getID() + 'mirror-view';
            const rteContainer = rteObj.element.querySelector('.e-rte-container');
            let mirrorView = rteObj.element.querySelector('#' + id);
            if (e.targetItem === 'Preview') {
                rteObj.value = myCodeMirror.getValue();
                rteObj.dataBind();
                rteContainer.classList.remove('e-rte-code-mirror-enabled');
                rteObj.focusIn();
            } else {
                rteContainer.classList.add('e-rte-code-mirror-enabled');
                rteContainer.classList.remove('e-source-code-enabled');
                if (!mirrorView) {
                    mirrorView = ej.base.createElement('div', { className: 'rte-code-mirror', id: id, styles: 'display: none;' });
                    rteContainer.appendChild(mirrorView);
                    renderCodeMirror(mirrorView, rteObj.value === null ? '' : rteObj.value);
                }
                else {
                    myCodeMirror.setValue(rteObj.value === null ? '' : rteObj.value);
                }
                myCodeMirror.focus();
            }
        }
        function renderCodeMirror(mirrorView, content) {
            myCodeMirror = CodeMirror(mirrorView, {
                value: content,
                lineNumbers: true,
                mode: 'text/html',
                lineWrapping: true,
            });
        }
        function handleFullScreen(e) {
            var sbCntEle = document.querySelector('.sb-content.e-view');
            var sbHdrEle = document.querySelector('.sb-header.e-view');
            var leftBar;
            var transformElement;
            if (ej.base.Browser.isDevice) {
                leftBar = document.querySelector('#right-sidebar');
                transformElement = document.querySelector('.sample-browser.e-view.e-content-animation');
            }
            else {
                leftBar = document.querySelector('.sb-left-pane');
                transformElement = document.querySelector('#right-pane');
            }
            if (e.targetItem === 'Maximize') {
                if (ej.base.Browser.isDevice && ej.base.Browser.isIos) {
                    ej.base.addClass([sbCntEle, sbHdrEle], ['hide-header']);
                }
                ej.base.addClass([leftBar], ['e-close']);
                ej.base.removeClass([leftBar], ['e-open']);
                if (!ej.base.Browser.isDevice) {
                    transformElement.style.marginLeft = '0px';
                }
                transformElement.style.transform = 'inherit';
                transformElement.style.zIndex = 1001;
            }
            else if (e.targetItem === 'Minimize') {
                if (ej.base.Browser.isDevice && ej.base.Browser.isIos) {
                    ej.base.removeClass([sbCntEle, sbHdrEle], ['hide-header']);
                }
                ej.base.removeClass([leftBar], ['e-close']);
                if (!ej.base.Browser.isDevice) {
                    ej.base.addClass([leftBar], ['e-open']);
                    transformElement.style.marginLeft = leftBar.offsetWidth + 'px';
                }
                transformElement.style.transform = 'translateX(0px)';
                transformElement.style.zIndex = "";
            }
        }
        function actionBeginHandler(e) {
            if (e.requestType === 'EnterAction' && mentionObj.element.classList.contains('e-popup-open')) {
                e.cancel = true;
            }
            if (e.requestType === 'Maximize') {
                handleFullScreen(e);
            }
        }
        function actionCompleteHandler(e) {
            if (e.targetItem && (e.targetItem === 'SourceCode' || e.targetItem === 'Preview')) {
                mirrorConversion(e);
            }
        }
    </script>
}

@*custom code start*@

@section Meta{
                    <meta name="description" content="This example demonstrates the Overview in ASP.NET Core Rich Text Editor control. Explore here for more details."/>
                }

@*custom code end*@

@section ActionDescription{
    <div id="action-description">
        <p>This sample demonstrates the full features of Rich Text Editor that includes all the tools and functionalities.</p>
    </div>
}
@section Description{
    <div id="description">
        <p>This sample used <code>Code mirror</code> plugins helps to highlight the HTML content and when changes happens in
            code view, the same has been reflected in preview mode. </p>
        <p>The quick toolbar provides a convenient way to customize Image, Video, Audio, Table, and Link elements. Simply
            right-click on the desired element, utilizing the <code>ShowOnRightClick</code> property, and the quick toolbar
            will appear, providing an easy way for customization.</p>
        <p>The editor’s toolbar contains commands to format the content. The toolbar consists of:</p>
        <ul>
            <li><code>Lists</code> - NumberFormat list and BulletFormat list types.</li>
            <li><code>Links</code> - A hyperlink can be inserted into the editor for quick access to related information.
            </li>
            <li><code>Image</code> - Inserts and manages images.</li>
            <li><code>Table</code> - Inserts and manages Tables.</li>
            <li><code>Alignment</code> - Aligns the content with left, center, and right margins.</li>
            <li><code>Undo/Redo</code> - Allows undo/redo operations.</li>
            <li><code>Indent/ Outdent</code> - Increases/decreases the indent level of the content.</li>
            <li><code>Font</code> - Able to do styling on text like font family, size, fore color and background color.</li>
            <li><code>Lower / Upper case</code> – Changes the casing of the selected text.</li>
            <li><code>SubScript / SuperScript</code> - Makes the selected text as subscript (lower)/superscript(upper).</li>
            <li><code>FullScreen</code> - Stretches the editor to the maximum width and height of the browser window.</li>
            <li><code>Format</code> – Formats the sentence in different ways such as heading level, quotation, and code
                snippet</li>
            <li><code>Styles</code> – Allows you to apply inline styles to the selected content like bold, italic, and more.
            </li>
            <li><code>Insert Code</code> - Allows you to apply code format to the selected parent nodes. In the above
                sample, the style for the code format ('pre' tag) is applied by adding the background color.</li>
            <li><code>Insert Emoticon</code> - Inserts the emoticon to the editor</li>
            <li><code>Audio</code> - Inserts and manages audios.</li>
            <li><code>Video</code> - Inserts and manages videos.</li>
            <li><code>Format Painter</code> - The Format Painter feature allows you to copy the formats and apply them to
                content without formatting thus saving time to reformat the content.</li>
            <li><code>Slash Menu</code> - The Slash Menu feature lets users apply formats, open dialogs by typing "/" in the
                editor.</li>
            <li><code>Import / Export</code> - The Import/Export feature enables users to import content from Word documents
                into the editor and export the editor's content into Word and PDF files.</li>
            <li><code>InlineCode</code> - Formats selected text as inline code, highlighting code snippets within the text.</li>
            <li><code>Code Block</code> - The Code Block feature allows you to insert and display blocks of code with preserved formatting and syntax highlighting, making it ideal for sharing code snippets clearly and accurately.</li>
            <li><code>HorizontalLine</code> - A horizontal line can be inserted into the editor to visually separate sections of content.</li>
        </ul>
    </div>
}
@section Title{
                    <title>ASP.NET Core Rich Text Editor Overview Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Overview in ASP.NET Core Rich Text Editor Control</h1>
                }