@using Syncfusion.EJ2.Gantt;
@section ControlsSection{
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-gantt id='TaskbarTemplate' dataSource="ViewBag.dataSource" dateFormat="hh:mm a"
                           height="450px" projectStartDate="03/05/2018 06:00 PM" projectEndDate="03/05/2018 09:50 PM"
                           treeColumnIndex="1" rowHeight="75" taskbarHeight="65" durationUnit="Minute"
                           taskbarTemplate="#childtask" milestoneTemplate="#milestone">
                    <e-gantt-taskfields id="TaskId" name="TaskName" startDate="StartDate"
                                        endDate="EndDate" dependency="Predecessor"></e-gantt-taskfields>
                    <e-gantt-columns>
                        <e-gantt-column field="TaskId" headerText="Event Id"></e-gantt-column>
                        <e-gantt-column field="TaskName" headerText="Event Name" width="250" clipMode="EllipsisWithTooltip"></e-gantt-column>
                        <e-gantt-column field="StartDate" headerText="Start Time"></e-gantt-column>
                        <e-gantt-column field="EndDate" headerText="End Time"></e-gantt-column>
                        <e-gantt-column field="Winner" headerText="Winner"></e-gantt-column>
                        <e-gantt-column field="Movie" headerText="Movie"></e-gantt-column>
                        <e-gantt-column field="Performance" headerText="Moments / Performance Details"></e-gantt-column>
                    </e-gantt-columns>
                    <e-gantt-splitterSettings columnIndex="1"></e-gantt-splitterSettings>
                    <e-gantt-dayworkingtimecollection>
                        <e-gantt-dayworkingtime from="0" to="24"></e-gantt-dayworkingtime>
                    </e-gantt-dayworkingtimecollection>
                    <e-gantt-timelinesettings timelineUnitSize="60">
                        <e-timelinesettings-toptier unit="Hour" format="MMM dd, yyyy"></e-timelinesettings-toptier>
                        <e-timelinesettings-bottomtier unit="Minutes" count="2" format="h:mm a"></e-timelinesettings-bottomtier>
                    </e-gantt-timelinesettings>
                    <e-gantt-labelsettings leftLabel="TaskName"></e-gantt-labelsettings>
                    <e-gantt-eventmarkers>
                        <e-gantt-eventmarker day="03/05/2018 07:09:00 PM" label="Performance"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="03/05/2018 07:46:00 PM" label="Moments"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="03/05/2018 07:59:00 PM" label="Performance"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="03/05/2018 08:08:00 PM" label="Moments"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="03/05/2018 08:24:00 PM" label="Moments"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="03/05/2018 08:31:00 PM" label="Performance"></e-gantt-eventmarker>
                        <e-gantt-eventmarker day="03/05/2018 08:47:00 PM" label="Moments"></e-gantt-eventmarker>
                    </e-gantt-eventmarkers>
                    <e-gantt-tooltipsettings taskbar="#tooltip"></e-gantt-tooltipsettings>
                </ejs-gantt>
            </div>
            <div style="float: right; margin: 10px;">
                Source:
                <a href="https://en.wikipedia.org/wiki/90th_Academy_Awards" target='_blank'>https://en.wikipedia.org/</a>
            </div>
        </div>
    </div>
    <style>

        .e-custom-parent {
            background-color: #6d619b;
            border: 1px solid #3f51b5;
        }

        .e-custom-moments {
            background-color: #7ab748;
            border: 1px solid #3f51b5;
        }

        .e-custom-performance {
            background-color: #ad7a66;
            border: 1px solid #3f51b5;
        }

        .moments, .face-mask, .oscar {
            position: relative;
            top: 14px;
            left: 5px;
            padding-right: 4px;
        }

        #TaskbarTemplate .e-milestone-top {
            border-bottom-color: #7ab748 !important;
            border-bottom: 1px solid #3f51b5;
        }

        #TaskbarTemplate .e-milestone-bottom {
            border-top-color: #7ab748 !important;
            border-top: 1px solid #3f51b5;
        }
    </style>

    <script type="text/x-jsrender" id="milestone">
        <div style="margin-top:-7px;">
            <div class="e-gantt-milestone" style="position:absolute;">
                <img class="moments" height="24" width="48" src="@Url.Content("~/scripts/Images/Gantt/moments.svg")" />
                <div class="e-milestone-top" style="border-right-width:26px; margin-top: -24px;border-left-width:26px;border-bottom-width:26px;"></div>
                <div class="e-milestone-bottom" style="top:26px;border-right-width:26px; border-left-width:26px; border-top-width:26px;"></div>
            </div>
        </div>
    </script>
    <script type="text/x-jsrender" id="childtask">
        ${if(TaskName == 'Oscar moments')}
        <div class="e-gantt-child-taskbar e-custom-moments" style="height:100%;border-radius:5px;">
            ${if(taskDuration < 4)}
                <img class="moments" height="32" width="32" src="@Url.Content("~/scripts/Images/Gantt/moments.svg")" />
            ${else}
                <img class="moments" height="32" width="32" src="@Url.Content("~/scripts/Images/Gantt/moments.svg")" />
                <span class="e-task-label" style="position:absolute;top:15px;font-size:12px;text-overflow:ellipsis;height:90%;overflow:hidden;">${Performance}</span>
            ${/if}
        </div>
        ${else if(TaskName == 'Oscar performance')}
        <div class="e-gantt-child-taskbar e-custom-performance" style="height:100%;border-radius:5px;">
            ${if(taskDuration <= 5)}
                <img class="face-mask" height="32" width="32" src="@Url.Content("~/scripts/Images/Gantt/face-mask.svg")" />
            ${else}
                <img class="face-mask" height="32" width="32" src="@Url.Content("~/scripts/Images/Gantt/face-mask.svg")" />
                <span class="e-task-label" style="position:absolute;top:5px;font-size:12px;text-overflow:ellipsis;height:90%;overflow:hidden;">${Performance}</span>
            ${/if}
        </div>
        ${else}
        <div class="e-gantt-parent-taskbar e-custom-parent" style="height:100%;border-radius:5px;text-overflow:ellipsis;">
            ${if(taskDuration < 4)}
                <img class="oscar" height="32" width="32" src="@Url.Content("~/scripts/Images/Gantt/oscar.svg")" />
            ${else}
            ${if(Winner && Movie)}
                    <img class="oscar" height="32" width="32" src="@Url.Content("~/scripts/Images/Gantt/oscar.svg")" />
                    <span class="e-task-label" style="position:absolute; top:13px;font-size:14px;">${Winner}</span>
                    <span class="e-task-label" style="position:absolute;top:33px;font-size:10px;text-overflow:ellipsis;">${Movie}</span>
            ${else if(Movie)}
                    <img class="oscar" height="32" width="32" src="@Url.Content("~/scripts/Images/Gantt/oscar.svg")" />
                    <span class="e-task-label" style="position:absolute; top:0px;font-size:12px;text-overflow:ellipsis;"></br> ${Movie} </span>
                ${else}
                    <span class="e-task-label"></span>
                ${/if}
                ${/if}
            ${/if}
        </div>
    </script>

    <script type="text/x-jsrender" id="tooltip">
        <div>
            ${if (Winner && Movie)}
            ${Winner} wins oscar award for ${Movie}
            ${else if(Movie)}
            Oscar award for ${Movie}
            ${else}
            ${Performance}
            ${/if}
        </div>
    </script>

}

@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the complete event schedule of the 90th Academy awards.
            Taskbars are customized using template support and timeline header is customized for a better view of the data.
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            The Gantt chart provides support for customizing taskbar UI using taskbar template feature. The
            <code>taskbarTemplate</code>
            property accepts either string or HTML element`s ID value, which will be used as the template for the taskbars.
            The summary tasks and the milestone items can also customized using the <code>parentTaskbarTemplate</code> and
            <code>milestoneTemplate</code> properties.
            In this demo, we have customized the taskbar UI to display the data from custom columns and the taskbarTemplate
            is assigned with the ID of a SCRIPT element whose content is used as the template.
            The template expression should be provided inside <code>${...}</code> interpolation syntax
        </p>
    </div>
}
@section Meta{
    <meta name="description" content="This example demonstrates the taskbar template support with child taskbar template, parent taskbar template and milestone template." />
}