@using Syncfusion.EJ2
@{
    var val = new string[] { "id10", "id50", "id100", "custom"};
}
@*@model directive allows you to access the model values*@
@model EJ2CoreSampleBrowser.Controllers.MultiSelectRecord
@section ControlsSection{
    <div class="control-section col-lg-9">
        <div class="control-wrapper">
            <h4>Local Data</h4>
            <ejs-multiselect id="local" dataSource="@Model.RecordList" placeholder="e.g. Item 1" allowFiltering="true" hideSelectedItem="true" allowCustomValue="true" closePopupOnSelect="true" enableVirtualization="true" popupHeight="200px" mode="Box">
                <e-multiselect-fields text="Text" value="ID"></e-multiselect-fields>
            </ejs-multiselect>
        </div>
        <div class="control-wrapper">
            <h4>Remote Data</h4>
            <ejs-multiselect id="remote" placeholder="e.g. OrderID" allowFiltering="true" hideSelectedItem="true" allowCustomValue="true" closePopupOnSelect="true" enableVirtualization="true" popupHeight="200px" mode="Delimiter">
                <e-data-manager adaptor="WebApiAdaptor" url="https://ej2services.syncfusion.com/production/web-services/api/orders" crossDomain="true"></e-data-manager>
                <e-multiselect-fields text="OrderID" value="OrderID"></e-multiselect-fields>
            </ejs-multiselect>
        </div>
        <div class="control-wrapper">
            <h4>Default Values</h4>
            <ejs-multiselect id="default" dataSource="@Model.RecordList" placeholder="e.g. Item 1" allowFiltering="true" value="@val" hideSelectedItem="true" allowCustomValue="true" closePopupOnSelect="true" enableVirtualization="true" popupHeight="200px" mode="Default">
                <e-multiselect-fields text="Text" value="ID"></e-multiselect-fields>
            </ejs-multiselect>
        </div>
        <div class="control-wrapper">
            <h4>Grouping</h4>
            <ejs-multiselect id="group" dataSource="@Model.RecordList" placeholder="e.g. Item 1" allowFiltering="true" allowCustomValue="true" enableSelectionOrder="false" enableVirtualization="true" popupHeight="200px" mode="CheckBox">
                <e-multiselect-fields groupBy="Group" text="Text" value="ID"></e-multiselect-fields>
            </ejs-multiselect>
        </div>
        <div class="control-wrapper">
            <h4>Template</h4>
            <ejs-multiselect id="template" dataSource="@Model.RecordList" placeholder="e.g. Item 1" allowFiltering="true" hideSelectedItem="true" allowCustomValue="true" closePopupOnSelect="true" enableVirtualization="true" popupHeight="200px" mode="Default" headerTemplate="@Html.Raw("<div class=\"header\"><span style=\"margin-left:17px\">Items Info</span></div>")"
                            itemTemplate="@Html.Raw("<div class=\"ename\" style=\"height: 40px\"> ${Text} </div>")"
                            valueTemplate="@Html.Raw("<div class=\"name\"> ${Text} </div>")">
                <e-multiselect-fields text="Text" value="ID"></e-multiselect-fields>
            </ejs-multiselect>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        <div id="property" title="Properties">
            <table id="property" title="Properties">
                <tbody>
                    <tr>
                        <td style="width: 50%;">
                            <div>
                                <ejs-checkbox id="check1" change="filterChange" label="AllowFiltering" checked='true'></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            <div>
                                <ejs-checkbox id="check2" change="customChange" label="AllowCustomValue" checked='true'></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            <div>
                                <ejs-checkbox id="check3" change="hideChange" label="HideSelectedItem" checked='true'></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%;">
                            <div>
                                <ejs-checkbox id="check4" change="closeChange" label="ClosePopupOnSelect" checked='true'></ejs-checkbox>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<link href="../css/multiselect/checkbox.css" rel="stylesheet" />
    <script type="text/javascript">

        function filterChange(args) {
            var localObj = document.getElementById("local").ej2_instances[0];
            var remoteObj = document.getElementById("remote").ej2_instances[0];
            var defaultObj = document.getElementById("default").ej2_instances[0];
            var groupObj = document.getElementById("group").ej2_instances[0];
            var templateObj = document.getElementById("template").ej2_instances[0];
            localObj.allowFiltering = args.checked;
            remoteObj.allowFiltering = args.checked;
            defaultObj.allowFiltering = args.checked;
            groupObj.allowFiltering = args.checked;
            templateObj.allowFiltering = args.checked;
        }
        function customChange(args) {
            var localObj = document.getElementById("local").ej2_instances[0];
            var remoteObj = document.getElementById("remote").ej2_instances[0];
            var defaultObj = document.getElementById("default").ej2_instances[0];
            var groupObj = document.getElementById("group").ej2_instances[0];
            var templateObj = document.getElementById("template").ej2_instances[0];
            localObj.allowCustomValue = args.checked;
            remoteObj.allowCustomValue = args.checked;
            defaultObj.allowCustomValue = args.checked;
            groupObj.allowCustomValue = args.checked;
            templateObj.allowCustomValue = args.checked;
        }
        function hideChange(args) {
            var localObj = document.getElementById("local").ej2_instances[0];
            var remoteObj = document.getElementById("remote").ej2_instances[0];
            var defaultObj = document.getElementById("default").ej2_instances[0];
            var groupObj = document.getElementById("group").ej2_instances[0];
            var templateObj = document.getElementById("template").ej2_instances[0];
            localObj.hideSelectedItem = args.checked;
            remoteObj.hideSelectedItem = args.checked;
            defaultObj.hideSelectedItem = args.checked;
            templateObj.hideSelectedItem = args.checked;
        }
        function closeChange(args) {
            var localObj = document.getElementById("local").ej2_instances[0];
            var remoteObj = document.getElementById("remote").ej2_instances[0];
            var defaultObj = document.getElementById("default").ej2_instances[0];
            var groupObj = document.getElementById("group").ej2_instances[0];
            var templateObj = document.getElementById("template").ej2_instances[0];
            localObj.closePopupOnSelect = args.checked;
            remoteObj.closePopupOnSelect = args.checked;
            defaultObj.closePopupOnSelect = args.checked;
            templateObj.closePopupOnSelect = args.checked;
        }
    </script>
    @*custom code start*@
    <style>
    .control-section .control-wrapper {
        width: 80%;
        margin: 0 auto;
        width: 250px;
        padding-top: 15px
    } 

    .e-list-icon {
        font-family: 'e-icons' !important;
        color: rgba(0, 0, 0, .57);
    }
    .header {
        font-weight: 600;
        color: rgba(0, 0, 0, .54);
        height: 48px;
        padding: 15px 0 0 16px;
        font-size: 16px;
        background-color: #f5f5f5;
    }

    /* custom code start*/
    .fabric .header {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        color: #0078d7;
        font-weight: 400;
    }

    .fluent-dark .header,
    .fluent2-dark .header,
    .fluent2-highcontrast .header {
        background: #252423;
        color: #2899F5;
    }

    .bootstrap5-dark .header {
        background: #343A40;
        color: #7B848D;
    }

    .fluent .header{
         color: #2899F5;
    }

    .tailwind-dark .header {
        background: #374151;
        color: rgb(255, 255, 255);
    }

    .material3-dark .header,
    .material-dark .header {
        background: rgb(66, 66, 66);
        color: rgb(255, 255, 255);
    }

    .fabric-dark .header {
        background: rgb(40, 39, 39);
        color: rgb(255, 255, 255);
    }

    .bootstrap-dark .header {
        background: rgb(49, 49, 49);
        color: rgb(255, 255, 255);
    }

    .bootstrap .header {
        background-color: #f5f5f5;
        border-bottom: 1px solid #ccc;
        color: #777;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        font-weight: 600;
        font-size: 15px;
        height: 48px;
        padding: 15px 0 0 16px;
    }

    .highcontrast .header {
        color: #fff;
        background-color: #000;
    }
    
    .bootstrap4 .header {
        color: #6c757d;
    }
    
    .e-bigger.bootstrap .header {
        height: 44px;
        font-size: 13px;
    }
</style>
    @*custom code end*@
}

@section Meta{
                    <meta name="description" content="This example demonstrates the Virtualization in ASP.NET Core MultiSelect control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
         <p>This example demonstrates the virtualization support of the MultiSelect. The component has 150 items bound to it; however, when you open the suggestion list, only few items are loaded based on the popup height, and the remaining items are loaded while scrolling.</p>
    </div>
}
@section Description{
    <div id="description">
         <p>The <code>MultiSelect</code> component supports virtualization, which improves UI performance for large amounts of data. To enable virtualization, set the <code>enableVirtualization</code> property to true. When virtualization is enabled, MultiSelect doesn't render the entire suggestion data source on initial component rendering. It loads the N number of items in the popup on initial rendering and the remaining set number of items will load while scrolling.
        Virtualization works with both local and remote data.</p>
    </div>
}
@section Title{
                    <title>ASP.NET Core MultiSelect Virtualization Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Virtualization in ASP.NET Core MultiSelect Control</h1>
                }