@page
@model EJ2CoreSampleBrowser.Pages.Maps.OSMWithSubLayer

@using Syncfusion.EJ2.Maps;

@{
    var TextStyle = new MapsFont { Size = "16px", FontFamily = "inherit" };
    var Shape = new MapsShapeSettings { Fill = "#5100a3", Opacity = 0.4 };
    var subLayer = new OSMWithSubLayer().GetAfrica();
}

@section ControlsSection{
    
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-maps id="maps" load="window.onMapLoad">
                    <e-maps-titlesettings alignment="@Syncfusion.EJ2.Maps.Alignment.Center" text="Location of Africa continent in the World map" textStyle="@TextStyle">
                    </e-maps-titlesettings>
                    <e-maps-zoomsettings enable="true"></e-maps-zoomsettings>
                    <e-maps-layers>
                        <e-maps-layer urlTemplate="https://tile.openstreetmap.org/level/tileX/tileY.png">
                        </e-maps-layer>
                        <e-maps-layer type="@Syncfusion.EJ2.Maps.Type.SubLayer" shapeData="@subLayer" shapeSettings="@Shape"></e-maps-layer>
                    </e-maps-layers>
                </ejs-maps>
                <div style="float: right">
                    <a href="https://www.openstreetmap.org/copyright" target="_blank" aria-label="OpenStreetMap">© OpenStreetMap contributors</a>
                </div><br />
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="https://www.whatarethe7continents.com/biggest-largest-smallest-continents/" target="_blank" aria-label="Seven Continents">Seven Continents</a>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function onMapLoad(args) {
        @* custom code start *@
        var theme = themeName ? themeName : "Material";
        args.maps.theme = (theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-high/i, 'High').replace(/5.3/i, '5');
        @* custom code end *@
    }    
</script>
@section Description{
    <div id="description">
        <p>
            In this example, you can see how to render the geometric layers as sublayer on the OpenStreetMap. The outline of Africa continent is rendered using GeoJSON data on the top of the OpenStreetMap.
        </p>
    </div>
}
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample visualizes the location of Africa continent in the World map.
        </p>
    </div>
}

@section Title{
    <title>ASP.NET Core Maps OSM With SubLayer Example - Syncfusion Demos </title> 
}
@section Header{
    <h1 class='sb-sample-text'>Example of OSM With SubLayer in ASP.NET Core Maps Control</h1>
}