@using Syncfusion.EJ2.TreeMap;
@section ControlsSection{
    @{
        var border = new TreeMapBorder { Color = "black", Width = 0.5 };
        var palette = new string[] { "#5B244D", "#6F3953", "#87525A", "#A26F63", "#BA896B", "#D5A574", "#F1C37D" };
        var levelBorder = new TreeMapBorder { Color = "black", Width = 0.5 };
        var labelStyle = new TreeMapFont { Size = "0px" };
        var titleFont = new TreeMapFont { FontFamily = "Segoe UI" };
    }
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <ejs-treemap id="container" load="treemapLoad" palette="palette" dataSource="ViewBag.dataSource" renderDirection="@Syncfusion.EJ2.TreeMap.RenderingMode.TopRightBottomLeft" weightValuePath="Size" format="n" enableDrillDown="true" enableRtl="true" useGroupingSeparator="true">
                    <e-treemap-legendsettings visible="false" position="@Syncfusion.EJ2.TreeMap.LegendPosition.Top" shape="@Syncfusion.EJ2.TreeMap.LegendShape.Rectangle">
                    </e-treemap-legendsettings>
                    <e-treemap-tooltipsettings visible="true" format="${Size}: ${Name}" textStyle="titleFont"></e-treemap-tooltipsettings>
                    <e-treemap-titlesettings text="List of Countries by Unemployment Rate" textStyle="titleFont"></e-treemap-titlesettings>
                    <e-treemap-leafitemsettings labelPath="Name" showLabels="true" border="border" labelStyle="titleFont"></e-treemap-leafitemsettings>
                    <e-treemap-levels>
                        <e-treemap-level groupPath="Continent" border="border" headerAlignment="@Syncfusion.EJ2.TreeMap.Alignment.Far" headerStyle="titleFont">
                        </e-treemap-level>
                        <e-treemap-level groupPath="Country" border="border" headerAlignment="@Syncfusion.EJ2.TreeMap.Alignment.Far" headerStyle="titleFont">
                        </e-treemap-level>
                    </e-treemap-levels>
                </ejs-treemap>
                <div style="float: right; margin-right: 10px;">
                    Source:
                    <a href="https://www.indexmundi.com/facts/visualizations/treemap#SL.UEM.TOTL.ZS:SL.UEM.TOTL.ZS" target="_blank" aria-label="indexmundi">www.indexmundi.com</a>
                </div>
            </div>
        </div>
    </div>
}
<script>
    @* custom code start *@
    function treemapLoad(args) {
        var theme = themeName ? themeName : 'Material';
        args.treemap.theme = ((theme.charAt(0).toUpperCase() +
            theme.slice(1)).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast'));
        }
    @* custom code end *@
</script>
@section Meta{
                    <meta name="description" content="This example demonstrates the RTL in ASP.NET Core TreeMap control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample orders the countries based on the unemployment rate by rendering TreeMap in the right-to-left (RTL) direction
        </p>
    </div>
}
@section Description{

    <div id="description">
        <p>
            In this example, you can see how to render a TreeMap from the right-to-left direction.
        </p>
        <p>
            Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item in touch enabled devices.
        </p>
        <br />
        <p style="font-weight: 500">Injecting Module</p>
        <p>
            Treemap component features are segregated into individual feature-wise modules. To use a tooltip, inject the
            <code>Tooltip</code> module using the <code>Treemap.Inject(TreeMapTooltip)</code> method, and use a legend by injecting the <code>Legend</code> module using the <code>Treemap.Inject(TreeMapLegend)</code> method.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core TreeMap RTL Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of RTL in ASP.NET Core TreeMap Control</h1>
                }