@page
@model EJ2CoreSampleBrowser_NET8.Pages.Diagram.ConnectorModel
@using Syncfusion.EJ2;
@{
    var getNodeDefaults = "getNodeDefaults";
    var getConnectorDefaults = "getConnectorDefaults";
    var setNodeTemplate = "setNodeTemplate";
}
@section ControlsSection{
    <div class="col-lg-8 control-section">
        <div class="content-wrapper" style="width:100%;background: white">
            <ejs-diagram id="container" selectedItems="@Model.selectedItems" width="100%" height="580px"  getNodeDefaults="@getNodeDefaults" getConnectorDefaults="@getConnectorDefaults" nodes="@Model.nodes" connectors="@Model.connectors" selectionChange="selectionChange" setNodeTemplate="@setNodeTemplate">
                <e-diagram-snapsettings constraints="None"></e-diagram-snapsettings>
                <e-diagram-layout type="HierarchicalTree" orientation="LeftToRight" verticalSpacing="75" margin="new Syncfusion.EJ2.Diagrams.DiagramMargin() { Left = 40, Right = 0, Bottom = 0, Top = 0 }"></e-diagram-layout>
            </ejs-diagram>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <div class="property-panel-header">
            Properties
        </div>
        <div class="row property-panel-content" id="appearance">
            <div class="row row-header">
                <b>Connector types</b>
            </div>
            <div class="row" style="padding-top: 8px">
                <div class="image-pattern-style" id="straightConnector" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_1.png")'); margin-right: 3px">
                </div>
                <div class="image-pattern-style" id="orthogonalConnector" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_2.png")'); margin: 0px 3px">
                </div>
                <div class="image-pattern-style" id="bezierConnector" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_3.png")'); margin-left: 3px">
                </div>
            </div>
            <div class="row" style="padding-top: 8px">
                <div class="image-pattern-style" id="straightConnectorWithStroke" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_4.png")'); margin-right: 3px">
                </div>
                <div class="image-pattern-style" id="orthogonalConnectorWithStroke" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_5.png")'); margin: 0px 3px">
                </div>
                <div class="image-pattern-style" id="bezierConnectorWithStroke" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_6.png")'); margin-left: 3px">
                </div>
            </div>
            <div class="row" style="padding-top: 8px">
                <div class="image-pattern-style" id="straightConnectorWithDasharray" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_7.png")'); margin-right: 3px">
                </div>
                <div class="image-pattern-style" id="orthogonalConnectorWithDasharray" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_8.png")'); margin: 0px 3px">
                </div>
                <div class="image-pattern-style" id="bezierConnectorWithDasharray" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_9.png")'); margin-left: 3px">
                </div>
            </div>
            <div class="row" style="padding-top: 8px">
                <div class="image-pattern-style" id="cornerRadious" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_10.png")'); margin-right: 3px">
                </div>
                <div class="image-pattern-style" id="sourceDecorator" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_11.png")'); margin: 0px 3px">
                </div>
                <div class="image-pattern-style" id="sourceDecoratorWithDasharray" style="background-image: url('@Url.Content("~/images/Diagram/connector/Connectors_12.png")'); margin-left: 3px">
                </div>
            </div>
        </div>
        <div class="row property-panel-content" id="decorators" style="padding-top: 10px">
            <div class="row row-header" style="padding-top: 8px">
                <b>Decorators</b>
            </div>
            <div class="row" style="padding-top: 8px; display: flex;">
                <label>Source Decorators</label>
                <div>
                    <ejs-dropdownlist id="sourceDecorator2" dataSource="@Model.decoratorShape" index="0" change="srcDecShapeChange"></ejs-dropdownlist>
                      <e-dropdownlist-fields value="text" text="value"></e-dropdownlist-fields>
                </div>
            </div>
            <div class="row" style="padding-top: 8px; display: flex;">
                <label>Target Decorators</label>
                <div>
                    <ejs-dropdownlist id="targetDecorator" dataSource="@Model.decoratorShape" index="4" change="tarDecShapeChange"></ejs-dropdownlist>
                    <e-dropdownlist-fields value="text" text="value"></e-dropdownlist-fields>
                </div>
            </div>
            <div class="row" style="padding-top: 8px; display: flex;">
                <label>Segment Decorators</label>
                <div>
                    <ejs-dropdownlist id="segmentDecorator" dataSource="@Model.decoratorShape" index="2" change="segDecShapeChange"></ejs-dropdownlist>
                    <e-dropdownlist-fields value="text" text="value"></e-dropdownlist-fields>
                </div>
            </div>
        </div>
        <div class="row property-panel-content" id="decorators" style="padding-top: 10px">
            <div class="row row-header" style="padding-top: 8px">
                <b>Decorators Size</b>
            </div>
            <div class="row" style="padding-top: 8px; display: flex;">
                <label>Source Decorators Size</label>
                <div>
                    <ejs-numerictextbox id="sourceDecoratorSize" value="12" min="10" max="20" enabled="true" format="##.##" step="1" width="100%" change="sourceDecoratorSizeChange"></ejs-numerictextbox>
                </div>
            </div>
            <div class="row" style="padding-top: 8px; display: flex;">
                <label>Target Decorators Size</label>
                <div>
                    <ejs-numerictextbox id="targetDecoratorSize" value="12" min="10" max="20" enabled="true" format="##.##" step="1" width="100%" change="targetDecoratorSizeChange"></ejs-numerictextbox>
                </div>
            </div>
            <div class="row" style="padding-top: 8px; display: flex;">
                <label>Segment Decorators Size</label>
                <div>
                    <ejs-numerictextbox id="segmentDecoratorSize" value="12" min="10" max="20" enabled="false" format="##.##" step="1" width="100%" change="segmentDecoratorSizeChange"></ejs-numerictextbox>
                </div>
            </div>
        </div>
        <div class="row property-panel-content" id="color-tab" style="padding-top: 10px">
            <div class="row row-header">
                <b>Appearance</b>
            </div>
            <div class="row" style="padding-top: 8px;display: flex;margin-right:50px;">
                <label>Line Color</label>
                <ejs-colorpicker id="color" value='#6f409f' mode="Palette" modeSwitcher="false" showButtons="false" type='color' change='colorChange'/>
            </div>
        </div>
    </div>
    <style>
        /* Css for images in property panel  */
        .image-pattern-style {
            background-color: white;
            background-size: contain;
            background-repeat: no-repeat;
            height: 45px;
            width: calc((100% - 13px) / 3);
            cursor: pointer;
            border: 1px solid #D5D5D5;
            background-position: center;
            float: left;
        }

        .row {
            margin-left: 0px;
            margin-right: 0px;
        }

        .row-header {
            font-size: 13px;
            font-weight: 500;
        }

        .col-xs-6 {
            padding-left: 0px;
            padding-right: 0px;
        }

        /* Selection indicator */
        .e-selected-style {
            border-color: #6c6c6c;
            border-width: 2px;
        }

        .row {
            display: block;
        }
       
        /* Align the names in property panel */
        label {
            display: inline-block;
            font-size: 13px;
            font-weight: 400;
            width: 100%;
            margin-top: auto;
        }
    </style>
    <script>

        function getNodeDefaults(obj, diagram) {
            if (obj.id !== 'node1') {
                //Set ports
                obj.ports = getPorts(obj);
            }
            if (obj.id !== 'node6') {
                obj.shape = { type: 'Basic', shape: 'Rectangle', cornerRadius: 10 };
                obj.width = 80;
                obj.style.strokeWidth = 2;
                obj.style.strokeColor = '#6F409F';
                obj.height = 35;
                obj.maxWidth = 80;
                obj.maxHeight = 35;
            }
        }

        function getConnectorDefaults(obj, diagram) {
            obj.type = 'Bezier';
            obj.style.strokeColor = '#6f409f';
            obj.style.strokeWidth = 2;
            obj.targetDecorator = {
                style: {
                    strokeColor: '#6f409f',
                    fill: '#6f409f',
                }
            };
            obj.segments = [
                {
                    type: 'Bezier',
                }
            ];
            obj.constraints = ej.diagrams.ConnectorConstraints.Default | ej.diagrams.ConnectorConstraints.DragSegmentThumb;
        }

        function selectionChange(args) {
            var diagram = document.getElementById("container").ej2_instances[0];
            if (diagram.selectedItems.connectors.length > 0) {
                document.getElementById("segmentDecoratorSize").ej2_instances[0].enabled = true;
            }
            else{
                document.getElementById("segmentDecoratorSize").ej2_instances[0].enabled = false;
            }
        }           

        function setNodeTemplate(obj, diagram) {
            if (obj.id === 'node6') {
                obj.offsetY = 290;
                obj.offsetX = 550;
                var canvas = new ej.diagrams.StackPanel();
                canvas.id = ej.diagrams.randomId();
                canvas.children = [];
                canvas.style.strokeWidth = 0;
                canvas.style.fill = '#e6e0eb';
                canvas.children.push(getTextElement('Events', '#a6a1e0'));
                canvas.children.push(getTextElement('Emails', '#db8ec9'));
                canvas.children.push(getTextElement('Calls', '#db8ec9'));
                canvas.children.push(getTextElement('Smart Contents', '#db8ec9'));
                return canvas;
            }
            return null;
        }

        function getTextElement(text, color) {
            let textElement = new ej.diagrams.TextElement();
            textElement.id = ej.diagrams.randomId();
            textElement.width = 80;
            textElement.height = 35;
            textElement.content = text;
            textElement.style.fill = '#6f409f';
            textElement.style.color = 'white';
            textElement.style.strokeColor = '#6f409f';
            textElement.cornerRadius = 5;
            textElement.margin = { top: 10, bottom: 10, left: 10, right: 10 };
            textElement.relativeMode = 'Object';
            return textElement;
        }

        function getPorts(obj) {
            if (obj.id === 'node2') {
                var node2Ports = [
                    { id: 'port1', offset: { x: 1, y: 0.25 }, visibility: ej.diagrams.PortVisibility.Hidden },
                    { id: 'port2', offset: { x: 1, y: 0.5 }, visibility: ej.diagrams.PortVisibility.Hidden },
                    { id: 'port3', offset: { x: 1, y: 0.75 }, visibility: ej.diagrams.PortVisibility.Hidden }
                ];
                return node2Ports;
            } else if (obj.id === 'node6') {
                let node6Ports = [
                    { id: 'port4', offset: { x: 0, y: 0.46 }, visibility: ej.diagrams.PortVisibility.Hidden },
                    { id: 'port5', offset: { x: 0, y: 0.5 }, visibility: ej.diagrams.PortVisibility.Hidden },
                    { id: 'port6', offset: { x: 0, y: 0.54 }, visibility: ej.diagrams.PortVisibility.Hidden }
                ];
                return node6Ports;
            } else {
                let ports = [
                    { id: 'portin', offset: { x: 0, y: 0.5 }, visibility: ej.diagrams.PortVisibility.Hidden },
                    { id: 'portOut', offset: { x: 1, y: 0.5 }, visibility: ej.diagrams.PortVisibility.Hidden },
                ];
                return ports;
            }
        }

        document.getElementById('appearance').onclick = function (args) {
            let target = args.target;
            var diagram = document.getElementById("container").ej2_instances[0];
            @*custom code start*@
            let selectedElement = document.getElementsByClassName('e-selected-style');
            if (selectedElement.length) {
                selectedElement[0].classList.remove('e-selected-style');
            }
            @*custom code end*@
            if (target.className === 'image-pattern-style') {
                switch (target.id) {
                    case 'straightConnector':
                        applyConnectorStyle(false, false, false, 'Straight', target, 1);
                        break;
                    case 'orthogonalConnector':
                        applyConnectorStyle(false, false, false, 'Orthogonal', target, 1);
                        break;
                    case 'bezierConnector':
                        applyConnectorStyle(false, false, false, 'Bezier', target, 1);
                        break;
                    case 'straightConnectorWithStroke':
                        applyConnectorStyle(false, false, false, 'Straight');
                        break;
                    case 'orthogonalConnectorWithStroke':
                        applyConnectorStyle(false, false, false, 'Orthogonal');
                        break;
                    case 'bezierConnectorWithStroke':
                        applyConnectorStyle(false, false, false, 'Bezier');
                        break;
                    case 'straightConnectorWithDasharray':
                        applyConnectorStyle(true, false, false, 'Straight');
                        break;
                    case 'orthogonalConnectorWithDasharray':
                        applyConnectorStyle(true, false, false, 'Orthogonal');
                        break;
                    case 'bezierConnectorWithDasharray':
                        applyConnectorStyle(true, false, false, 'Bezier');
                        break;
                    case 'cornerRadious':
                        applyConnectorStyle(false, false, true, 'Orthogonal');
                        break;
                    case 'sourceDecorator':
                        applyConnectorStyle(false, true, false, 'Straight');
                        break;
                    case 'sourceDecoratorWithDasharray':
                        applyConnectorStyle(true, true, false, 'Straight');
                        break;
                }
                @*custom code start*@
                target.classList.add('e-selected-style');
                @*custom code end*@
            }
        };
        function applyConnectorStyle(dashedLine, sourceDec, isRounded, type, target, strokeWidth) {
            var diagram = document.getElementById("container").ej2_instances[0];
            for (var i = 0; i < diagram.connectors.length; i++) {
                var connector = diagram.connectors[i];
                connector.style.strokeWidth = !strokeWidth ? 2 : strokeWidth;
                connector.type = type;
                connector.cornerRadius = isRounded ? 5 : 0;
                connector.style.strokeDashArray = dashedLine ? '5,5' : '';
                if (sourceDec) {
                    connector.sourceDecorator = {
                        style: {
                            strokeColor: connector.style.strokeColor,
                            fill: connector.style.strokeColor, strokeWidth: 2
                        }, shape: 'Circle'
                    };
                    document.getElementById("sourceDecorator2").value='Circle';
                } else {
                    connector.sourceDecorator = { shape: 'None' };
                    document.getElementById("sourceDecorator2").value='None'
                }
                connector.targetDecorator = {
                    style: {
                        strokeColor: connector.style.strokeColor,
                        fill: connector.style.strokeColor, strokeWidth: 2
                    }, shape: 'Arrow'
                };
                document.getElementById("targetDecorator").value='Arrow'
                diagram.dataBind();
            }
        };
        function colorChange(args) {
            var diagram = document.getElementById("container").ej2_instances[0];
            for(var i=0;i<diagram.connectors.length;i++)
            {
                diagram.connectors[i].style.strokeColor=args.currentValue.hex;
                diagram.connectors[i].targetDecorator.style.strokeColor= args.currentValue.hex;
                diagram.connectors[i].targetDecorator.style.fill= args.currentValue.hex;
                diagram.connectors[i].sourceDecorator.style.strokeColor= args.currentValue.hex;
                diagram.connectors[i].sourceDecorator.style.fill= args.currentValue.hex;
            }
            diagram.dataBind();
        };
        function srcDecShapeChange(args)
        {
            var diagram = document.getElementById("container").ej2_instances[0];
            for (var i = 0; i < diagram.connectors.length; i++) {
                diagram.connectors[i].sourceDecorator = {
                 shape: args.itemData.value,
                 style:{
                        strokeColor:  diagram.connectors[i].style.strokeColor,
                        fill:  diagram.connectors[i].style.strokeColor,
                 }
                };
            }
            diagram.dataBind();
   
        };
        function tarDecShapeChange(args)
        {
            var diagram = document.getElementById("container").ej2_instances[0];
            for (var i = 0; i < diagram.connectors.length; i++) {
                diagram.connectors[i].targetDecorator = {
                    shape: args.itemData.value,
                    style: {
                        strokeColor: diagram.connectors[i].style.strokeColor,
                        fill:  diagram.connectors[i].style.strokeColor,
                    }
                };
                diagram.dataBind();
            }   
        };
        function segDecShapeChange(args)
        {
            var diagram = document.getElementById("container").ej2_instances[0];
            for (var i = 0; i < diagram.connectors.length; i++) {
                diagram.segmentThumbShape = args.itemData.value;
            } 
            diagram.dataBind();  
        };

        //Change source decorator size
        function sourceDecoratorSizeChange(args) {
            var diagram = document.getElementById("container").ej2_instances[0];
            for (var i = 0; i < diagram.connectors.length; i++) {
                diagram.connectors[i].sourceDecorator.width = args.value;
                diagram.connectors[i].sourceDecorator.height = args.value;
            }
            diagram.dataBind();
        }
        //Change target decorator size
        function targetDecoratorSizeChange(args) {
            var diagram = document.getElementById("container").ej2_instances[0];
            for (var i = 0; i < diagram.connectors.length; i++) {
                diagram.connectors[i].targetDecorator.width = args.value;
                diagram.connectors[i].targetDecorator.height = args.value;
            }
            diagram.dataBind();
        }
        //Change segment decorator size
        function segmentDecoratorSizeChange(args) {
            var diagram = document.getElementById("container").ej2_instances[0];
            var connector=diagram.selectedItems.connectors[0];
            diagram.segmentThumbSize = args.value;
            diagram.clearSelection();
            diagram.select([diagram.nameTable[connector.id]]);
            diagram.dataBind();
        }

    </script>
}
@section ActionDescription{
    <p>
        This sample visualizes the data flow in a marketing process using predefined shapes and connectors. Different types of connectors and decorators are used to customize the appearance, path, and direction of the data flow.
    </p>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Connectors in ASP.NET Core Diagram control. Explore here for more details."/>
                }
@section Description{
    <p>
    In this example, you can see how to add connectors to connect the shapes and how to customize the appearance of the connectors.
    You can use the <code>style</code> property of the connector to customize its stroke style. You can use the
    <code>cornerRadius</code> property to add connectors with rounded corners.
</p>
    <p>
        To change the appearance, click on different styles in the property panel to modify the connector type, decorator shapes, and decorator sizes.
        The <code>type</code> property of the connector defines its segment type. The <code>shape</code> property specifies the shapes for the source, target, and segment decorators. You can adjust the size of the source and target decorators by setting their
        <code>width</code>and <code>height</code>. Additionally, the<code>segmentThumbSize</code>property allows you to modify the size of the segment decorator when the connector is selected.
    </p>

    <p>
        In this example, the shapes are automatically arranged using hierarchical tree layout.

    </p>
<p style="font-weight: 500">Injecting Module</p>
    <p> Diagram component's features are segregated into individual feature-wise modules. To automatically arrange the shapes, we need to Inject <code>HierarchicalTree</code> module using <code>Diagram.Inject(HierarchicalTree)</code> method.</p>
}
@section Title{
                    <title>ASP.NET Core Diagram Connectors Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Connectors in ASP.NET Core Diagram Control</h1>
                }