@page
@model EJ2CoreSampleBrowser.Pages.AppBar.ColorModel
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations;

@section ControlsSection {
    <div class="col-lg-12 control-section color-appbar-section">
        <div class="color-appbar-container">
            @foreach (ColorData AppBarColor in Model.AppBarColors)
            {
                <div class="row">
                    <div class="col-md-12">
                        <h5>@AppBarColor.ColorMode</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ejs-appbar id=@(AppBarColor.ColorMode + "AppBar") colorMode="@AppBarColor.AppBarColorMode">
                            <e-content-template>
                                <ejs-button aria-label="menu" id=@(AppBarColor.ColorMode + "ButtonMenu") cssClass="e-inherit menu" iconCss="e-icons e-menu"></ejs-button>
                                <ejs-button id=@(AppBarColor.ColorMode + "ButtonHome") cssClass="e-inherit home e-appbar-menu" content="Home"></ejs-button>
                                <ejs-dropdownbutton id=@(AppBarColor.ColorMode + "ProductDropDownButton") cssClass=@("e-inherit e-appbar-menu" + AppBarColor.ColorClass) content="Products" items="@Model.ProductDropDownButtonItems"></ejs-dropdownbutton>
                                <ejs-dropdownbutton id=@(AppBarColor.ColorMode + "CompanyDropDownButton") cssClass=@("e-inherit e-appbar-menu" + AppBarColor.ColorClass) content="Company" items="@Model.CompanyDropDownButtonItems"></ejs-dropdownbutton>
                                <div class="e-appbar-spacer"></div>
                                <div style="width: 200px; margin-right:10px">
                                    <span class="e-input-group e-control-wrapper e-inherit">
                                        <input type="text" class="e-searchinput e-input" placeholder="Search">
                                        <span class="e-icons e-search e-input-group-icon"></span>
                                    </span>
                                </div>
                                <div class="e-appbar-separator"></div>
                                <ejs-button id=@(AppBarColor.ColorMode + "ButtonLogin") isPrimary=@(AppBarColor.IsPrimary) cssClass=@(AppBarColor.LoginClass) Content="Login"></ejs-button>
                                <ejs-menu id=@(AppBarColor.ColorMode + "VerticalMenu") cssClass=@("e-inherit e-appbar-icon-menu" + AppBarColor.ColorClass) items="@Model.VerticalMenuItems" beforeItemRender="itemRender"></ejs-menu>
                            </e-content-template>
                        </ejs-appbar>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>

    <script>
        var input = document.querySelectorAll('.color-appbar-section .e-input-group .e-input,.e-float-input.e-input-group input');
        var focusFn = function (index) {
            return function () {
                getParentNode(input[index]).classList.add('e-input-focus');
            };
        };
        var blurFn = function (index) {
            return function () { getParentNode(input[index]).classList.remove('e-input-focus'); };
        };
        for (var i = 0; i < input.length; i++) {
            input[i].addEventListener('focus', focusFn(i));
            input[i].addEventListener('blur', blurFn(i));
        }
        function getParentNode(element) {
            var parentNode = element.parentNode;
            if (parentNode.classList.contains('e-input-in-wrap')) {
                return parentNode.parentNode;
            }
            return parentNode;
        }
        function itemRender(args) {
            if (args.element.children.length > 0 && args.element.children[0].classList.contains("e-more-vertical-1")) {
                args.element.setAttribute('aria-label', 'more vertical');
            }
        }
    </script>
}

@section Meta{
    <meta name="description" content="This example demonstrates the Color modes in ASP.NET Core AppBar control." />
}

@section ActionDescription{
    <div id="action-description">
        This sample demonstrates the available types of color in the <strong>ASP.NET Core AppBar</strong> component.
    </div>
}

@section Description{
    <div id="description">
        <p>In this demo, the available types of background color for <strong>ASP.NET Core AppBar</strong> are showcased. The background and font colors can be set using the <strong>ColorMode</strong> property. The different types are <code>light</code>, <code>dark</code>, <code>primary</code>, and <code>inherit</code>.</p>
        <p><code>Light</code> - The AppBar can be displayed with a light background.</p>
        <p><code>Dark</code> - The AppBar can be displayed with a dark background.</p>
        <p><code>Primary</code> - The AppBar can be displayed with primary colors.</p>
        <p><code>Inherit</code> - The AppBar inherits the color from its parent element.</p> <br />
        <P> On <code>mobile devices</code>, media query is used to display the AppBar in adaptive views. You can click the menu to see the hidden AppBar content.</P>
    </div>
}

@section Title{
    <title>ASP.NET Core AppBar Color Mode Example - Syncfusion Demos </title>
}
@section Header{
    <h1 class='sb-sample-text'>Example of Color mode in ASP.NET Core AppBar Control</h1>
}

<style>
    .color-appbar-section .e-dropdown-btn.e-inherit,
    .color-appbar-section .e-btn.e-inherit.home {
        margin: 0 5px;
    }

    .color-appbar-section .e-appbar .e-appbar-separator {
        margin: 0 10px;
    }

    .color-appbar-section .e-appbar-icon-menu {
        display: none;
    }

    @@media screen and (max-width: 768px) {

        .color-appbar-section .e-appbar-icon-menu {
            display: block;
        }

        .color-appbar-section .login,
        .color-appbar-section .e-appbar-separator,
        .color-appbar-section .e-dropdown-btn.e-inherit.e-appbar-menu,
        .color-appbar-section .e-menu-wrapper.e-inherit.e-appbar-menu,
        .color-appbar-section .e-menu-wrapper.e-inherit.e-appbar-icon-menu .e-menu .e-menu-item .e-caret,
        .color-appbar-section .e-btn.e-inherit.e-appbar-menu {
            display: none;
        }

        .color-appbar-section .e-menu-wrapper.e-inherit.e-appbar-icon-menu ul .e-menu-item.e-menu-caret-icon {
            padding: 0 8px;
        }

        .color-appbar-section .e-menu-wrapper.e-inherit ul .e-menu-item .e-menu-icon {
            margin-right: 0;
        }

        .color-appbar-section .e-menu-wrapper.e-inherit {
            margin: 0 10px;
        }

        .fabric .color-appbar-section .e-menu-wrapper.e-inherit ul.e-menu:not(.e-vertical),
        .fabric-dark .color-appbar-section .e-menu-wrapper.e-inherit ul.e-menu:not(.e-vertical) {
            padding: 0;
        }

        .color-appbar-section .menu.e-ripple {
            overflow: visible;
        }

        .color-appbar-section .e-input-group.e-control-wrapper.e-inherit {
            margin-left: 10px;
        }

        .color-appbar-section .menu {
            margin-bottom: 3px;
        }
    }
</style>
