@page
@using Syncfusion.EJ2.Charts;

@section ControlsSection {
    <div class="control-section">
        <div id="spark-container" class="row">
            <div class="cols-sample-area">
                <table style="width:100%;">
                    <tr>
                        <td align="center">
                            <div>Mean working hours for a month</div>
                            <div><i>(DateTime axis)</i></div>
                        </td>
                        <td style="padding: 10px;">
                            <div id="datetime" style="width:170px; height:100px">
                                <ejs-sparkline id="datetime" load="sparkLoad" height="100px" width="170px" lineWidth="1" type="@SparklineType.Column" fill="#3C78EF"
                                               valueType="@Syncfusion.EJ2.Charts.SparklineValueType.DateTime" xName="xDate" yName="yval">
                                    <e-sparkline-tooltipsettings visible="true" format="${xDate} : ${yval}hrs">
                                    </e-sparkline-tooltipsettings>
                                </ejs-sparkline>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div>Percentage of the students in a class</div>
                            <div><i>(Category axis)</i></div>
                        </td>
                        <td style="padding: 10px;">
                            <div id="category" style="width:170px; height:100px">
                                <ejs-sparkline id="category" load="sparkLoad" height="100px" width="170px" lineWidth="1" type="@SparklineType.Column" fill="#3C78EF"
                                               valueType="@Syncfusion.EJ2.Charts.SparklineValueType.Category" xName="xval" yName="yval">
                                    <e-sparkline-tooltipsettings visible="true" format="${xval} : ${yval}%">
                                    </e-sparkline-tooltipsettings>
                                </ejs-sparkline>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div>Expenditure details of various trips</div>
                            <div><i>(Numeric axis)</i></div>
                        </td>
                        <td style="padding: 10px;">
                            <div id="numeric" style="width:170px; height:100px">
                                <ejs-sparkline id="numeric" load="sparkLoad" height="100px" width="170px" lineWidth="1" type="@SparklineType.Column" fill="#3C78EF"
                                               valueType="@Syncfusion.EJ2.Charts.SparklineValueType.Numeric" xName="x" yName="yval">
                                    <e-sparkline-tooltipsettings visible="true" format="${x} : $${yval}">
                                    </e-sparkline-tooltipsettings>
                                </ejs-sparkline>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    @*custom code start*@
    <style>
        td {
            font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
            font-size: 14px;
            font-weight: 500;
        }
    </style>
    @*custom code end*@
    <script type="text/javascript">
        function sparkLoad(args) {
            var selectedTheme = themeName ? themeName : 'Fluent2';
            args.sparkline.theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1).replace(/-dark/i, 'Dark').replace(/contrast/i, 'Contrast').replace(/-highContrast/i, 'HighContrast').replace(/5.3/i, '5'));
            if (args.sparkline.element.id === "datetime") {
                args.sparkline.dataSource = [
                    { xDate: new Date(2018, 0, 1), x: 0, yval: 4 },
                    { xDate: new Date(2018, 0, 2), x: 1, yval: 4.5 },
                    { xDate: new Date(2018, 0, 3), x: 2, yval: 8 },
                    { xDate: new Date(2018, 0, 4), x: 3, yval: 7 },
                    { xDate: new Date(2018, 0, 5), x: 4, yval: 6 },
                    { xDate: new Date(2018, 0, 8), x: 5, yval: 8 },
                    { xDate: new Date(2018, 0, 9), x: 6, yval: 8 },
                    { xDate: new Date(2018, 0, 10), x: 7, yval: 6.5 },
                    { xDate: new Date(2018, 0, 11), x: 8, yval: 4 },
                    { xDate: new Date(2018, 0, 12), x: 9, yval: 5.5 },
                    { xDate: new Date(2018, 0, 15), x: 10, yval: 8 },
                    { xDate: new Date(2018, 0, 16), x: 11, yval: 6 },
                    { xDate: new Date(2018, 0, 17), x: 12, yval: 6.5 },
                    { xDate: new Date(2018, 0, 18), x: 13, yval: 7.5 },
                    { xDate: new Date(2018, 0, 19), x: 14, yval: 7.5 },
                    { xDate: new Date(2018, 0, 22), x: 15, yval: 4 },
                    { xDate: new Date(2018, 0, 23), x: 16, yval: 8 },
                    { xDate: new Date(2018, 0, 24), x: 17, yval: 6 },
                    { xDate: new Date(2018, 0, 25), x: 18, yval: 7.5 },
                    { xDate: new Date(2018, 0, 26), x: 19, yval: 4.5 },
                    { xDate: new Date(2018, 0, 29), x: 20, yval: 6 },
                    { xDate: new Date(2018, 0, 30), x: 21, yval: 5 },
                    { xDate: new Date(2018, 0, 31), x: 22, yval: 7 }
                ];
            } else if (args.sparkline.element.id === "category") {
                args.sparkline.dataSource = [
                    { x: 0, xval: 'Robert', yval: 60 },
                    { x: 1, xval: 'Andrew', yval: 65 },
                    { x: 2, xval: 'Suyama', yval: 70 },
                    { x: 3, xval: 'Michael', yval: 80 },
                    { x: 4, xval: 'Janet', yval: 55 },
                    { x: 5, xval: 'Davolio', yval: 90 },
                    { x: 6, xval: 'Fuller', yval: 75 },
                    { x: 7, xval: 'Nancy', yval: 85 },
                    { x: 8, xval: 'Margaret', yval: 77 },
                    { x: 9, xval: 'Steven', yval: 68 },
                    { x: 10, xval: 'Laura', yval: 96 },
                    { x: 11, xval: 'Elizabeth', yval: 57 }
                ];
            } else {
                args.sparkline.dataSource = [
                    { x: 1, xval: 2010, yval: 190 },
                    { x: 2, xval: 2011, yval: 165 },
                    { x: 3, xval: 2012, yval: 158 },
                    { x: 4, xval: 2013, yval: 175 },
                    { x: 5, xval: 2014, yval: 200 },
                    { x: 6, xval: 2015, yval: 180 },
                    { x: 7, xval: 2016, yval: 210 }
                ];
            }
        }
    </script>
}
@section Meta{
                    <meta name="description" content="This example demonstrates the Axis Types in ASP.NET Core Sparkline control. Explore here for more details."/>
                }
@section ActionDescription{
    <div id="action-description">
        <p>
            This sample depicts the various types of axis value types available in Sparkline.
        </p>
    </div>
}
@section Description{
    <div id="description">
        <p>
            In this example, you can see the sparkline rendered with various axis value types such as date time, category and numeric. Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over the data points or tap on a data point in touch enabled devices.
        </p>
    </div>
}
@section Title{
                    <title>ASP.NET Core Sparkline Axis Types Example - Syncfusion Demos </title> 
                }
@section Header{
                    <h1 class='sb-sample-text'>Example of Axis Types in ASP.NET Core Sparkline Control</h1>
                }